.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #31995e;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #31995e;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: 'PingFangTC-Regular', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'STHeitiSC-Light', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #fff;
  margin: 0;
}
body.docs {
  padding-top: 61px;
}
@media screen and (max-width: 900px) {
  body.docs {
    padding-top: 0;
  }
}
a {
  text-decoration: none;
  color: #34495e;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #2c3e50;
}
code,
pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: rgba(255,255,255,0);
}
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
a.button {
  padding: 0.75em 2em;
  display: inline-block;
  color: #fff;
  background-color: #31995e;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #31995e;
}
a.button.white {
  background-color: #fff;
  color: #31995e;
}
.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8em 0.8em 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight .code .line {
  min-height: 1.5em;
}
.highlight.html .code:after,
.highlight.js .code:after,
.highlight.bash .code:after,
.highlight.css .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:after {
  content: 'HTML';
}
.highlight.js .code:after {
  content: 'JS';
}
.highlight.bash .code:after {
  content: 'Shell';
}
.highlight.css .code:after {
  content: 'CSS';
}
#main {
  position: relative;
  padding: 0 60px 30px;
  overflow-x: hidden;
}
#nav .nav-link {
  cursor: pointer;
}
#nav .nav-dropdown-container .nav-link:hover {
  border-bottom: none;
}
#nav .nav-dropdown-container:hover .nav-dropdown {
  display: block;
}
#nav .nav-dropdown-container.language {
  margin-left: 20px;
}
#nav .nav-dropdown-container .arrow {
  pointer-events: none;
}
#nav .nav-dropdown {
  display: none;
  box-sizing: border-box;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  position: absolute;
  top: 100%;
  right: -15px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
  white-space: nowrap;
}
#nav .nav-dropdown li {
  line-height: 1.8em;
  margin: 0;
  display: block;
}
#nav .nav-dropdown li > ul {
  padding-left: 0;
}
#nav .nav-dropdown li:first-child h4 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#nav .nav-dropdown a,
#nav .nav-dropdown h4 {
  padding: 0 24px 0 20px;
}
#nav .nav-dropdown h4 {
  margin: 0.45em 0 0;
  padding-top: 0.45em;
  border-top: 1px solid #eee;
}
#nav .nav-dropdown a {
  color: #3a5169;
  font-size: 0.9em;
  display: block;
}
#nav .nav-dropdown a:hover {
  color: #e31436;
}
#nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc;
}
#header {
  box-sizing: border-box;
  height: 80px;
  padding: 26px 40px;
  z-index: 2;
}
#header #nav {
  display: flex;
  align-items: center;
  top: 0;
  right: 25px;
  height: 80px;
}
#header #nav .nav-dropdown-container .nav-link {
  margin-right: 0;
}
#header .nav-link {
  font-size: 14px;
  margin-right: 30px;
  color: #999;
}
#header .nav-link:hover,
#header .nav-link.current {
  padding-bottom: 10px;
}
#header .nav-link.current {
  color: #666;
}
#homepage .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 26px 40px;
  transition: all 0.8s ease-out;
}
#homepage .header-1 {
  background-color: rgba(0,0,0,0.28);
}
#homepage .header-1 .nav-link {
  color: #72a0d7;
}
#homepage .header-2 {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #f0f0f0;
}
#homepage .header-2 .nav-link {
  color: #999;
}
#homepage .header-2 .nav-link.current {
  color: #666;
}
#homepage .header-3 {
  background-color: rgba(0,0,0,0.32);
}
#homepage .header-3 .nav-link {
  color: #72a0d7;
}
#homepage .header-4 {
  background-color: rgba(0,0,0,0.32);
}
#homepage .header-4 .nav-link {
  color: #72a0d7;
}
#homepage .header .u-logo {
  background-size: 89px 28px;
}
body.docs #header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255,255,255,0.9);
  border-color: #f0f0f0;
}
body.docs #nav {
  position: fixed;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 60px;
  top: 10px;
  height: 40px;
  line-height: 40px;
}
#nav .break {
  display: none;
}
#nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.6em;
}
#nav li a:hover {
  color: #e31436;
}
.nav-link {
  padding-bottom: 3px;
}
.nav-link:hover,
.nav-link.current {
  color: #e31436;
  border-bottom: 3px solid #e31436;
}
.search-query {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  border: 1px solid #e3e3e3;
  color: #2c3e50;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.2s ease;
  background: #fff url("/images/search.png") 8px 5px no-repeat;
  background-size: 20px;
  vertical-align: middle !important;
}
.search-query:focus {
  border-color: #e31436;
}
#logo {
  display: inline-block;
  line-height: 40px;
  font-family: 'PingFangTC-Regular', 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
.u-logo {
  display: inline-block;
  width: 89px;
  height: 28px;
}
.u-logo-grey {
  background: url("//haitao.nos.netease.com/8b4b2e7b-6a24-46dd-aa71-301ee0203e34.png") no-repeat;
}
.u-logo-white {
  background: url("//haitao.nos.netease.com/d1eb27aa-a64a-495d-bd56-aad944a1e423.png") no-repeat;
}
#mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 9;
  display: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
#mobile-bar .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
}
#mobile-bar .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/logo.svg") center center no-repeat;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
.sidebar {
  position: absolute;
  z-index: 10;
  top: 81px;
  left: 0;
  bottom: 0;
  width: 260px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  border-right: 1px #e3e8ed solid;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8em;
}
.sidebar .menu-root {
  padding-left: 0;
  margin-left: 0;
}
.sidebar .menu-root>li {
  box-sizing: border-box;
  border-bottom: 1px #e3e8ed solid;
  background-color: #fff;
}
.sidebar .menu-root>li.current {
  background-color: #f6f9fc;
}
.sidebar .menu-root .submenu-title {
  font-weight: 700;
  padding: 12px 0 11px 40px;
  font-size: 14px;
}
.sidebar .menu-root .submenu-title .u-icon {
  margin-left: -14px;
  margin-right: 8px;
  font-size: 14px;
}
.sidebar .menu-root .submenu>li {
  margin-bottom: 15px;
  font-size: 12px;
}
.sidebar .menu-root .submenu>li span {
  color: #999;
}
.sidebar .version-select {
  vertical-align: middle;
  margin-left: 5px;
}
.sidebar .menu-sub {
  font-size: 0.85em;
}
.sidebar .sidebar-link {
  color: #7f8c8d;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #e31436;
}
.sidebar .sidebar-link.new:after {
  content: "NEW";
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #2973b7;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.sidebar .sidebar-link.beta:after {
  content: "BETA";
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #f66;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.sidebar .sidebar-link:hover {
  border-bottom: 2px solid #e31436;
}
.sidebar .section-link.active {
  font-weight: bold;
  color: #e31436;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
.sidebar .main-sponsor {
  color: #7f8c8d;
  font-size: 0.85em;
}
.sidebar .main-sponsor a {
  margin: 10px 0;
}
.sidebar .main-sponsor img,
.sidebar .main-sponsor a {
  width: 125px;
  display: inline-block;
}
.sidebar .become-backer {
  border: 1px solid #e31436;
  border-radius: 2em;
  display: inline-block;
  color: #e31436;
  font-size: 0.8em;
  width: 125px;
  padding: 4px 0;
  text-align: center;
  margin-bottom: 20px;
}
.sidebar .nav-dropdown h4 {
  font-weight: normal;
  margin: 0;
}
@media screen and (min-width: 901px) {
  .sidebar .menu-root a:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: transparent;
  }
  .sidebar .menu-root a:hover {
    color: #e31436;
  }
  .sidebar .menu-root a:hover span {
    color: #e31436;
  }
  .sidebar .menu-root a:hover::before {
    background-color: #e31436;
  }
  .sidebar .menu-root a.current {
    color: #e31436;
  }
  .sidebar .menu-root a.current span {
    color: #e31436;
  }
  .sidebar .menu-root a.current:before {
    background-color: #e31436;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    position: fixed;
    z-index: 8;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
  .sidebar .search-query {
    width: 200px;
    margin-bottom: 10px;
  }
  .sidebar .main-menu {
    display: block;
  }
  .sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .sidebar .menu-root li,
  .sidebar .menu-root li.current {
    background-color: transparent;
    border-bottom: 0;
    margin-bottom: 20px;
  }
  .sidebar .menu-root .submenu-title {
    padding: 0;
    font-size: 16px;
  }
  .sidebar .menu-root .submenu-title .u-icon {
    display: none;
  }
  .sidebar .menu-root a {
    border-bottom: 2px transparent solid;
  }
  .sidebar .menu-root a:hover {
    color: #e31436;
    border-bottom-color: #e31436;
  }
  .sidebar .menu-root a:hover span {
    color: #e31436;
  }
  .sidebar .menu-root .submenu {
    margin-left: -40px;
  }
  .sidebar .menu-root .submenu>li {
    margin-bottom: 0;
    font-size: 14px;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: sans-serif, 'Arial';
}
#fullpage {
  height: 100%;
}
.m-section {
  height: 100%;
}
.m-section .section_wrap {
  position: relative;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
.m-section .section_desc {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.m-section .section_desc-1 {
  color: #888;
  line-height: 36px;
}
.m-section .section_desc-2 {
  line-height: 36px;
  margin-top: 21px;
  margin-bottom: 43px;
  color: #888;
}
.m-section .section_desc-3 {
  color: #e1f5ff;
  line-height: 36px;
}
.m-section .section_btns {
  margin-top: 8px;
}
.m-section .section_btn {
  display: inline-block;
  width: 94px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #f31919;
  border: 1px solid #f31919;
  border-radius: 4px;
}
.m-section .section_btn-white {
  background: none;
  border: 1px solid #fff;
  margin-left: 10px;
}
.m-section .section_tt {
  font-size: 48px;
  color: #666;
  line-height: 48px;
}
.m-section .section_tt-white {
  color: #fff;
}
.m-section1 {
  background: #1d2e45 url("//haitao.nos.netease.com/056f5787-daa5-4a46-8eb4-d662eb6c7618.jpg") no-repeat scroll right bottom;
  background-size: 66%;
}
.m-section1 .section1_logo {
  width: 189px;
  height: 60px;
  margin-bottom: 6px;
}
.m-section1 .section1_left {
  position: absolute;
  left: 8.2%;
  top: calc(27.7% + 12%);
  z-index: 2;
}
.m-section1 .section1_divider {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 0 12px;
  vertical-align: bottom;
  background: #939393;
}
.m-section1 .section1_right {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("//haitao.nos.netease.com/64daa6f4-aeb7-41ce-a57b-c582b258a49e.png") no-repeat scroll 89% calc(50% + 12%);
  background-size: 46%;
}
.m-section1 .section1_arrow {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 12px;
  background: url("//haitao.nos.netease.com/94b0dfad-7d35-4903-a781-2809d5d26f64.png");
  background-size: cover;
  animation: bounce 1.5s ease-in-out infinite alternate;
}
.m-section2 {
  background: #fff url("//haitao.nos.netease.com/0eff8981-f60c-4e70-a0b5-e0e0d86573ed.jpg") no-repeat;
  background-size: cover;
}
.m-section2 .section2_right {
  position: absolute;
  width: 500px;
  left: 60.6%;
  top: calc(26.8% + 12%);
}
.m-section2 .section2_left {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("//haitao.nos.netease.com/1335d2b1-0d35-4943-819a-ff65d9602c16.png") no-repeat scroll 20% calc(42% + 15%);
  background-size: 36.8%;
}
.m-section3 {
  background-image: linear-gradient(-144deg, #3ca9f2 0%, #3f80df 100%);
}
.m-section3 .section3_left {
  position: absolute;
  width: 410px;
  left: 10%;
  top: calc(27.4% + 12%);
  z-index: 2;
}
.m-section3 .section3_right {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("//haitao.nos.netease.com/51e3a64c-f220-4aa6-a30f-b0fbafd16d97.png") no-repeat scroll 87% calc(39% + 12%);
  background-size: 43.7%;
}
.m-section4 {
  background: #1a2e46 url("//haitao.nos.netease.com/250b92a1-47a8-4383-af2a-8dc6573d0af9.png") no-repeat;
  background-size: 100%;
}
.m-section4 .section4_inner {
  position: absolute;
  width: 260px;
  height: 184px;
  top: 50%;
  left: 50%;
  margin-top: -172px;
  margin-left: -130px;
  text-align: center;
}
.m-section4 .section4_logo {
  display: inline-block;
  width: 148px;
  height: 46px;
  background-size: 100%;
}
.m-section4 .section4_subtt {
  color: #a0dfff;
  font-size: 24px;
  line-height: 24px;
  margin: 32px 0;
}
.m-section4 .section4_subtt:after {
  content: ' ';
  display: inline-block;
  width: 3px;
  height: 24px;
  vertical-align: bottom;
  margin-left: 5px;
  background: #a0dfff;
  opacity: 1;
  animation: blink 1.2s ease-in-out infinite;
}
.m-anchors {
  position: fixed;
  right: 40px;
  top: 50%;
  height: 62px;
  margin-top: -31px;
  list-style: none;
  padding: 0;
}
.m-anchors .anchors_item {
  width: 8px;
  height: 8px;
  background: #3276c7;
  margin-bottom: 10px;
  transition: all 0.5s ease-out;
}
.m-anchors .anchors_item.current {
  background: #f31919;
}
.m-ft {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 41px 0;
  border-top: 1px solid #263950;
}
.m-ft .ft_wrap {
  width: 900px;
  margin: 0 auto;
}
.m-ft .ft_links {
  float: left;
  width: 225px;
  padding-left: 50px;
  list-style: none;
  font-size: 12px;
  color: #667a92;
  line-height: 28px;
  box-sizing: border-box;
}
.m-ft .ft_links a {
  color: #667a92;
}
.m-ft .ft_tt {
  margin-bottom: 8px;
  font-size: 14px;
  color: #fff;
}
/* transitions */
.m-section2 .section_tt,
.m-section3 .section_tt {
  transition: all 1s 0.4s;
}
.m-section2 .section_desc,
.m-section3 .section_desc {
  transition: all 1s 0.3s;
}
.m-section2 .section_btns,
.m-section3 .section_btns {
  transition: all 1s 0.2s;
}
.m-section2 .section_tt,
.m-section2 .section_desc,
.m-section2 .section_btns,
.m-section3 .section_tt,
.m-section3 .section_desc,
.m-section3 .section_btns {
  transform: translate(0, -100px);
  opacity: 0;
}
.m-section2.active .section_tt,
.m-section2.active .section_desc,
.m-section2.active .section_btns,
.m-section3.active .section_tt,
.m-section3.active .section_desc,
.m-section3.active .section_btns {
  transform: translate(0, 0);
  opacity: 1;
}
.m-section2 .section2_left,
.m-section3 .section3_right {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: transform 1s 0.2s, opacity 1s 0.2s;
}
.m-section2.active .section2_left,
.m-section3.active .section3_right {
  transform: translate(0, 0);
  opacity: 1;
}
.m-section1 .section1_right {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.m-section1.loaded .section1_right {
  opacity: 1;
  transform: translate(0, 0);
}
.m-section4 .section4_logo {
  transform: translate(0, -100px);
  opacity: 0;
  transition: transform 1s 0.2s, opacity 1s 0.2s;
}
.m-section4.active .section4_logo {
  transform: translate(0, 0);
  opacity: 1;
}
@-moz-keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@-o-keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@-moz-keyframes blink {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  to {
    opacity: 0;
  }
}
@-o-keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
