.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #31995e;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #31995e;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: 'PingFangTC-Regular', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'STHeitiSC-Light', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #fff;
  margin: 0;
}
body.docs {
  padding-top: 61px;
}
@media screen and (max-width: 900px) {
  body.docs {
    padding-top: 0;
  }
}
a {
  text-decoration: none;
  color: #34495e;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #2c3e50;
}
code,
pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: rgba(255,255,255,0);
}
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
a.button {
  padding: 0.75em 2em;
  display: inline-block;
  color: #fff;
  background-color: #31995e;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #31995e;
}
a.button.white {
  background-color: #fff;
  color: #31995e;
}
.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8em 0.8em 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight .code .line {
  min-height: 1.5em;
}
.highlight.html .code:after,
.highlight.js .code:after,
.highlight.bash .code:after,
.highlight.css .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:after {
  content: 'HTML';
}
.highlight.js .code:after {
  content: 'JS';
}
.highlight.bash .code:after {
  content: 'Shell';
}
.highlight.css .code:after {
  content: 'CSS';
}
#main {
  position: relative;
  padding: 0 60px 30px;
  overflow-x: hidden;
}
#nav .nav-link {
  cursor: pointer;
}
#nav .nav-dropdown-container .nav-link:hover {
  border-bottom: none;
}
#nav .nav-dropdown-container:hover .nav-dropdown {
  display: block;
}
#nav .nav-dropdown-container.language {
  margin-left: 20px;
}
#nav .nav-dropdown-container .arrow {
  pointer-events: none;
}
#nav .nav-dropdown {
  display: none;
  box-sizing: border-box;
  max-height: calc(100vh - 61px);
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  right: -15px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
  white-space: nowrap;
}
#nav .nav-dropdown li {
  line-height: 1.8em;
  margin: 0;
  display: block;
}
#nav .nav-dropdown li > ul {
  padding-left: 0;
}
#nav .nav-dropdown li:first-child h4 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#nav .nav-dropdown a,
#nav .nav-dropdown h4 {
  padding: 0 24px 0 20px;
}
#nav .nav-dropdown h4 {
  margin: 0.45em 0 0;
  padding-top: 0.45em;
  border-top: 1px solid #eee;
}
#nav .nav-dropdown a {
  color: #3a5169;
  font-size: 0.9em;
  display: block;
}
#nav .nav-dropdown a:hover {
  color: #e31436;
}
#nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 6px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc;
}
#header {
  background-color: #fff;
  height: $heading-inner-height;
  padding: 10px 40px;
  position: relative;
  z-index: 2;
}
body.docs #header {
  position: fixed;
  width: 100%;
  top: 0;
}
body.docs #nav {
  position: fixed;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 60px;
  top: 10px;
  height: 40px;
  line-height: 40px;
}
#nav .break {
  display: none;
}
#nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.6em;
}
#nav li a:hover {
  color: #e31436;
}
.nav-link {
  padding-bottom: 3px;
}
.nav-link:hover,
.nav-link.current {
  color: #e31436;
  border-bottom: 3px solid #e31436;
}
.search-query {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  border: 1px solid #e3e3e3;
  color: #2c3e50;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.2s ease;
  background: #fff url("/images/search.png") 8px 5px no-repeat;
  background-size: 20px;
  vertical-align: middle !important;
}
.search-query:focus {
  border-color: #e31436;
}
#logo {
  display: inline-block;
  line-height: 40px;
  font-family: 'PingFangTC-Regular', 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
#mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 9;
  display: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
#mobile-bar .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
}
#mobile-bar .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/logo.svg") center center no-repeat;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
.sidebar {
  position: absolute;
  z-index: 10;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 260px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  border-right: 1px #e3e8ed solid;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8em;
}
.sidebar .menu-root {
  padding-left: 0;
  margin-left: 0;
}
.sidebar .menu-root>li {
  box-sizing: border-box;
  border-bottom: 1px #e3e8ed solid;
  background-color: #fff;
}
.sidebar .menu-root>li.current {
  background-color: #f6f9fc;
}
.sidebar .menu-root .submenu-title {
  font-weight: 700;
  padding: 12px 0 11px 40px;
  font-size: 14px;
}
.sidebar .menu-root .submenu-title .u-icon {
  margin-left: -14px;
  margin-right: 8px;
  font-size: 14px;
}
.sidebar .menu-root .submenu>li {
  margin-bottom: 15px;
  font-size: 12px;
}
.sidebar .menu-root .submenu>li span {
  color: #999;
}
.sidebar .version-select {
  vertical-align: middle;
  margin-left: 5px;
}
.sidebar .menu-sub {
  font-size: 0.85em;
}
.sidebar .sidebar-link {
  color: #7f8c8d;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #e31436;
}
.sidebar .sidebar-link.new:after {
  content: "NEW";
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #2973b7;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.sidebar .sidebar-link.beta:after {
  content: "BETA";
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #f66;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.sidebar .sidebar-link:hover {
  border-bottom: 2px solid #e31436;
}
.sidebar .section-link.active {
  font-weight: bold;
  color: #e31436;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
.sidebar .main-sponsor {
  color: #7f8c8d;
  font-size: 0.85em;
}
.sidebar .main-sponsor a {
  margin: 10px 0;
}
.sidebar .main-sponsor img,
.sidebar .main-sponsor a {
  width: 125px;
  display: inline-block;
}
.sidebar .become-backer {
  border: 1px solid #e31436;
  border-radius: 2em;
  display: inline-block;
  color: #e31436;
  font-size: 0.8em;
  width: 125px;
  padding: 4px 0;
  text-align: center;
  margin-bottom: 20px;
}
.sidebar .nav-dropdown h4 {
  font-weight: normal;
  margin: 0;
}
@media screen and (min-width: 901px) {
  .sidebar .menu-root a:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: transparent;
  }
  .sidebar .menu-root a:hover {
    color: #e31436;
  }
  .sidebar .menu-root a:hover span {
    color: #e31436;
  }
  .sidebar .menu-root a:hover::before {
    background-color: #e31436;
  }
  .sidebar .menu-root a.current {
    color: #e31436;
  }
  .sidebar .menu-root a.current span {
    color: #e31436;
  }
  .sidebar .menu-root a.current:before {
    background-color: #e31436;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    position: fixed;
    z-index: 8;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
  .sidebar .search-query {
    width: 200px;
    margin-bottom: 10px;
  }
  .sidebar .main-menu {
    display: block;
  }
  .sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .sidebar .menu-root li,
  .sidebar .menu-root li.current {
    background-color: transparent;
    border-bottom: 0;
    margin-bottom: 20px;
  }
  .sidebar .menu-root .submenu-title {
    padding: 0;
    font-size: 16px;
  }
  .sidebar .menu-root .submenu-title .u-icon {
    display: none;
  }
  .sidebar .menu-root a {
    border-bottom: 2px transparent solid;
  }
  .sidebar .menu-root a:hover {
    color: #e31436;
    border-bottom-color: #e31436;
  }
  .sidebar .menu-root a:hover span {
    color: #e31436;
  }
  .sidebar .menu-root .submenu {
    margin-left: -40px;
  }
  .sidebar .menu-root .submenu>li {
    margin-bottom: 0;
    font-size: 14px;
  }
}
#header {
  border-bottom: 1px #e3e8ed solid;
  transition: background-color 0.3s ease-in-out;
}
.content {
  position: relative;
  padding: 2.2em 0;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 12px;
}
.content.api > a:first-of-type > h2 {
  margin-top: 0;
  padding-top: 0;
}
.content a.button {
  font-size: 0.9em;
  color: #fff;
  margin: 0.2em 0;
  width: 180px;
  text-align: center;
  padding: 12px 24px;
  display: inline-block;
  vertical-align: middle;
}
.content img {
  max-width: 100%;
}
.content span.light {
  color: #7f8c8d;
}
.content span.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
}
.content h1 {
  margin: 0 0 1em;
}
.content > h1 {
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #e1e6ec;
  margin: 40px 0px;
}
.content h2:before,
.content h3:before {
  content: '';
  display: block;
  margin-top: -91px;
  height: 91px;
  visibility: hidden;
}
.content a>h2 {
  z-index: -1;
  font-size: 16px;
  color: #333;
  line-height: 22px;
  height: 22px;
  border-left: 3px solid #333;
  border-bottom: none;
  padding: 0px 8px;
  margin: 23px 0px;
}
.content a>h2:before {
  margin-top: 0px;
  height: 0px;
}
.content h2 {
  font-size: 16px;
  color: #333;
  padding: 0px 8px;
  border-left: 3px solid #333;
  height: 16px;
  line-height: 16px;
  z-index: -1;
}
.content h2:before {
  margin-top: 0px;
  height: 0px;
}
.content h2 span {
  color: #ccc;
  font-weight: normal;
  padding: 0px 8px;
}
.content h3 {
  position: relative;
  z-index: -1;
  font-size: 12px;
  margin: 0px 22px;
}
.content h3:before {
  height: 100px;
}
.content h3:after {
  content: " ";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #0398ff;
  position: absolute;
  left: -0.9em;
  bottom: 9px;
}
.content figure {
  margin: 1.2em 0;
}
.content a {
  color: #0398ff;
  font-weight: 400;
}
.content blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #e31436;
}
.content blockquote p {
  font-weight: 600;
  margin-left: 0;
}
.content iframe {
  margin: 1em 0;
}
.content > table {
  margin: 10px;
  border: 2px solid $white;
  width: 100%;
}
.content > table td,
.content > table th {
  line-height: 1.6em;
  padding: 0.5em 1.4em;
  border: none;
}
.content > table tr:nth-child(2n-1) {
  background: #fff;
}
.content > table tr:nth-child(2n) {
  background: #f6f9fc;
}
.content > table td {
  border-bottom: 1px solid #ecf2f9;
}
.content > table th {
  background-color: #eef1f4;
  border-bottom: 1px solid #ecf2f9;
  color: #666;
  text-align: left;
}
.content > p {
  margin: 0px 22px;
}
.content > dl {
  margin: 0px 22px;
}
.content p.tip {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left: 4px solid #f66;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.content p.tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  background-color: #f66;
  color: #fff;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: 'PingFangTC-Regular', 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}
.content p.tip code {
  background-color: #efefef;
}
.content p.tip em {
  color: #34495e;
}
.content > .m-example {
  padding: 0px 22px;
}
.guide-links {
  margin-top: 2em;
  border-top: 1px solid #e5e5e5;
  display: flex;
  font-size: 14px;
}
.guide-links .placeholder {
  flex: 1;
}
.guide-links .pager {
  margin: 2em 0;
}
.guide-links .pager span {
  display: inline-block;
  vertical-align: middle;
}
.guide-links .pager .icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px;
}
.guide-links .pager .icon-left {
  background-image: url("../images/arrow-left.png");
  margin-right: 5px;
}
.guide-links .pager .icon-right {
  background-image: url("../images/arrow-right.png");
  margin-left: 5px;
}
.footer {
  color: #7f8c8d;
  padding-top: 2em;
  font-size: 0.9em;
}
#main.fix-sidebar .sidebar {
  position: fixed;
}
@media screen and (min-width: 1590px) {
  #header {
    background-color: rgba(255,255,255,0.4);
  }
}
@media screen and (min-width: 1500px) {
  .content.with-sidebar {
    margin-left: 270px;
  }
}
@media screen and (max-width: 1500px) {
  .content.with-sidebar {
    margin-left: 250px;
  }
  #ad {
    z-index: 7;
    position: relative;
    padding: 0;
    bottom: 0;
    right: 0;
    float: right;
    padding: 0 0 20px 30px;
  }
}
@media screen and (max-width: 900px) {
  body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
  }
  #header {
    display: none;
  }
  #logo {
    display: none;
  }
  .nav-link {
    padding-bottom: 1px;
  }
  .nav-link:hover,
  .nav-link.current {
    border-bottom: 2px solid #e31436;
  }
  #mobile-bar {
    display: block;
  }
  #main {
    padding: 2em 1.4em 0;
  }
  .highlight pre {
    padding: 1.2em 1em;
  }
  .content.with-sidebar {
    margin: auto;
  }
  .content h2:before,
  .content h3:before {
    content: '';
    display: block;
    margin-top: -70px;
    height: 70px;
    visibility: hidden;
  }
  .footer {
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  #downloads {
    text-align: center;
    margin-bottom: 25px;
  }
  #downloads .info {
    margin-top: 5px;
    margin-left: 0;
  }
  iframe {
    margin: 0 !important;
  }
}
.grid-item {
  width: auto;
  border: 1px solid #e1e6ec;
  margin: 0px 0px 20px 22px;
  border-radius: 4px;
  padding: 16px 24px;
  font-family: PingFangTC-Regular;
  font-size: 12px;
  color: #666;
  word-wrap: break-word;
}
.grid-item h3 {
  margin: 0;
}
.grid-item em {
  padding-bottom: 8px;
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.grid-item ul {
  padding: 0 0 0 15px;
}
.type-tag {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 10px;
}
.type-tag-event {
  border-left: 1px solid #54a8f7;
  color: #54a8f7;
}
.type-tag-static {
  border-left: 1px solid #54a8f7;
  color: #54a8f7;
}
.param-title {
  color: #666 !important;
}
.m-example {
  padding: 8px 0px 20px;
}
.m-code {
  margin: 0px -24px;
}
.m-code .highlight {
  background-color: #fff;
}
.m-code figure {
  margin: 0px;
  padding: 0em 0.8em;
}
.m-demowrap {
  border-top: 1px solid #e1e6ec;
}
.m-demowrap .m-iconLine {
  position: relative;
  text-align: center;
  color: #b2bfcf;
  top: -10px;
}
.m-demowrap .m-iconLine .revert {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  color: #e31436;
  border: 1px solid #e31436;
}
.m-demowrap .m-copyCode {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 1;
}
.m-demowrap .m-iconOuter {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 18px;
  border: 1px solid #b2bfcf;
  border-radius: 9px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
}
.m-demowrap .m-iconOuter:hover {
  color: #e31436;
  border: 1px solid #e31436;
}
.m-demowrap .m-codeBlock {
  overflow: hidden;
  position: relative;
}
.m-demowrap .m-codeBlock .figure-outer {
  margin-top: 10px;
}
.m-demowrap .m-codeBlock .figure-outer .highlight {
  background-color: #fff;
}
.m-demowrap .m-codeBlock .figure-outer code,
.m-demowrap .m-codeBlock .figure-outer pre {
  background-color: #fff;
}
.m-demowrap .wrap {
  height: 0px;
}
