{{#if scope}}
    {{#if (equal kind "event") ~}}
    <span class="type-tag type-tag-event">Event</span>
    {{else~}}
        {{#if (equal scope "static") ~}}
            <span class="type-tag type-tag-static">static {{kindInThisContext}}</span>
        {{else}}
            {{#if (equal kind "function") ~}}
                <span class="type-tag type-tag-static">{{kindInThisContext}}</span>
            {{/if}}
        {{/if}}
    {{/if~}}
{{/if~}}
