
@include b(select) {
    user-select: none;
    vertical-align: top;

    .kl-dropdown__hd {
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0;
        overflow:hidden;
        word-wrap:normal;
        white-space:nowrap;
        text-overflow:ellipsis;
        min-height: $--height-base;
        line-height: $--height-base - 2;
        padding: 0 10px;
        background: $--background-color-base;
        color: $--text-color-default;
        border: 1px solid $--border-color-base;
        border-radius: $--border-radius-base;
        overflow-y: auto;
        position: relative;

        .kl-icon {
            float: right;
            width: auto;
            line-height: inherit;
            position: absolute;
            right: 5px;
        }

        .kl-icon-remove {
            color: #A4A5B9;
        }

        .kl-icon-angle_up {
            transform: rotate(180deg);
        }

        .kl-select__hover--show {
            display: none;
        }

        &:hover {
            .kl-select__hover--show {
                display: inline-block;
            }
            .kl-select__hover--hide {
                display: none;
            }
        }

        span {
            float: left;
            font-size: 12px;
        }

        .kl-icon-remove-addclass {
            position: relative;
            top: -28px;
        }

        @include when(hover) {
            background: $--background-color-hover;
        }

        @include when(active) {
            border: 1px solid $--border-color-active;
        }

        @include when(dis) {
            cursor: not-allowed;
            background: $--background-color-disabled;
            border: 1px solid $--border-color-disabled;
            color: $--text-color-disabled;
        }
    }

    .kl-dropdown__bd {
        clear: both;
    }

    .kl-listview {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
        max-height: 200px;
        .kl-check {
            line-height: 0;
        }
    }

    @include e(multi-placeholder) {
        color: #999;
    }

    @include e(tag) {
        position: relative;
        padding: 0 20px 0 10px;
        margin: 4px 5px 0 0;
        background-color: #f3f3f3;
        border-radius: $--border-radius-base;
        height: 20px;
        line-height: 20px;
        float: left;
        cursor: default;

        .kl-icon-remove {
            position: absolute;
            right: 5px;
        }

        &:last-child {
            margin-bottom: 6px;
        }

        @include when(dis) {
            cursor: not-allowed;
        }

        @include m(more) {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }
    }

    @include e(search) {
        font-family: inherit;
        line-height: 20px;
        vertical-align: middle;
        width: calc(100% - 20px);
        background-color: transparent;
        font-size: 12px;

        &.kl-input__inner {
            height: 31px;
            border: none;
            border-bottom: 1px solid #eee;
        }

        &:focus{
            outline: none;
            box-shadow: none;
        }

        @include m(one) {
            padding: 5px 0;
            display: block;
        }
    }

    @include m(error) {
        .kl-dropdown__hd {
            border-color: $--border-color-error;
        }
    }

    @include m(sm) {
        height: $--height-sm;
        padding: 0;

        .kl-dropdown__hd {
            padding: 0px 6px;
            height: $--height-sm;
            line-height: $--height-sm - 2;
            span {
                font-size: $--font-size-xs;
            }
        }

        .kl-listview >.kl-listview__item{
            line-height: 12px;
        }
    }

    @include m(lg) {
        height: $--height-lg;
        padding: 0;

        .kl-dropdown__hd {
            padding: 0 10px;
            height: $--height-lg;
            line-height: $--height-lg - 2;
            span {
                font-size: $--font-size-lg;
            }
        }

        .kl-listview >.kl-listview__item{
            line-height: 12px;
        }
    }

    .kl-icon-remove1 {
        color: #999;

        &:hover {
            color: #666;
        }
    }

    .kl-treeview {
        overflow: auto;
        max-height: 200px;
    }
}

