<div class="u-select u-select-{state} u-select-{size} {class}" r-width="{width}">
	<div class="u-dropdown" r-class={{isMultiple:multiple}}
	     z-dis={disabled} r-hide={!visible} ref="element">
	    {#if !multiple}
	        <div class="dropdown_hd"
				 z-dis={disabled}
	             title={selected?selected[nameKey]:placeholder}
	             on-click={this.toggle(!open, $event)}>
				{#if !open}
	            <kl-icon fontSize=12 type="angle_down" class="f-fr"/>
	            {/if}
	            {#if open && canSearch}
	                <input disabled={disabled} type="text" class="u-search-input input" r-autofocus
	                       placeholder={selected?selected[nameKey]:placeholder} r-model={searchValue}/>
	            {#else}
	                <span>{selected?selected[nameKey]:placeholder}</span>
	            {/if}
	        </div>
	    {#else}
	        <div class="dropdown_hd"
	             on-click={this.toggle(!open, $event)} style="max-height: {open && canSearch ? '116px' : '84px'}">
				{#if !open}
					<kl-icon fontSize=12 type="angle_down" class="f-fr" />
	            {/if}
	            {#if open && canSearch}
	            <div>
		            <input disabled={disabled} type="text" class="u-search-input searchInput1 input" ref="input"
		                   r-autofocus r-model={searchValue} on-click={this.searchClick()}/>
		            <kl-icon type="error" on-click={this.clearContent($event)} class="u-select-errorIcon"/>
	            </div>
	            {/if}
	            {#list selected as item}
	                <span class="selected-tag" r-class={{selectedTagMore:item[nameKey].length >= 15}}>
	                    {item[nameKey]}
	                    <i class="u-icon u-icon-remove" on-click={this.removeSelected(selected,item_index,$event)}></i>
	                </span>
	            {/list}
	        </div>
	    {/if}
	    {#if open}
	    <div class="dropdown_bd"
	         r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
	        <ul class="m-listview">
	            {#if placeholder}
	                <li z-sel={multiple?!selected.length:!selected} on-click={this.select(undefined)}>
	                    {placeholder}
	                </li>
	            {/if}

	            {#list this.filterArray(source) as item}
	            {#if (!filter || (filter && filter(item)))}
	                {#if canSelectAll && multiple && item_index == 0 && (canSearch && !searchValue)}
	                    <li on-click={this.selectAll(selected.length!==this.filterData(source).length)}>
	                        <check disabled={disabled} checked={selected.length===this.filterData(source).length} />
	                        {this.$trans('ALL')}
	                    </li>
	                {/if}
	                {#if item.disabled && item.tip}
	                <kl-tooltip tip={item.tip} placement={item.placement||'top'}>
	                    <li z-dis={item.disabled} z-divider={item.divider} z-sel={multiple?false:selected===item}
	                        title={item[nameKey]} on-click={this.select(item)}>
	                        {#if multiple && !item.divider}
	                            <check disabled={item.disabled} checked={multiple?this.indexOf(selected,item)!==-1:selected===item} />
	                        {/if}
	                        {#if @(itemTemplate)}
	                            {#inc @(itemTemplate)}
	                        {#else}
	                            {@(item[nameKey])}
	                        {/if}
	                    </li>
	                </kl-tooltip>
	                {#else}
	                <li z-dis={item.disabled} z-divider={item.divider} z-sel={multiple?false:selected===item}
	                    title={item[nameKey]} on-click={this.select(item)}>
	                    {#if multiple && !item.divider}
	                        <check disabled={item.disabled} checked={multiple?this.indexOf(selected,item)!==-1:selected===item} />
	                    {/if}
	                    {#if @(itemTemplate)}
	                        {#inc @(itemTemplate)}
	                    {#else}
	                        {@(item[nameKey])}
	                    {/if}
	                </li>
	                {/if}
                {/if}
	            {#else}
	                {#if searchValue}
	                <li>
	                    {@(noMatchText)}
	                </li>
	                {/if}
	            {/list}
	        </ul>
	    </div>
	    {/if}
	</div>
	{#if tip && !hideTip}<span class="u-tip u-tip-{state} animated" r-animation="on:enter;class:fadeInY;on:leave;class:fadeOutY;"><i class="u-icon u-icon-{state}"></i><span class="tip">{tip}</span></span>{/if}
</div>
