<div class="u-select u-select-{state} u-select-{size} {class}" r-width="{width}">
	<div class="u-dropdown" r-class={{isMultiple:multiple}}
	     z-dis={disabled} r-hide={!visible} ref="element">
	    {#if !multiple}
	        <div class="dropdown_hd"
				 z-dis={disabled}
	             title={selected?selected[nameKey]:placeholder}
	             on-click={this.toggle(!open, $event)}>
	            <kl-icon fontSize=12 type="{open ? 'angle_up' : 'angle_down'}" class="f-fr {clearable ? 'hoverHide' : ''}"/>
				{#if clearable}
				<kl-icon fontSize=12 type="error" on-click={this.selectNone($event)} class="f-fr hoverShow"/>
				{/if}
				{#if open && canSearch}
				<input disabled={disabled} readonly={readonly} type="text" class={selected?'input u-search-input':'input u-search-input m-multi-placeholder'} r-autofocus
						placeholder={selected?selected[nameKey]:placeholder} r-model={searchValue}/>
				{/if}
				<!-- 下面用的 r-hide 是因为在 dropdown 基类里面会给 dom 绑定一个 click 事件然后判断事件的 $event 是不是这个 dropdown 的子节点，
					如果不是子节点就将 open 置为 false，如果用 if else 的话触发这个事件的时候节点已经不在了，所以会判断成在 dropdown 外面点击，就会出现展开马上又收起的问题 -->
				<span class={selected?'':'m-multi-placeholder'} r-hide={open && canSearch}>{selected?selected[nameKey]:placeholder}</span>
	        </div>
	    {#else}
	        <div class="dropdown_hd"
	             on-click={this.toggle(!open, $event)} style="max-height: {open && canSearch ? '116px' : '84px'}">
					<kl-icon fontSize=12 type="{open ? 'angle_up' : 'angle_down'}" class="f-fr" />
	            {#if open && canSearch}
	            <div>
		            <input disabled={disabled} readonly={readonly} type="text" class="input u-search-input searchInput1" ref="input"
		                   r-autofocus r-model={searchValue} on-click={this.searchClick($event)}/>
		            <kl-icon fontSize=12 type="error" on-click={this.clearContent($event)} class="u-select-errorIcon"/>
	            </div>
	            {/if}
	            {#list selected as item}
	                <span class="selected-tag" r-class={{selectedTagMore:item[nameKey].length >= 15}}>
	                    {item[nameKey]}
	                    <i class="u-icon u-icon-remove" z-dis={item.disabled} on-click={this.removeSelected(selected,item_index,$event)}></i>
	                </span>
	            {/list}
	        </div>
	    {/if}
	    {#if open}
	    <div class="dropdown_bd"
	         r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
	        <ul class="m-listview">
	            {#if placeholder}
	                <li z-sel={multiple?!selected.length:!selected} on-click={this.select(undefined)}>
	                    {placeholder}
	                </li>
	            {/if}

	            {#list this.filterArray(source) as item}
	            {#if (!filter || (filter && filter(item)))}
	                {#if canSelectAll && multiple && item_index == 0 && (canSearch && !searchValue)}
	                    <li on-click={this.selectAll(selected.length!==this.filterData(source).length)}>
	                        <check disabled={disabled} checked={selected.length===this.filterData(source).length} />
	                        {this.$trans('ALL')}
	                    </li>
	                {/if}
	                {#if item.disabled && item.tip}
	                <kl-tooltip tip={item.tip} placement={item.placement||'top'}>
	                    <li z-dis={item.disabled} z-divider={item.divider} z-sel={multiple?false:selected===item}
	                        title={item[nameKey]} on-click={this.select(item)}>
	                        {#if multiple && !item.divider}
	                            <check disabled={item.disabled} checked={multiple?this.indexOf(selected,item)!==-1:selected===item} />
	                        {/if}
	                        {#if @(itemTemplate)}
	                            {#inc @(itemTemplate)}
	                        {#else}
	                            {@(item[nameKey])}
	                        {/if}
	                    </li>
	                </kl-tooltip>
	                {#else}
	                <li z-dis={item.disabled} z-divider={item.divider} z-sel={multiple?false:selected===item}
	                    title={item[nameKey]} on-click={this.select(item)}>
	                    {#if multiple && !item.divider}
	                        <check disabled={item.disabled} checked={multiple?this.indexOf(selected,item)!==-1:selected===item} />
	                    {/if}
	                    {#if @(itemTemplate)}
	                        {#inc @(itemTemplate)}
	                    {#else}
	                        {@(item[nameKey])}
	                    {/if}
	                </li>
	                {/if}
                {/if}
	            {#else}
	                {#if searchValue}
	                <li>
	                    {@(noMatchText)}
	                </li>
	                {/if}
	            {/list}
	        </ul>
	    </div>
	    {/if}
	</div>
	{#if tip && !hideTip}<span class="u-tip u-tip-{state} animated" r-animation="on:enter;class:fadeInY;on:leave;class:fadeOutY;"><i class="u-icon u-icon-{state}"></i><span class="tip">{tip}</span></span>{/if}
</div>
