
@include b(select) {
    .z-hover {
        background: #f1f1f1;
    }

    user-select: none;
    vertical-align: top;

    .dropdown_hd {
        
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0;
        overflow:hidden;
        word-wrap:normal;
        white-space:nowrap;
        text-overflow:ellipsis;

        min-height: $--height-base;
        line-height: $--height-base - 2;
        padding: 0 10px;
        background: $--background-color-base;
        color: $--text-color-default;
        border: 1px solid $--border-color-base;
        border-radius: $--border-radius-base;
        overflow-y: auto;
        position: relative;

        @include b(icon) {
            float: right;
            width: auto;
            line-height: inherit;
            position: absolute;
            right: 5px;
        }

        .kl-icon-remove {
            color: #A4A5B9;
        }
        .select-errorIcon {
            position: relative;
            top: -28px;
        }

        .hoverShow {
            display: none;
        }

        &:hover {
            .hoverShow {
                display: inline-block;
            }
            .hoverHide {
                display: none;
            }
        }

        span {
            float: left;
            font-size: 12px;
        }

        .multi-placeholder {
            color: #999;
        }
    }
    .dropdown_bd {
        clear: both;
    }

    .selected-tag {
        position: relative;
        padding: 0 20px 0 10px;
        margin: 4px 5px 0 0;
        background-color: #f3f3f3;
        border-radius: $--border-radius-base;
        height: 20px;
        line-height: 20px;
        float: left;
        cursor: default;

        .kl-icon-remove{
            position: absolute;
            right: 5px;
        }

        &:last-child{
            margin-bottom: 6px;
        }

        .z-dis {
            cursor: not-allowed;
        }
    }

    .selectedTagMore {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }

    .search-input{
        font-family: inherit;
        line-height: 20px;
        vertical-align: middle;
        width: calc(100% - 20px);
        background-color: transparent;
        font-size: 12px;
        &:focus{
            outline: none;
        }
    }
    .search-one {
        border-bottom: 1px solid #eee;
        padding: 5px 0;
        display: block;
    }
    &.isMultiple{
        .search-input{
            float: left;
            margin-top: 7px;
            width: 1em;
        }
    }

    .m-listview {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
        max-height: 200px;
        .u-check {
            line-height: 0;
        }
    }
    
    @include m(error) {
        .kl-dropdown__hd { 
            border-color: $--border-color-error; 
        }
    }

    @include m(sm) {
        height: 24px;
        padding: 0;
        .kl-dropdown__hd {
            min-height: 24px;
            line-height: 22px;
        }

        .listview >li{
            line-height: 12px;
        }
    }

    .z-dis {
        .kl-dropdown__hd {
            cursor: not-allowed;
            background: $--background-color-disabled;
            border: 1px solid $--border-color-disabled;
            color: $--text-color-disabled;
        }
    }
    .m-treeview {
        overflow: auto;
        max-height: 200px;
    }
}

.kl-selectgroup {
    .kl-select {
        width:160px;
    }
    .kl-dropdown {
        display:inline-block;
    }
}