@include b(sidebar) {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: visible;
    background: #fff;
    transition: transform .3s;
    z-index: 2;

    @include when(dark) {
        .kl-sidebar-menus-wrap {
          background: #222;
        }

        .kl-menu {
            background: #222;
            color: rgba($color: #fff, $alpha: 0.65);

            .kl-sub-menu-head {
                &:hover .kl-sub-menu-head__title, &:hover a, &:hover .kl-icon, &:hover .kl-sub-menu-head__icon {
                    color: #fff !important;
                }
            }

            .kl-sub-menu-head__title a, .kl-menu-item-wrap a, a.kl-sub-menu {
                color: rgba($color: #fff, $alpha: 0.65);
            }

            .kl-menu-item {
                background: #111;
                &:hover {
                    color: #fff !important;
                }
            }
            .kl-menu-item.is-active {
                background: $--background-color-primary;
            }
        }
        .kl-sidebar-search-box {
          background: #222;
        }
        .kl-sidebar__highlight {
          color: $--text-color-primary;
        }
    }

  @include e(highlight) {
    color: #008EFB;
  }
}

@include b(sidebar-menus-wrap) {
    height: 100%;
    overflow: hidden;
}

@include b(sidebar-search-box) {
  padding: 8px 16px;
  border-right: 1px solid #E1E6ED;
}

@include b(sidebar-todowrap) {
  display: flex;
  align-items: center;
  padding-right: 38px;

  @include e(title) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @include e(badge) {
    padding: 2px 6px;
    margin-left: 4px;
    border-radius: 100px;
    background: #ffb539;
    color: #fff;
    font-size: 11px;
  }
}

