<aside class="m-sidebar {class}" r-class={ {'active':active } } top="{top}">
  <div class="sidebar_menus">
    <kl-menu uniqueOpened="{uniqueOpened}">
      {#list menus as menu}
      {#if menu[childrenKey] && menu[childrenKey].length}
      <kl-menu-sub title="{menu[titleKey]}" defaultOpen="{menu.open}">
        {#list menu[childrenKey] as page}
        <kl-menu-item isCurrent="{page.open}" url="{page[urlKey]}">{page[pageKey]}</kl-menu-item>
        {/list}
      </kl-menu-sub>
      {#else}
      <kl-menu-sub titleTemplate="<a href='{menu[urlKey]}'>{menu[titleKey]}</a>"></kl-menu-sub>
      {/if}
      {/list}
    </kl-menu>
  </div>

  <div class="sidebar_slideBtn" on-click="{this.toggle($event)}">
    {#if active}
    <i class="u-icon u-icon-chevron_left"></i>
    {#else}
    <i class="u-icon u-icon-chevron_right"></i>
    {/if}
  </div>
</aside>