@include b(sidebar) {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: visible;
    background: #fff;
    border-right: 1px solid #E1E6ED;
    transition: transform .3s;
    z-index: 2;

    @include when(dark) {
        .kl-menu {
            background: #222;
            color: rgba($color: #fff, $alpha: 0.65);

            .kl-sub-menu-head {
                &:hover .kl-sub-menu-head__title, &:hover a, &:hover .kl-icon, &:hover .kl-sub-menu-head__icon {
                    color: #fff !important;
                }
            }

            .kl-sub-menu-head__title a, .kl-menu-item-wrap a, a.kl-sub-menu {
                color: rgba($color: #fff, $alpha: 0.65);
            }

            .kl-menu__item {
                background: #111;
                &:hover {
                    color: #fff !important;
                }
            }
            .kl-menu__item.is-active {
                background: $--background-color-primary;
            }
        }
    }
}

@include b(sidebar-menus-wrap) {
    height: 100%;
    overflow: auto;
}

