<aside class="kl-sidebar {class}" r-class={ {'is-active':active, 'is-dark': theme === 'dark' } } r-style={ {width: width, top: top} }>
  <div class="kl-sidebar-menus-wrap">
    <kl-menu uniqueOpened="{uniqueOpened}" on-menuitem-click="{this.onMenuItemClick($event)}" router="{router}">
      {#list menus as menu}
      {#if menu[childrenKey] && menu[childrenKey].length}
      <kl-menu-sub title="{menu[titleKey]}" defaultOpen="{menu.open}" iconClass="{menu.iconClass}">
        {#list menu[childrenKey] as page}
        <kl-menu-item isCurrent="{page.open}" url="{page[urlKey]}" route="{page[routeKey]}">{page[pageKey]}</kl-menu-item>
        {/list}
      </kl-menu-sub>
      {#else}
      <kl-menu-sub url="{menu[urlKey]}" route="{menu[routeKey]}" titleTemplate="{menu[titleKey]}" iconClass="{menu.iconClass}"></kl-menu-sub>
      {/if}
      {/list}
    </kl-menu>
  </div>

  <div class="kl-sidebar-btn-wrap" on-click="{this.toggle($event)}" r-style={{ left: width }}>
    {#if active}
    <i class="kl-icon kl-icon-chevron_left"></i>
    {#else}
    <i class="kl-icon kl-icon-chevron_right"></i>
    {/if}
  </div>
</aside>
