@include b(progress) {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: $--text-color-default;
}

@include b(progress-wrap) {
  flex: 1;

  height: 8px;
  overflow: hidden;
  background: #EFF1F5;
  border-radius: 4px;

  @include e(bar) {
    width: 0;
    height: 100%;
    box-sizing: border-box;
    line-height: 12px;
    text-align: right;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;

    background-color: $--background-color-primary;
  }

  @include m(sm) {
    height: 4px;

    .kl-progress-wrap__bar {
      border-raidus: 2px;
    }
  }

  @include m(lg) {
    height: 24px;

    .kl-progress-wrap__bar {
      padding: 6px 6px 6px 0;
    }
  }
}

@include b(progress-slot) {
  margin-left: 16px;
}