node_modules
tmp
.sass-cache
.DS_Store
Thumbs.db
.idea
npm-debug.log
dist

# Auto generate
src/mcss/components.mcss

# doc
db.json
*.log
public/
.deploy*/
_drafts
doc/components/*
!doc/components/index.md
