node_modules
tmp
.sass-cache
.DS_Store
Thumbs.db
.idea
npm-debug.log
test/

# Auto generate
src/mcss/components.mcss

# doc
db.json
*.log
public/
.deploy*/
_drafts
doc/source/components/*
!doc/source/components/index.md

dist.zip

doc/
snippet/
src/
.eslintignore
.eslint
.gitignore
.npmrc
*.yml
gulpfile.json
LICENS
*.sh
*.md


