<div class="u-dropdown u-datetimepicker {class}" z-dis={disabled} r-hide={!visible} ref="element" r-size="{size}">
    <div class="dropdown_hd">
	    {#if showTime}
	    <input class="u-input u-input-full u-input-{state}" placeholder={placeholder} value={date | format: 'yyyy-MM-dd HH:mm'} ref="input" autofocus={autofocus} readonly={readonly} disabled={disabled}
            on-focus={this.toggle(true)} on-change={this._onInput($event)}>
		{#else}
	    <input class="u-input u-input-full u-input-{state}" placeholder={placeholder} value={date | format: 'yyyy-MM-dd'} ref="input" autofocus={autofocus} readonly={readonly} disabled={disabled}
	        on-focus={this.toggle(true)} on-change={this._onInput($event)}>
	    {/if}
    </div>
    <div class="dropdown_bd" r-hide={!open} r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
        <calendar minDate={minDate} maxDate={maxDate} date={_date} on-select={this.select($event.date, _time)}>
            {#if showTime}
	        <time.picker time={_time} on-change={this._onDateTimeChange(_date, _time)} />
	        {/if}
        </calendar>
    </div>
</div>
{#if tip}<span class="u-tip u-tip-{state}">{tip}</span>{/if}