@include b(listview) {
  @extend .f-lsn;
  padding: 5px 0;
  border-color: $--border-color-base;
  border-top: none;
  background: $--background-color-base;
  color: $--text-color-default;

  box-sizing: border-box;
  user-select: none;

  @include e(item) {
    position: relative;
    cursor: pointer;
    font-size: $--font-size-base;
    color: $--text-color-default;
    padding: 7px 9px 7px 9px;
    margin: 6px 0;
    line-height: 18px;

    &:hover {
      background: $--background-color-hover;
      color: $--text-color-hover;
    }

    @include m(sel) {
      background: $--primary-color;
      color: $--text-color-white;
    }

    @include m(dis) {
      cursor: not-allowed;
      background: none;
      color: $--text-color-disabled;
    }

    @include m(divider) {
      margin: 9px 0;
      padding: 0;
      height: 1px;
      background: #e5e5e5;
      overflow: hidden;
    }
  }

  @include m(dis) {
    background: $--background-color-disabled;

    @include e(item) {
      cursor: not-allowed;
      background: $--background-color-disabled;
      color: $--text-color-disabled;
    }
  }
}