<div class="{class}">
    {#inc this.$body} 
    {#if this.$more && isShowMore} 
        {#inc this.$more.$body} 
    {/if} 
    {#if isShowFooter}
    <div class="f-cb">
        <div class="f-fr">
            <kl-button type="secondary" title={queryText} on-click={this.query()}></kl-button>
            <kl-button title={resetText} on-click={this.reset()}></kl-button>
            {#if isShowToggle}
                <a href="javascript: void(0);" on-click={this.toggle()} class="kl-search_toggle">
                     {toggleText}<i class="u-icon u-icon-angle-{isShowMore ? 'up' : 'down'}"></i>
                </a> 
            {/if}
        </div>
    </div>
    {/if}
</div>