<div class="{class}">
    {#inc this.$body}
    {#if this.$more && isShowMore}
        <!--添加一层div，防止两个g-row样式并列导致marginTop-->
        <div>
            {#inc this.$more.$body}
        </div>
    {/if}
    {#if isShowFooter}
    <div class="kl-search__ft">
        <kl-button title={searchText} on-click={this.search()} class="kl-search__btn"></kl-button>
        <kl-button title={resetText} on-click={this.reset()}></kl-button>
        {#if this.$more && isShowToggle}
            <a href="javascript: void(0);" on-click={this.toggle()} class="f-ml10">
                 {toggleText} <kl-icon type="angle-{isShowMore ? 'up' : 'down'}"  />
            </a>
        {/if}
    </div>
    {/if}
</div>
