<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div class="page-wrap">
	<div id="mianView" class="page text-left">
		<div class="page-text-wrap ">
			<div class="logo">
					<img src="/images/logo.png">
			</div>
			<p class="description">
				一个后台UI组件库 | 基于Regular JS
			</p>
			<p>
					<span class="normal-button">快速开始</span>
					<span class="normal-button white-button">Github</span>
			</p>
		</div>
		<div class="page-pic"></div>
		<div class="next-step">
			<img src="/images/iconnext.png">
		</div>
		<div class="choose-bar">
			<div class="step current"></div>
			<div class="step"></div>
			<div class="step"></div>
			<div class="step"></div>
		</div>
	</div>
	<div id="page2" class="page text-right">
		<div class="page-text-wrap text-white">
			<p class="title">
				丰富组件
			</p>
			<p class="description">
				考拉多年业务积累的基础组件，丰富、灵活、使用，为业务提供强有力的支持。
			</p>
			<p>
					<span class="normal-button">了解更多</span>
			</p>
		</div>
		<div class="page-pic"></div>
	</div>
	<div id="page3" class="page text-left">
		<div class="page-text-wrap">
			<p class="title">
				使用场景
			</p>
			<p class="description">
				总结后台设计中经常出现的组件组合，并提供相应的使用场景。
			</p>
			<p>
					<span class="normal-button">了解更多</span>
			</p>
		</div>
		<div class="page-pic"></div>
	</div>
	<div id="page4" class="page text-left">
		<div class="content-block">
			<div class="page-text-wrap">
				<div class="logo">
						<img src="/images/logo.png">
				</div>
				<p class="description">
					您触手可及的丰富资源
				</p>
				<p>
						<span class="normal-button">Let's go</span>
				</p>
			</div>
		</div>
		<div class="footer-wrap">
			<div class="footer-block">
				<div>
					<p class="title">Github</p>
					<p class="detail">源码仓库</p>
					<p class="detail">aaa</p>
				</div>
				<div>
					<p class="title">Github</p>
					<p class="detail">源码仓库</p>
				</div>
				<div>
					<p class="title">Github</p>
					<p class="detail">源码仓库</p>
				</div>
				<div>
					<p class="title">Github</p>
					<p class="detail">源码仓库</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
