<div id="fullpage">
    <div class="m-section m-section1">
        <div class="section_wrap">
            <div class="section1_left">
                <div class="u-logo u-logo-white section1_logo"></div>
                <p class="section_desc">一个后台UI组件库<span class="section1_divider"></span>基于Regular JS</p>

                <div class="section_btns">
                    <a href="/nek-ui/components/" class="section_btn">快速开始</a>
                    <a href="https://github.com/kaola-fed/nek-ui" class="section_btn section_btn-white" target="_blank">Github</a>
                </div>
            </div>
            <div class="section1_right"></div>
        </div>
        <div class="section1_arrow"></div>
    </div>
    <div class="m-section m-section2">
        <div class="section_wrap">
            <div class="section2_left"></div>
            <div class="section2_right">
                <div class="section_tt">丰富组件</div>
                <p class="section_desc section_desc-2">考拉多年业务积累的基础组件，丰富、灵活、实用，为业务提供强有力的支持。</p>

                <div class="section_btns">
                    <a href="/nek-ui/components/" class="section_btn">了解更多</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-section m-section3">
        <div class="section_wrap">
            <div class="section3_left">
                <div class="section_tt section_tt-white">使用场景</div>
                <p class="section_desc section_desc-3">总结后台设计中经常出现的组件组合，并提供相应的使用场景。</p>

                <div class="section_btns">
                    <a href="/nek-ui/components/" class="section_btn">了解更多</a>
                </div>
            </div>
            <div class="section3_right"></div>
        </div>
    </div>
    <div class="m-section m-section4">
        <div class="section_wrap">
            <div class="section4_inner">
                <div class="u-logo u-logo-white section4_logo"></div>
                <p class="section4_subtt"></p>
                <a href="/nek-ui/components/" class="section_btn">Let's go</a>
            </div>
            <footer class="m-ft">
                <div class="ft_wrap">
                    <ul class="ft_links">
                        <li class="ft_tt">Github</li>
                        <li class="ft_link"><a href="https://github.com/kaola-fed/nek-ui" target="_blank">源码仓库</a></li>
                    </ul>
                    <ul class="ft_links">
                        <li class="ft_tt">相关站点</li>
                        <li class="ft_link"><a href="https://github.com/regularjs/regular" target="_blank">RegularJS</a></li>
                        <li class="ft_link"><a href="https://github.com/kaola-fed/dionysus" target="_blank">Snippets</a></li>
                    </ul>
                    <ul class="ft_links">
                        <li class="ft_tt">社区</li>
                        <li class="ft_link"><a href="https://github.com/kaola-fed/NEK" target="_blank">NEK</a></li>
                    </ul>
                    <ul class="ft_links">
                        <li class="ft_tt">Copyright © 2017</li>
                        <li class="ft_link">网易考拉前端团队出品</li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>
<ul class="m-anchors">
    <li class="anchors_item current"></li>
    <li class="anchors_item"></li>
    <li class="anchors_item"></li>
    <li class="anchors_item"></li>
</ul>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.js"></script>
<script>
$(document).ready(function() {
    var earth = new Image();
    earth.onload = function() {
        $('.m-section1').css({'backgroundSize':'66%',
            'background': '#1D2E45 url(//haitao.nos.netease.com/056f5787-daa5-4a46-8eb4-d662eb6c7618.jpg) no-repeat scroll right bottom'});
        $('.m-section1').addClass('loaded');
    };
    earth.src = '//haitao.nos.netease.com/056f5787-daa5-4a46-8eb4-d662eb6c7618.jpg';

    var $header = $('#header'),
        $logo = $('#logo'),
        $anchors = $('.anchors_item'),
        $txt = $('.section4_subtt');

    $('#fullpage').fullpage({
        sectionSelector: '.m-section',
        css3: true,
        easingcss3: 'cubic-bezier(0.77, 0, 0.175, 1)',
        onLeave: function(index, nextIndex) {
            setTimeout(function() {
                $header.removeClass('header-' + index);
                $header.addClass('header-' + nextIndex);
                if (nextIndex == 2) {
                    $logo.children('.u-logo').removeClass('u-logo-white').addClass('u-logo-grey');
                } else {
                    $logo.children('.u-logo').removeClass('u-logo-grey').addClass('u-logo-white');
                }
                $($anchors[index - 1]).removeClass('current');
                $($anchors[nextIndex - 1]).addClass('current');
            }, 300);


            if (nextIndex == 4 && !$txt.text()) {
                var message = '您触手可及的丰富资源',
                    counter = 1;
                var timerId = setInterval(function() {
                    $txt.text(message.substring(0, counter++));
                    if (counter == message.length + 1) {
                        clearInterval(timerId);
                    }
                }, 300);
            }
        }
    });
});
</script>
