<div id="fullpage">
    <div class="section section-1">
        1
    </div>
    <div class="section sectino-2">
        2
    </div>
    <div class="section section-3">
        3
    </div>
    <div class="section section-4">
        4
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#fullpage').fullpage();
    });
</script>

<style>
.section-1 { background: #1a2d45; }
.section-2 { background: #fff; }
.section-3 { background: #fff; }
</style>