<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.fullPage.js"></script>
<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>
<div id="pageCount" class="choose-bar">
	<div class="step" data-menuanchor="demo1"><a href="#demo1"></a></div>
	<div class="step" data-menuanchor="demo2"><a href="#demo2"></a></div>
	<div class="step" data-menuanchor="demo3"><a href="#demo3"></a></div>
	<div class="step" data-menuanchor="demo4"><a href="#demo4"></a></div>
</div>
<div class="page-wrap" id="fullpage">
	<div id="mianView" class="section page text-left">
		<div class="page-text-wrap ">
			<div class="logo">
					<img src="/images/logo.png">
			</div>
			<p class="description">
				一个后台UI组件库 | 基于Regular JS
			</p>
			<p>
					<a class="normal-button" href="/components/">快速开始</a>
					<a class="normal-button white-button"  href="https://github.com/kaola-fed/NEK" target="_blank">Github</a>
			</p>
		</div>
		<div class="page-pic">
			<img src="/images/float1.png">
		</div>
		<div class="next-step">
			<img src="/images/iconnext.png">
		</div>
	</div>
	<div id="page2" class="section page text-right">
		<div class="page-text-wrap text-white">
			<p class="title" id="title2">
				丰富组件
			</p>
			<p class="description" id="description2">
				考拉多年业务积累的基础组件，丰富、灵活、使用，为业务提供强有力的支持。
			</p>
			<p class="action" id="action2">
				<a class="normal-button" href="/components/">了解更多</a>
			</p>
		</div>
		<div class="page-pic" id="pic2">
			<img src="/images/float2.png">
		</div>
	</div>
	<div id="page3" class="section page text-left">
		<div class="page-text-wrap">
			<p class="title" id="title3">
				使用场景
			</p>
			<p class="description" id="description3">
				总结后台设计中经常出现的组件组合，并提供相应的使用场景。
			</p>
			<p class="action" id="action3">
				<a class="normal-button" href="/components/">了解更多</a>
			</p>
		</div>
		<div class="page-pic" id="pic3">
			<img src="/images/float3.png">
		</div>
	</div>
	<div id="page4" class="section page text-left">
		<div class="content-block">
			<div class="page-text-wrap">
				<div class="logo">
					<img src="/images/logo.png">
				</div>
				<p class="description">
					<span id="animateText"></span>
					<span class="winkle">_</span>
				</p>
				<p>
					<a class="normal-button" href="/components/">Let's go</a>
				</p>
			</div>
		</div>
		<div class="footer-wrap">
			<div class="footer-block">
				<div>
					<p class="title">Github</p>
					<p class="detail"><a href="https://github.com/kaola-fed/nek-ui" target="_blank">源码仓库</a></p>
				</div>
				<div>
					<p class="title">相关站点</p>
					<p class="detail"><a href="https://github.com/regularjs/regular" target="_blank">RegularJS</a></p>
					<p class="detail"><a href="https://github.com/kaola-fed/dionysus" target="_blank">Snippets</a></p>
				</div>
				<div>
					<p class="title">社区</p>
					<p class="detail"><a href="https://github.com/kaola-fed/NEK" target="_blank">NEK</a></p>
					<p class="detail"><a href="https://github.com/regularjs/regular" target="_blank">RegularJS</a></p>
					<p class="detail"><a href="https://github.com/kaola-fed/dionysus" target="_blank">Snippets</a></p>
				</div>
				<div>
					<p class="title">Copyright © 2017</p>
					<p class="detail">网易考拉前端团队出品</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var start = false;
var animateText = document.getElementById('animateText');
var string = '您触手可及的丰富资源';
var index = 0;
function writemsg() {
		if (index < string.length+1) {
				animateText.innerHTML = string.substring(index, 0);
				timer = setTimeout("writemsg()", 300);
				index++;
		}
	}
var startText = function(){
	if(start){
		return;
	}
	start = true;
	writemsg();
}
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
	}
});

var header = document.getElementById('header');
var headImg = document.getElementById('headImg');
$(document).ready(function() {
	$('#fullpage').fullpage({
		anchors: ['demo1', 'demo2', 'demo3', 'demo4'],
		menu: '#pageCount',
		scrollingSpeed: 1000,
		onLeave: function(index, nextIndex, direction){
			if(nextIndex == 2){
				header.className = 'header-white';
				headImg.src = '/images/logo2.png';
			}else if(nextIndex == 3){
				header.className = 'header-light';
				headImg.src = '/images/logo.png';
			}else if(nextIndex == 4){
				header.className = '';
				headImg.src = '/images/logo.png';
				startText();
			}else{
				header.className = '';
				headImg.src = '/images/logo.png';
			}
		}
	});

});
</script>