<div class="m-upload" ref="element">
    <div class="m-files-zone" ref="fileszone">
        <div class="m-entry-wrapper" ref="entrywrapper" r-hide={fileUnitList.length === 0} on-click={this.toggle(undefined, $event)}>
            <div ref="filesentry" class="m-entry">
                {#if entryFileInfo.type === 'image'}
                    <div class="m-img-wrapper">
                        <img class="u-img" src={entryFileInfo.src} alt={entryFileInfo.name}/>
                    </div>
                {#elseif entryFileInfo.type === 'unknown'}
                    <span class="u-txt">{this.$trans('UNKNOWN')}</span>
                {#else} <!-- TEXT, DOC, JS, HTML -->
                    <span class="u-txt">{entryFileInfo.type.toUpperCase()}</span>
                {/if}
                <div class="m-status">
                    {#if status === 'fail'}
                        <span class="u-failed" on-click={this.uploadFiles()}>
                            <span class="u-failed-info"><i class="u-icon u-icon-retry"></i>{this.$trans('RETRY')}</span>
                        </span>
                    {#elseif status === 'uploading'}
                        <span class="u-uploading">
                            <span class="u-progress-wrapper">
                                <span class="u-progress-txt">{progress || '0%'}</span>
                                <span class="u-progress">
                                    <span class="u-progress-bar" style="width: {progress || '0%'};"></span>
                                </span>
                            </span>
                        </span>
                    {/if}
                </div>
                <span class="u-info">{fileUnitList.length}</span>
                <span ref="filesbanner" class="u-banner" r-class={{'top': isTopBanner}}></span>
                <ul ref="fileswrapper" class="m-filelist" on-click={this.toggle(true, $event)}
                    r-hide={fileUnitList.length === 0} r-style={{width: fileUnitListWidth + 'px'}}>
                    {#list fileUnitList as fileunit}
                        <li class="u-fileitem"
                            r-style={{
                                "margin-left": fileunit_index && fileunit_index % numPerline ? fileUnitMargin + "px" : "auto"
                            }}>
                            <file-unit ref="fileunit{fileunit_index}"
                                file={fileunit}
                                action={action}
                                url={fileunit.url}
                                name={name}
                                status={fileunit.status}
                                readonly={readonly}
                                data={data}
                                beforeOnLoad={beforeOnLoad}
                                beforeOnError={beforeOnError}
                                on-preview={this.onPreview($event)}
                                on-progress={this.onProgress($event)}
                                on-success={this.onSuccess($event)}
                                on-error={this.onError($event)}
                                on-remove={this.onRemove($event)}/>
                        </li>
                    {/list}
                </ul>
            </div>
            <div class="m-entry-info">{info}</div>
        </div>
        <div ref="inputwrapper" class="u-input-wrapper" r-hide={readonly} on-click={this.fileDialogOpen()}>
            {#if this.$body}
                {#inc this.$body}
            {#else}
                <div class="u-input-btn" on-drop={this.onDrop($event)} on-dragenter={this.onDragEnter($event)} on-dragover={this.onDragOver($event)}>
                    <span class="u-input-content"><i class="u-icon u-icon-plus"></i>{this.$trans('UPLOAD_FILE')}</span>
                </div>
                <div class="u-input-info">{preCheckInfo}</div>
            {/if}
        </div>
    </div>
    <form method="POST" action={url} target="iframe{_id}" enctype={contentType} ref="form">
        <input type="file" name={name} ref="file" multiple={multiple ? 'multiple' : ''} accept={accept} r-hide={true} on-change={this.fileSelect()}>
        {#list Object.keys(data) as key}
            <input type="hidden" name={key} value={data[key]}>
        {/list}
    </form>
    <div ref="imagepreview"></div>
</div>
