<div class="u-dropdown u-select2 {class}" z-dis={disabled} r-hide={!visible} ref="element">
    <div class="dropdown_hd" title={selected ? selected[nameKey] : placeholder} on-click={this.toggle(!open)}>
        <i class="u-icon u-icon-caret-down"></i>
        <span>{selected ? selected[nameKey] : placeholder}</span>
    </div>
    {#if open}
    <div class="dropdown_bd" r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
        <ul class="m-listview">
            {#if placeholder}<li z-sel={!selected} on-click={this.select(undefined)}>{placeholder}</li>{/if}
            {#list source as item}
            <li z-sel={selected === item} z-dis={item.disabled} z-divider={item.divider} title={item[nameKey]} on-click={this.select(item)}>{#if @(itemTemplate)}{#inc @(itemTemplate)}{#else}{item[nameKey]}{/if}</li>
            {/list}
        </ul>
    </div>
    {/if}
</div>
{#if tip}<span class="u-tip u-tip-{state}">{tip}</span>{/if}