.ivu-date-picker {
    display: inline-block;
    line-height: normal
}

.ivu-date-picker-rel {
    position: relative
}

.ivu-date-picker .ivu-select-dropdown {
    width: auto;
    padding: 0;
    overflow: visible;
    max-height: none
}

.ivu-date-picker-cells {
    width: 196px;
    margin: 10px;
    white-space: normal
}

.ivu-date-picker-cells span {
    display: inline-block;
    width: 24px;
    height: 24px
}

.ivu-date-picker-cells span em {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 2px;
    font-style: normal;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ivu-date-picker-cells-header span {
    line-height: 24px;
    text-align: center;
    margin: 2px;
    color: #bbbec4
}

.ivu-date-picker-cells-cell:hover em {
    background: #e1f0fe
}

.ivu-date-picker-cells-focused em {
    -webkit-box-shadow: 0 0 0 1px #2d8cf0 inset;
    box-shadow: 0 0 0 1px #2d8cf0 inset
}

span.ivu-date-picker-cells-cell {
    width: 28px;
    height: 28px;
    cursor: pointer
}

.ivu-date-picker-cells-cell-next-month em,
.ivu-date-picker-cells-cell-prev-month em {
    color: #bbbec4
}

.ivu-date-picker-cells-cell-next-month:hover em,
.ivu-date-picker-cells-cell-prev-month:hover em {
    background: 0 0
}

span.ivu-date-picker-cells-cell-disabled,
span.ivu-date-picker-cells-cell-disabled:hover,
span.ivu-date-picker-cells-cell-week-label,
span.ivu-date-picker-cells-cell-week-label:hover {
    cursor: not-allowed;
    color: #bbbec4
}

span.ivu-date-picker-cells-cell-disabled em,
span.ivu-date-picker-cells-cell-disabled:hover em,
span.ivu-date-picker-cells-cell-week-label em,
span.ivu-date-picker-cells-cell-week-label:hover em {
    color: inherit;
    background: inherit
}

span.ivu-date-picker-cells-cell-disabled,
span.ivu-date-picker-cells-cell-disabled:hover {
    background: #f7f7f7
}

.ivu-date-picker-cells-cell-today em {
    position: relative
}

.ivu-date-picker-cells-cell-today em:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2d8cf0;
    position: absolute;
    top: 1px;
    right: 1px
}

.ivu-date-picker-cells-cell-range {
    position: relative
}

.ivu-date-picker-cells-cell-range em {
    position: relative;
    z-index: 1
}

.ivu-date-picker-cells-cell-range:before {
    content: '';
    display: block;
    background: #e1f0fe;
    border-radius: 0;
    border: 0;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    right: 0
}

.ivu-date-picker-cells-cell-selected em,
.ivu-date-picker-cells-cell-selected:hover em {
    background: #2d8cf0;
    color: #fff
}

span.ivu-date-picker-cells-cell-disabled.ivu-date-picker-cells-cell-selected em {
    background: #bbbec4;
    color: #f7f7f7
}

.ivu-date-picker-cells-cell-today.ivu-date-picker-cells-cell-selected em:after {
    background: #fff
}

.ivu-date-picker-cells-show-week-numbers {
    width: 226px
}

.ivu-date-picker-cells-month,
.ivu-date-picker-cells-year {
    margin-top: 14px
}

.ivu-date-picker-cells-month span,
.ivu-date-picker-cells-year span {
    width: 40px;
    height: 28px;
    line-height: 28px;
    margin: 10px 12px;
    border-radius: 3px
}

.ivu-date-picker-cells-month span em,
.ivu-date-picker-cells-year span em {
    width: 40px;
    height: 28px;
    line-height: 28px;
    margin: 0
}

.ivu-date-picker-cells-month .ivu-date-picker-cells-cell-focused,
.ivu-date-picker-cells-year .ivu-date-picker-cells-cell-focused {
    background-color: #d5e8fc
}

.ivu-date-picker-header {
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #e9eaec
}

.ivu-date-picker-header-label {
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.ivu-date-picker-header-label:hover {
    color: #2d8cf0
}

.ivu-date-picker-btn-pulse {
    background-color: #d5e8fc !important;
    border-radius: 4px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out
}

.ivu-date-picker-prev-btn {
    float: left
}

.ivu-date-picker-prev-btn-arrow-double {
    margin-left: 10px
}

.ivu-date-picker-prev-btn-arrow-double i:after {
    content: "\F3D2"
}

.ivu-date-picker-next-btn {
    float: right
}

.ivu-date-picker-next-btn-arrow-double {
    margin-right: 10px
}

.ivu-date-picker-next-btn-arrow-double i:after {
    content: "\F3D3"
}

.ivu-date-picker-with-range .ivu-picker-panel-body {
    min-width: 432px
}

.ivu-date-picker-with-range .ivu-picker-panel-content {
    float: left
}

.ivu-date-picker-with-range .ivu-picker-cells-show-week-numbers {
    min-width: 492px
}

.ivu-date-picker-with-week-numbers .ivu-picker-panel-body-date {
    min-width: 492px
}

.ivu-date-picker-transfer {
    z-index: 1060;
    max-height: none;
    width: auto
}

.ivu-date-picker-focused input {
    border-color: #57a3f3;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
    box-shadow: 0 0 0 2px rgba(45, 140, 240, .2)
}

.ivu-picker-panel-icon-btn {
    display: inline-block;
    width: 20px;
    height: 24px;
    line-height: 26px;
    margin-top: 4px;
    text-align: center;
    cursor: pointer;
    color: #bbbec4;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.ivu-picker-panel-icon-btn:hover {
    color: #2d8cf0
}

.ivu-picker-panel-icon-btn i {
    font-size: 14px
}

.ivu-picker-panel-body-wrapper.ivu-picker-panel-with-sidebar {
    padding-left: 92px
}

.ivu-picker-panel-sidebar {
    width: 92px;
    float: left;
    margin-left: -92px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #f8f8f9;
    border-right: 1px solid #e9eaec;
    border-radius: 4px 0 0 4px;
    overflow: auto
}

.ivu-picker-panel-shortcut {
    padding: 6px 15px 7px 15px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ivu-picker-panel-shortcut:hover {
    background: #e9eaec
}

.ivu-picker-panel-body {
    float: left
}

.ivu-picker-confirm {
    border-top: 1px solid #e9eaec;
    text-align: right;
    padding: 8px;
    clear: both
}

.ivu-picker-confirm>span {
    color: #2d8cf0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding: 2px 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ivu-picker-confirm>span:hover {
    color: #57a3f3
}

.ivu-picker-confirm>span:active {
    color: #2b85e4
}

.ivu-picker-confirm-time {
    float: left
}

.ivu-time-picker-cells {
    min-width: 112px
}

.ivu-time-picker-cells-with-seconds {
    min-width: 168px
}

.ivu-time-picker-cells-list {
    width: 56px;
    max-height: 144px;
    float: left;
    overflow: hidden;
    border-left: 1px solid #e9eaec;
    position: relative
}

.ivu-time-picker-cells-list:hover {
    overflow-y: auto
}

.ivu-time-picker-cells-list:first-child {
    border-left: none;
    border-radius: 4px 0 0 4px
}

.ivu-time-picker-cells-list:last-child {
    border-radius: 0 4px 4px 0
}

.ivu-time-picker-cells-list ul {
    width: 100%;
    margin: 0;
    padding: 0 0 120px 0;
    list-style: none
}

.ivu-time-picker-cells-list ul li {
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 0 16px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    list-style: none;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out
}

.ivu-time-picker-cells-cell:hover {
    background: #f3f3f3
}

.ivu-time-picker-cells-cell-disabled {
    color: #bbbec4;
    cursor: not-allowed
}

.ivu-time-picker-cells-cell-disabled:hover {
    color: #bbbec4;
    background-color: #fff;
    cursor: not-allowed
}

.ivu-time-picker-cells-cell-selected,
.ivu-time-picker-cells-cell-selected:hover {
    color: #2d8cf0;
    background: #f3f3f3
}

.ivu-time-picker-cells-cell-focused {
    background-color: #d5e8fc
}

.ivu-time-picker-header {
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #e9eaec
}

.ivu-time-picker-with-range .ivu-picker-panel-body {
    min-width: 228px
}

.ivu-time-picker-with-range .ivu-picker-panel-content {
    float: left;
    position: relative
}

.ivu-time-picker-with-range .ivu-picker-panel-content:after {
    content: '';
    display: block;
    width: 2px;
    position: absolute;
    top: 31px;
    bottom: 0;
    right: -2px;
    background: #e9eaec;
    z-index: 1
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right {
    float: right
}

.ivu-time-picker-with-range .ivu-picker-panel-content-right:after {
    right: auto;
    left: -2px
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:first-child {
    border-radius: 0
}

.ivu-time-picker-with-range .ivu-time-picker-cells-list:last-child {
    border-radius: 0
}

.ivu-time-picker-with-range.ivu-time-picker-with-seconds .ivu-picker-panel-body {
    min-width: 340px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells {
    min-width: 216px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds {
    min-width: 216px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds .ivu-time-picker-cells-list {
    width: 72px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-with-seconds .ivu-time-picker-cells-list ul li {
    padding: 0 0 0 28px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list {
    width: 108px;
    max-height: 216px
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list:first-child {
    border-radius: 0
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list:last-child {
    border-radius: 0
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list ul {
    padding: 0 0 192px 0
}

.ivu-picker-panel-content .ivu-picker-panel-content .ivu-time-picker-cells-list ul li {
    padding: 0 0 0 46px
}
