@mixin tag-type($bg-color, $color, $border-color, $hover-bg-color, $hover-color, $hover-border-color) {
  background: $bg-color;
  color: $color;
  border: 1px solid $border-color;

  &:hover {
    outline: none;
    text-decoration: none;
    color: $hover-color;
    background: $hover-bg-color;
    border-color: $hover-border-color;
  }
}

@include b(tag) {
  display: inline-flex;
  align-items: center;
  padding: 2px 8px;
  color: $--text-color-default;
  border-radius: 100px;

  /* Btn-Type */
  @include m(default) {
    @include tag-type($--background-color-white, $--text-color-default, $--border-color-base,
            $--background-color-white, $--text-color-primary-hover, $--border-color-primary-hover);
  }
  @include m(primary) {
    @include tag-type($--background-color-primary, $--text-color-white, $--border-color-primary,
            $--background-color-primary-hover, $--text-color-white, $--border-color-primary-hover);
  }
  @include m(warning) {
    @include tag-type($--background-color-white, $--text-color-error, $--border-color-error,
            $--background-color-white, $--text-color-error-hover, $--border-color-error-hover);
  }

  @include e(close) {
    margin-left: 5px;
    cursor: pointer;
  }
}