@include b(tag) {
  padding: 2px 8px;
  color: $--text-color-default;
  border-radius: 100px;

  /* Btn-Type */
  @include m(default) {
    @include btn-type($--background-color-white, $--text-color-default, $--border-color-base,
            $--background-color-white, $--text-color-primary-hover, $--border-color-primary-hover,
            $--background-color-white, $--text-color-primary-active, $--border-color-primary-active);
  }
  @include m(primary) {
    @include btn-type($--background-color-primary, $--text-color-white, $--border-color-primary,
            $--background-color-primary-hover, $--text-color-white, $--border-color-primary-hover,
            $--background-color-primary-active,$--text-color-white, $--border-color-primary-active);
  }
  @include m(warning) {
    @include btn-type($--background-color-white, $--text-color-error, $--border-color-error,
            $--background-color-white, $--text-color-error-hover, $--border-color-error-hover,
            $--background-color-white, $--text-color-error-active, $--border-color-error-active);
  }
}