@mixin btn-type($bg-color, $color, $border-color, $hover-bg-color, $hover-color, $hover-border-color,
$active-bg-color, $active-color, $active-border-color) {
    background: $bg-color;
    color: $color;
    border: 1px solid $border-color;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        color: $hover-color;
        background: $hover-bg-color;
        border-color: $hover-border-color;
    }
    &:active {
        transform: translateY(2px);
        color: $active-color;
        background: $active-bg-color;
        border-color: $active-border-color;
    }
}

@mixin btn-size($padding, $height, $font-size) {
    padding: $padding;
    height: $height;
    line-height: $height - 2;
    font-size: $font-size;
}
