/* Form-Item-Common */

@mixin form-item-size($padding, $height, $font-size) {
    padding: $padding;
    height: $height;
    line-height: $height;
    font-size: $font-size;
}

@mixin form-item-width($width) {
    display: inline-block;
    width: $width;
}

@mixin form-item-transition {
    transition: all 1s ease;
}

@mixin form-item-focus {
    outline: 0;
    background: $--background-color-white;
    color: $--text-color-default;
    border-color: $--border-color-primary;
    box-shadow: 0 0 2px 0 $--border-color-primary;
}

@mixin form-item-hover {
    border-color: $--border-color-primary;
}

@mixin form-item-disabled {
    cursor: not-allowed;
    background: $--background-color-disabled;
    color: $--text-color-disabled;
    border: 1px solid $--border-color-disabled;
}

@mixin form-item-error {
    border-color: $--border-color-error;
    &:hover {
        box-shadow: 0 0 0 0;
        border-color: $--error-color;
    }
    &:focus {
        box-shadow: 0 0 0 0;
        border-color: $--error-color;
    }
}

/* Input */
@mixin form-item-input {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
    max-width: 100%;
}

/* Button */

@mixin btn-type($bg-color, $color, $border-color, $hover-bg-color, $hover-color, $hover-border-color,
$active-bg-color, $active-color, $active-border-color) {
    background: $bg-color;
    color: $color;
    border: 1px solid $border-color;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        color: $hover-color;
        background: $hover-bg-color;
        border-color: $hover-border-color;
    }
    &:active {
        transform: translateY(2px);
        color: $active-color;
        background: $active-bg-color;
        border-color: $active-border-color;
    }
}

@mixin btn-size($padding, $height, $font-size) {
    padding: $padding;
    height: $height;
    line-height: $height - 2;
    font-size: $font-size;
}
