@import "bem.config";

/* BEM support Func
 -------------------------- */
@function __selectorToString($selector) {
    $selector: inspect($selector);
    $selector: str-slice($selector, 2, -2);
    @return $selector;
}

@function containsModifier($selector) {
    $selector: __selectorToString($selector);
    @if str-index($selector, $modifier-separator) {
        @return true;
    }
    @else {
        @return false;
    }
}
