@include b(calendar) {
  width: 250px;
  padding: 4px;
  background: $--background-color-base;
  color: $--text-color-default;
  border: 1px solid $--border-color-base;
  border-radius: $--border-radius-lg;


  text-align: center;
  user-select: none;

  @include e(item) {
    display: inline-block;
    width: 32px;
    line-height: 30px;
    margin: 1px;
    border-radius: $--border-radius-base;
    cursor: pointer;

    &:hover {
      background: $--background-color-hover;
      color: $--text-color-hover;
    }

    @include when(sel) {
      background: $--background-color-selected;
      color: $--text-color-selected;
    }

    @include when(dis) {
      background: none;
      color: $--text-color-disabled;
      cursor: not-allowed;
    }

    @incluce when(muted) {
      color: $--text-color-disabled;
    }
  }

  @include m(dis) {
    @include e(item) {
      background: $--background-color-base;
      color: $--text-color-disabled;
      cursor: not-allowed;

      @include when(sel) {
        background: $--background-color-disabled;
        color: $--text-color-disabled;
      }
    }
  }
}

@include b(calendar-hd) {
  @extend .f-cb;
  line-height: 32px;

  @include e(prev) {
    float: left;
  }
  @include e(next) {
    float: right;
  }
}

@include b(calendar-bd) {
  clear: both;
}

@include b(canlendar-week) {
  @include e(item) {
    cursor: default;
    background: none;
  }
}

