<div class="kl-unitgroup kl-unitgroup--{size} {class}" r-hide={!visible} r-width="{width}">
	<div class="kl-unitgroup__wrap">
	    {#list source as item}
	    <label class="kl-radio" title={item[nameKey]} is-sel={item === selected} is-dis={disabled} r-class={ {'kl-radio--block': block} } on-click={this.select(item)}>
			<div class="kl-radio__box">
				<kl-icon type="radio" />
			</div>{#if item['contentTemplate']}{#inc @(item['contentTemplate'])}{#else}{item[nameKey]}{/if}
		</label>
	    {/list}
	</div>
	{#if tip && !hideTip}
		<span class="kl-tip kl-tip-{state} animated" r-animation="on:enter;class:fadeInY;on:leave;class:fadeOutY;">
			<kl-icon type={state} />
			<span class="tip">{tip}</span>
		</span>
	{/if}
</div>