<div class="el-picker-panel__content el-date-range-picker__content is-left">
    <!-- <div class="el-date-range-picker__header">
      <button
        type="button"
        @click="leftPrevYear"
        class="el-picker-panel__icon-btn el-icon-d-arrow-left"></button>
      <button
        type="button"
        @click="leftPrevMonth"
        class="el-picker-panel__icon-btn el-icon-arrow-left"></button>
      <button
        type="button"
        @click="leftNextYear"
        v-if="unlinkPanels"
        :disabled="!enableYearArrow"
        :class="{ 'is-disabled': !enableYearArrow }"
        class="el-picker-panel__icon-btn el-icon-d-arrow-right"></button>
      <button
        type="button"
        @click="leftNextMonth"
        v-if="unlinkPanels"
        :disabled="!enableMonthArrow"
        :class="{ 'is-disabled': !enableMonthArrow }"
        class="el-picker-panel__icon-btn el-icon-arrow-right"></button>
      <div>{{ leftLabel }}</div>
    </div> -->
    <date-table
      selection-mode="range"
      date="{leftDate}"
      default-value="{defaultValue}"
      min-date="{minDate}"
      max-date="{maxDate}"
      range-state="{rangeState}"
      disabled-date="{disabledDate}"
      on-changerange="{this.handleChangeRange()}"
      first-day-of-week="{firstDayOfWeek}"
      on-pick="{this.handleRangePick()}">
    </date-table>
  </div>
  <div class="el-picker-panel__content el-date-range-picker__content is-right">
    <!-- <div class="el-date-range-picker__header">
      <button
        type="button"
        @click="rightPrevYear"
        v-if="unlinkPanels"
        :disabled="!enableYearArrow"
        :class="{ 'is-disabled': !enableYearArrow }"
        class="el-picker-panel__icon-btn el-icon-d-arrow-left"></button>
      <button
        type="button"
        @click="rightPrevMonth"
        v-if="unlinkPanels"
        :disabled="!enableMonthArrow"
        :class="{ 'is-disabled': !enableMonthArrow }"
        class="el-picker-panel__icon-btn el-icon-arrow-left"></button>
      <button
        type="button"
        click="rightNextYear"
        class="el-picker-panel__icon-btn el-icon-d-arrow-right"></button>
      <button
        type="button"
        on-click="{tshi.rightNextMonth()}"
        class="el-picker-panel__icon-btn el-icon-arrow-right"></button>
      <div>{ rightLabel }</div>
    </div> -->
    <date-table
      selection-mode="range"
      date="{rightDate}"
      default-value="{defaultValue}"
      min-date="{minDate}"
      max-date="{maxDate}"
      range-state="{rangeState}"
      disabled-date="{disabledDate}"
      on-changerange="{this.handleChangeRange()}"
      first-day-of-week="{firstDayOfWeek}"
      on-pick="this.handleRangePick()">
    </date-table>
  </div>