/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}

.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}

.f-fl{float:left;}
.f-fr{float:right;}

.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}

.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vat{vertical-align:top;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-vab{vertical-align:bottom;}

/* @extend .f-wsn; */
.f-wsn{word-wrap:normal;white-space:nowrap;}
/* @extend .f-pre; */
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
/* @extend .f-wwb; */
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
/* @extend .f-toe; */
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
/* @extend .f-usn; */
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
/* @extend .f-lsn; */
.f-lsn{list-style:none;margin:0;padding:0;}
/* @extend .f-lsi; */
.f-lsi{
  letter-spacing: -5px; /* -.307em; */
  > * {
    letter-spacing: normal;
  }
}

.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}

.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}

/* margins */
.f-mb5{margin-bottom:5px;}
.f-mr5{margin-right:5px; }
.f-ml5{margin-left:5px;}
.f-mt5{margin-top:5px;}

.f-mb10{margin-bottom:10px!important;}
.f-mr10{margin-right:10px; }
.f-ml10{margin-left:10px;}
.f-mt10{margin-top:10px!important;}

.f-mb15{margin-bottom:15px;}
.f-mr15{margin-right:15px; }
.f-ml15{margin-left:15px;}
.f-mt15{margin-top:15px;}

.f-mb20{margin-bottom:20px;}
.f-mr20{margin-right:20px; }
.f-ml20{margin-left:20px;}
.f-mt20{margin-top:20px;}

.f-color-primary{color: $--primary-color;}
.f-color-secondary{color: $--primary-color;}
.f-color-notice{color: $--notice-color;}
.f-color-success{color: $--success-color;}
.f-color-error{color: $--error-color;}
.f-color-warning{color: $--warning-color;}
