<ul class="m-steps m-steps-{size} f-cb">
    {#list steps as item by item_index}
        <li class="stepsItem"
            style="{ item_index != steps.length-1 ? 'width:'+ 100/(steps.length-1) + '%;margin-right:' + ( -166/(steps.length-1) ) + 'px;' : ''}"
            r-class={{'finishedItem': item_index/1 < currentIndex/1}} >
            {#if item_index != steps.length-1}
            <div class="stepsLine" style="{ 'left: 72px;padding-right:' + 160/(steps.length-1) + 'px;' }">
                <i></i>
            </div>
            {/if}
            <div class="step" r-class={{'currentStep': current == item.status}}>
                <div class="itemHead">
                    {#if item_index < currentIndex}
                    <div class="icon">
                        <span class="stepIcon u-icon u-icon-ok"></span>
                    </div>
                    {#else}
                    <div class="icon">
                        <span class="stepIcon">{item_index + 1}</span>
                    </div>
                    {/if}
                </div>
                <div class="itemMain">
                    <div class="mainTitle">{item.title}</div>
                    <div class="mainDescription">{item.description}</div>
                </div>
            </div>
        </li>
    {/list}
</ul>