@include b(unitgroup) {
    font-size: 0;   //解决display: inline-block的元素之前产生的间距
    line-height: initial;

    .kl-btn{
        margin-right: 16px;
    }
    .kl-btn:last-child{
        margin-right: 0;
    }

    .kl-check, .kl-radio{
        margin-right: 40px;
    }
    .kl-check:last-child, .kl-radio:last-child {
        margin-right: 0;
    }
    .kl-tip {
        margin-top: 0;
    }

    .unitgroup_wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    @include m(sm) {
        font-size: 0;   //解决display: inline-block的元素之前产生的间距
        .kl-btn {
            margin-right: 8px;
        }
        .kl-btn:last-child{
            margin-right: 0;
        }

        .kl-check, .kl-radio{
            margin-right: 16px;
            line-height: 24px;
        }
        .kl-check:last-child, .kl-radio:last-child{
            margin-right: 0;
        }
    }
}