<div class="kl-unitgroup kl-unitgroup--{size} {class}" r-hide={!visible} r-width="{width}">
	<div class="unitgroup_wrap">
	    {#list source as item}
	        <kl-check name={item[nameKey]} checked={item.checked} disabled={disabled} block={block} on-check={this._onCheck(item)} />
	    {/list}
	</div>
	{#if tip && !hideTip}<span class="kl-tip kl-tip--{state} aniamted" r-animation="on:enter;class:fadeInY;on:leave;class:fadeOutY;"><i class="kl-icon kl-icon-{state}"></i><span class="tip">{tip}</span></span>{/if}
</div>