@include b(datepicker) {
  @include e(confirmBtn) {
    color: #e31436;
    background: #fff;
    border: 1px solid #e31436;
  }

  .kl-dropdown {
    .kl-dropdown__bd {
      display: inline-block;
      width: auto;
    }

    .kl-dropdown__ft {
      display: flex;
      padding: 4px 0 0;
      margin-top: 4px;
      justify-content: flex-end;
      border-top: 1px solid #ddd;
    }
  }
}
