<div class="u-dropdown u-datetimepicker u-dropdown-{size} {class}" r-width="{width}">
  <div class="u-dropdown " z-dis={disabled} r-hide={!visible} ref="element">
    <div class="dropdown_hd">
      {#if showTime}
      <label class="u-input">
        <input class="input input-{state}" placeholder={placeholder} value={date | format: 'yyyy-MM-dd HH:mm:ss'} ref="input"
        autofocus={autofocus} readonly={readonly} disabled={disabled} on-focus={this.toggle(true)} on-change={this._onInput($event)} >
      </label>
      {#else}
      <label class="u-input">
        <input class="input input-{state}" placeholder={placeholder} value={date | format: 'yyyy-MM-dd'} ref="input"
        autofocus={autofocus} readonly={readonly} disabled={disabled} on-focus={this.toggle(true)} on-change={this._onInput($event)} >
      </label>
      {/if}
    </div>
    <div class="dropdown_bd" r-hide={!open}>
      <calendar lang={lang} minDate={minDate} maxDate={maxDate} date={_date} on-select={this.select($event.date, _time)}>
        {#if showTime}
        <time-picker size="sm" time={_time} on-change={this._onDateTimeChange(_date, _time)} />
        {/if}
        <div class="dropdown_ft">
          <a class="u-btn u-btn-sm datetimepicker_confirmBtn" on-click={this.onConfirm()}>{this.$trans('CONFIRM')}</a>
        </div>
      </calendar>
    </div>
  </div>
  {#if tip && !hideTip}<span class="u-tip u-tip-{state}"><i class="u-icon u-icon-{state}"></i><span class="tip">{tip}</span></span>{/if}
</div>
