<div class="kl-dropdown kl-select kl-select--{size} kl-select--{state} kl-multi-select {class}" r-width={width} r-hide={!visible} ref="element">
    <div class="kl-dropdown__hd" is-dis={disabled} r-class={{'is-active':open}} on-click={this.toggle(!open, $event)}>
        {#if showRoot}
            {#list rootSelected as item}
                {#if showPath && placement}
                <kl-tooltip tip={item.path} placement={placement}>
                    <span class="kl-select__tag" r-class={{'kl-select__tag--more':item[nameKey].length >= 15}}>{showPathName ? item.path : item[nameKey]}
                        <kl-icon type="cross" on-click={this.delete($event, item)} />
                    </span>
                </kl-tooltip>
                {#else}
                <span class="kl-select__tag" r-class={{'kl-select__tag--more':item[nameKey].length >= 15}}>{showPathName ? item.path : item[nameKey]}
                    <kl-icon type="cross" on-click={this.delete($event, item)} />
                </span>
                {/if}
            {/list}
        {#else}
            {#list selected as item}
                {#if showPath && placement}
                <kl-tooltip tip={item.path} placement={placement}>
                    <span class="kl-select__tag" r-class={{'kl-select__tag--more':item[nameKey].length >= 15}}>{showPathName ? item.path : item[nameKey]}
                        <kl-icon type="cross" on-click={this.delete($event, item)} />
                    </span>
                </kl-tooltip>
                {#else}
                <span class="kl-select__tag" r-class={{'kl-select__tag--more':item[nameKey].length >= 15}}>{showPathName ? item.path : item[nameKey]}
                    <kl-icon type="cross" on-click={this.delete($event, item)} />
                </span>
                {/if}
            {/list}
        {/if}
        <span class="kl-multi-select__placeholder" r-hide={open || !placeholder || selected.length}>{placeholder}</span>
        <kl-icon fontSize=15 type="arrow-down" class="f-fr kl-multi-select__angle {open ? 'kl-multi-select__angle--transform' : ''}"/>
    </div>
    {#if open}
    <div class="kl-dropdown__bd" r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
        <div class="kl-multi-select-cate-wrap">
            {#list 0..9 as level}
            {#if tree[level] && tree[level].length}
            <ul class="kl-multi-select-cate-inner" r-animation="on: leave; class: animated fadeOutX fast;">
                <kl-input value={search[level]}  readonly={readonly}></kl-input>
                {#list tree[level] | search : search[level],level as cate}
                {#if !filter || (filter && filter(cate))}
                <li class="f-csp kl-multi-select-cate {cate.active ? 'kl-multi-select-cate--active' : ''}" on-click={this.viewCate(cate, level)}>
                	{#if multiple}
                	<kl-check checked={cate[checkKey]} on-check={this.checkCate(cate, level, cate[checkKey])}  readonly={readonly} ></kl-check>
                    {/if}
                    <span {#if !multiple} class="kl-multi-select-cate__name"  {/if}>{cate[nameKey]}</span>
                    {#if cate[childKey] && cate[childKey].length}<span class="kl-multi-select-cate__more" r-class={{'kl-multi-select-cate__more--child': !multiple && !onlyChild}}{#if !multiple && !onlyChild} on-click={this.viewCate(cate, level, true, $event)} {/if}><kl-icon type="arrow-right" /></span>{/if}
                </li>
                {/if}
                {/list}
                {#if empty[level]}
				<li class="f-csp">无任何匹配选项</li>
                {/if}
            </ul>
            {/if}
            {/list}
        </div>
    </div>
    {/if}
</div>
{#if tip && !hideTip}
    <span class="kl-tip kl-tip--{state} animated" r-animation="on:enter;class:fadeInY;on:leave;class:fadeOutY;">
        <kl-icon type={state} />
        <span class="kl-tip__msg">{tip}</span>
    </span>
{/if}
