<div class="u-dropdown u-select u-select-{state} u-multi u-multi{class}" z-dis={disabled} r-hide={!visible} ref="element">
    <div class="dropdown_hd" on-click={this.toggle(!open, $event)}>
        {#list selected as item}
        <span class="selected-tag" r-class={{selectedTagMore:item[nameKey].length >= 15}}>{item[nameKey]}
			<i class="u-icon u-icon-remove" on-click={this.delete($event, item)}></i>
        </span>
        {/list}
        {#if !open}
        <kl-icon fontSize=12 type="angle_down" class="f-fr" on-click={this.toggle(!open, $event)}/>
        {/if}
    </div>
    {#if open}
    <div class="dropdown_bd" r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
        <div class="cateWrap">
            {#list 0..9 as level}
            {#if tree[level] && tree[level].length}
            <ul>
                <kl-input value={search[level]}></kl-input>
                {#list tree[level] | search : search[level],level as cate}
                {#if !filter || (filter && filter(cate))}
                <li class="f-csp {cate.active?'active':''}" on-click={this.viewCate(cate, level)}>
                	{#if multiple}
                	<kl-check checked={cate[checkKey]} on-check={this.checkCate(cate, level, cate[checkKey])} ></kl-check>
                    {/if}
                    <span {#if !multiple} class="cateName"  {/if}>{cate[nameKey]}</span>
                    {#if cate[childKey] && cate[childKey].length}<span class="more" r-class={{onlyChild:!multiple && !onlyChild}} {#if !multiple && !onlyChild} on-click={this.viewCate(cate, level, true, $event)} {/if}><kl-icon type="chevron_right" /></span>{/if}
                </li>
                {/if}
                {/list}
                {#if empty[level]}
				<li class="f-csp">无任何匹配选项</li>
                {/if}
            </ul>
            {/if}
            {/list}
        </div>
    </div>
    {/if}
    {#if tip && !hideTip}<span class="u-tip u-tip-{state} animated" r-animation="on:enter;class:fadeInY;on:leave;class:fadeOutY;"><i class="u-icon u-icon-{state}"></i><span class="tip">{tip}</span></span>{/if}
</div>