
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>复选框 - nek-ui</title>
        <meta charset="utf-8">
        <meta name="description" content="nek-ui - UI components based on RegularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="og:type" content="article">
        <meta property="og:title" content="复选框 - nek-ui">
        <meta property="og:description" content="nek-ui - UI components based on RegularJS">
        <meta property="og:image" content="https://nek-ui.kaolafed.com/images/logo.png">

        <link rel="icon" href="/images/logo.png" type="image/x-icon">

        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Dosis:500&text=nek-ui" rel='stylesheet' type='text/css'>
        <!--  nek-ui -->
        <link href="/css/nek-ui.default.css" rel='stylesheet' type='text/css'>
        <!-- main page styles -->
        <link rel="stylesheet" href="/css/page.css">
        <script>window.PAGE_TYPE = "components"</script>
    </head>
    <body class="docs">        <script src="/vendor/regular.js"></script>
        <script src="/js/nek-ui.js"></script>
        <div id="mobile-bar" >
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <div id="header">
  <a id="logo" href="/">
    <img src="/images/logo.png">
    <span>nek-ui</span>
  </a>
  <ul id="nav">
    <li><a href="/rule/" class="nav-link">规范</a></li>
<li><a href="/components/" class="nav-link current">组件</a></li>
<li><a href="/scene/" class="nav-link">场景</a></li>
<li><a href="/tools/" class="nav-link">工具</a></li>
<li class="nav-dropdown-container">
  <a class="nav-link">资源</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/kaola-fed/NEK" class="nav-link" target="_blank">NEK</a></li>
    <li><a href="https://github.com/regularjs/regular" class="nav-link" target="_blank">RegularJS</a></li>
  </ul>
</li>

  </ul>
</div>

        
            <div id="main" class="fix-sidebar">
                
    <div class="sidebar">
    <ul class="main-menu">
        <li><a href="/rule/" class="nav-link">规范</a></li>
<li><a href="/components/" class="nav-link current">组件</a></li>
<li><a href="/scene/" class="nav-link">场景</a></li>
<li><a href="/tools/" class="nav-link">工具</a></li>
<li class="nav-dropdown-container">
  <a class="nav-link">资源</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/kaola-fed/NEK" class="nav-link" target="_blank">NEK</a></li>
    <li><a href="https://github.com/regularjs/regular" class="nav-link" target="_blank">RegularJS</a></li>
  </ul>
</li>

    </ul>
    <div class="list">
        <ul class="menu-root">
            
            
                
                <li>
                    <a href="/components/index.html" class="sidebar-link">快速上手 </a>
                </li>
            
                
                    
                        <li><h3>布局</h3></li>
                    
                
                <li>
                    <a href="/components/layout_card_.html" class="sidebar-link">卡片 card</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/layout_ui.table_.html" class="sidebar-link">表格 ui.table</a>
                </li>
            
                
                    
                        <li><h3>表单</h3></li>
                    
                
                <li>
                    <a href="/components/form_check_.html" class="sidebar-link current">复选框 check</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_check.group_.html" class="sidebar-link">复选组 check.group</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_date.picker_.html" class="sidebar-link">日期选择 date.picker</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_form.item_.html" class="sidebar-link">表单项 form.item</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_multi.select_.html" class="sidebar-link">多级选择 multi.select</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_radio.group_.html" class="sidebar-link">单选组 radio.group</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_select.group_.html" class="sidebar-link">联动选择 select.group</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_ui.button_.html" class="sidebar-link">按钮 ui.button</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_ui.form_.html" class="sidebar-link">表单 ui.form</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_ui.input_.html" class="sidebar-link">输入框 ui.input</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_ui.select_.html" class="sidebar-link">下拉选择 ui.select</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_ui.text_.html" class="sidebar-link">展示文本 ui.text</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/form_ui.textarea_.html" class="sidebar-link">文本输入 ui.textarea</a>
                </li>
            
                
                    
                        <li><h3>通知</h3></li>
                    
                
                <li>
                    <a href="/components/notice_mask_.html" class="sidebar-link">遮罩 mask</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/notice_modal_.html" class="sidebar-link">模态框 modal</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/notice_notify_.html" class="sidebar-link">通知 notify</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/notice_pop.confirm_.html" class="sidebar-link">确认提示 pop.confirm</a>
                </li>
            
                
                    
                        <li><h3>导航</h3></li>
                    
                
                <li>
                    <a href="/components/navigation_menu_.html" class="sidebar-link">两级菜单 menu</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/navigation_pager_.html" class="sidebar-link">分页 pager</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/navigation_steps_.html" class="sidebar-link">步骤 steps</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/navigation_tabs_.html" class="sidebar-link">选项卡 tabs</a>
                </li>
            
                
                    
                        <li><h3>其它</h3></li>
                    
                
                <li>
                    <a href="/components/widget_icon_.html" class="sidebar-link beta">图标 icon</a>
                </li>
            
                
                    
                
                <li>
                    <a href="/components/widget_tooltip_.html" class="sidebar-link">文字提示 tooltip</a>
                </li>
            
        </ul>
    </div>
</div>


<div class="content components with-sidebar">
    <h2 id="代码演示"><a href="#代码演示" class="headerlink" title="代码演示"></a>代码演示</h2><h3 id="基本形式"><a href="#基本形式" class="headerlink" title="基本形式"></a>基本形式</h3><!-- demo_start -->
<div class="m-example"></div>

<figure class="highlight xml"><table><tr><td class="code"><pre><div class="line"><span class="tag">&lt;<span class="name">check</span> <span class="attr">name</span>=<span class="string">"多选按钮"</span> /&gt;</span></div></pre></td></tr></table></figure>
<!-- demo_end -->
<h3 id="表单项"><a href="#表单项" class="headerlink" title="表单项"></a>表单项</h3><p>在表单中使用</p>
<!-- demo_start -->
<div class="m-example"></div>

<figure class="highlight xml"><table><tr><td class="code"><pre><div class="line"><span class="tag">&lt;<span class="name">ui.form</span>&gt;</span></div><div class="line">    <span class="tag">&lt;<span class="name">form.item</span> <span class="attr">cols</span>=<span class="string">"12"</span> <span class="attr">title</span>=<span class="string">"用户名"</span> <span class="attr">hint</span>=<span class="string">"用户名的用途"</span>&gt;</span></div><div class="line">        <span class="tag">&lt;<span class="name">check</span> <span class="attr">name</span>=<span class="string">"多选按钮1"</span> /&gt;</span></div><div class="line">        <span class="tag">&lt;<span class="name">check</span> <span class="attr">name</span>=<span class="string">"多选按钮2"</span> /&gt;</span></div><div class="line">    <span class="tag">&lt;/<span class="name">form.item</span>&gt;</span></div><div class="line"><span class="tag">&lt;/<span class="name">ui.form</span>&gt;</span></div></pre></td></tr></table></figure>
<!-- demo_end -->
<h3 id="半选状态"><a href="#半选状态" class="headerlink" title="半选状态"></a>半选状态</h3><!-- demo_start -->
<div class="m-example"></div>

<figure class="highlight xml"><table><tr><td class="code"><pre><div class="line"><span class="tag">&lt;<span class="name">check</span> <span class="attr">name</span>=<span class="string">"半选状态"</span> <span class="attr">checked</span>=<span class="string">&#123;test&#125;</span> /&gt;</span></div></pre></td></tr></table></figure>
<figure class="highlight javascript"><table><tr><td class="code"><pre><div class="line"><span class="keyword">var</span> component = <span class="keyword">new</span> NEKUI.Component(&#123;</div><div class="line">    <span class="attr">template</span>: template,</div><div class="line">    <span class="attr">data</span>: &#123;</div><div class="line">        <span class="attr">test</span>: <span class="literal">null</span></div><div class="line">    &#125;</div><div class="line">&#125;);</div></pre></td></tr></table></figure>
<!-- demo_end -->
<h3 id="禁用组件"><a href="#禁用组件" class="headerlink" title="禁用组件"></a>禁用组件</h3><!-- demo_start -->
<div class="m-example"></div>

<figure class="highlight xml"><table><tr><td class="code"><pre><div class="line"><span class="tag">&lt;<span class="name">check</span> <span class="attr">name</span>=<span class="string">"多选按钮"</span> <span class="attr">disabled</span> /&gt;</span></div></pre></td></tr></table></figure>
<!-- demo_end -->
<h2 id="API"><a href="#API" class="headerlink" title="API"></a>API</h2><h2 id="Classes"><a href="#Classes" class="headerlink" title="Classes"></a>Classes</h2><dl>
<dt><a href="#Check">Check</a></dt>
<dd></dd>
</dl>

<h2 id="Functions"><a href="#Functions" class="headerlink" title="Functions"></a>Functions</h2><dl>
<dt><a href="#config">config()</a></dt>
<dd></dd>
<dt><a href="#check(checked) 改变选中状态">check(checked) 改变选中状态(checked)</a> ⇒ <code>void</code></dt>
<dd></dd>
</dl>

<h2 id="Events"><a href="#Events" class="headerlink" title="Events"></a>Events</h2><dl>
<dt><a href="#event_change 选中状态改变时触发">“change 选中状态改变时触发”</a></dt>
<dd></dd>
<dt><a href="#event_check 改变选中状态时触发">“check 改变选中状态时触发”</a></dt>
<dd></dd>
</dl>

<p><a name="Check"></a></p>
<h2 id="Check"><a href="#Check" class="headerlink" title="Check"></a>Check</h2><p><strong>Kind</strong>: global class<br><strong>Extend</strong>: Component<br><a name="new_Check_new"></a></p>
<h3 id="new-Check"><a href="#new-Check" class="headerlink" title="new Check()"></a>new Check()</h3><table>
<thead>
<tr>
<th>Param</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>options.data</td>
<td><code>object</code></td>
<td></td>
<td>= 绑定属性</td>
</tr>
<tr>
<td>[options.data.name]</td>
<td><code>string</code></td>
<td></td>
<td>=&gt; 多选按钮的文字</td>
</tr>
<tr>
<td>[options.data.checked]</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>&lt;=&gt; 多选按钮的选择状态。<code>false</code>表示未选，<code>true</code>表示已选，<code>null</code>表示半选。</td>
</tr>
<tr>
<td>[options.data.block]</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>=&gt; 是否以block方式显示</td>
</tr>
<tr>
<td>[options.data.readonly]</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>=&gt; 是否只读</td>
</tr>
<tr>
<td>[options.data.disabled]</td>
<td><code>boolean</code></td>
<td><code>false</code></td>
<td>=&gt; 是否禁用</td>
</tr>
<tr>
<td>[options.data.visible]</td>
<td><code>boolean</code></td>
<td><code>true</code></td>
<td>=&gt; 是否显示</td>
</tr>
<tr>
<td>[options.data.class]</td>
<td><code>string</code></td>
<td></td>
<td>=&gt; 补充class</td>
</tr>
</tbody>
</table>
<p><a name="config"></a></p>
<h2 id="config"><a href="#config" class="headerlink" title="config()"></a>config()</h2><p><strong>Kind</strong>: global function<br><strong>Access:</strong> protected<br><a name="check(checked) 改变选中状态"></a></p>
<h2 id="check-checked-改变选中状态-checked-⇒-void"><a href="#check-checked-改变选中状态-checked-⇒-void" class="headerlink" title="check(checked) 改变选中状态(checked) ⇒ void"></a>check(checked) 改变选中状态(checked) ⇒ <code>void</code></h2><p><strong>Kind</strong>: global function<br><strong>Access:</strong> public  </p>
<table>
<thead>
<tr>
<th>Param</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>checked</td>
<td><code>boolean</code></td>
<td>选中状态。则在true/false之间切换。</td>
</tr>
</tbody>
</table>
<p><a name="event_change 选中状态改变时触发"></a></p>
<h2 id="“change-选中状态改变时触发”"><a href="#“change-选中状态改变时触发”" class="headerlink" title="“change 选中状态改变时触发”"></a>“change 选中状态改变时触发”</h2><p><strong>Kind</strong>: event emitted<br><strong>Properties</strong></p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>sender</td>
<td><code>object</code></td>
<td>事件发送对象</td>
</tr>
<tr>
<td>date</td>
<td><code>object</code></td>
<td>改变后的选中状态</td>
</tr>
</tbody>
</table>
<p><a name="event_check 改变选中状态时触发"></a></p>
<h2 id="“check-改变选中状态时触发”"><a href="#“check-改变选中状态时触发”" class="headerlink" title="“check 改变选中状态时触发”"></a>“check 改变选中状态时触发”</h2><p><strong>Kind</strong>: event emitted<br><strong>Properties</strong></p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>sender</td>
<td><code>object</code></td>
<td>事件发送对象</td>
</tr>
<tr>
<td>checked</td>
<td><code>boolean</code></td>
<td>选中状态</td>
</tr>
</tbody>
</table>

<script>
var index = 0;

    (function(index) {
      var template = NEKUI._.multiline(function(){/*
      
<check name="多选按钮" />

      */});
      var component = new NEKUI.Component({template: template});
      component.$inject(document.querySelectorAll('.m-example')[index]);
    })(index++);
    
    (function(index) {
      var template = NEKUI._.multiline(function(){/*
      
<ui.form>
    <form.item cols="12" title="用户名" hint="用户名的用途">
        <check name="多选按钮1" />
        <check name="多选按钮2" />
    </form.item>
</ui.form>

      */});
      var component = new NEKUI.Component({template: template});
      component.$inject(document.querySelectorAll('.m-example')[index]);
    })(index++);
    
    (function(index) {
      var template = NEKUI._.multiline(function(){/*
      
<check name="半选状态" checked={test} />

      */});
      
var component = new NEKUI.Component({
    template: template,
    data: {
        test: null
    }
});

      component.$inject(document.querySelectorAll('.m-example')[index]);
    })(index++);
    
    (function(index) {
      var template = NEKUI._.multiline(function(){/*
      
<check name="多选按钮" disabled />

      */});
      var component = new NEKUI.Component({template: template});
      component.$inject(document.querySelectorAll('.m-example')[index]);
    })(index++);
    
</script>

    <div class="guide-links">
      
      
        <span style="float:right"><a href="/components/form_check.group_.html">复选组</a> →</span>
      
    </div>
    <div class="footer">
      想让文档更完善？
      <a href="https://github.com/kaola-fed/nek-ui" target="_blank">
        来 GitHub 提个 PR 吧！
      </a>
    </div>
</div>

            </div>
            <script src="/js/smooth-scroll.min.js"></script>
        

        <!-- main custom script for sidebars, version selects etc. -->
        <script src="/js/common.js"></script>
        <!-- ga -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46698359-3', 'nek-ui.kaolafed.com');
          ga('send', 'pageview');
        </script>

        <!-- search -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/docsearch.js/1.4.4/docsearch.min.css" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/search.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/docsearch.js/1.4.4/docsearch.min.js"></script>
        <script>
        [
          '#search-query-nav',
          '#search-query-sidebar'
        ].forEach(function (selector) {
          if (!document.querySelector(selector)) return
          // search index defaults to v2
          var match = window.location.pathname.match(/^\/(v\d+)/)
          var version = match ? match[1] : 'v2'
          docsearch({
            appId: '34N72WTQ6D',
            apiKey: '365f3d88c244de5de6835c3f0f72b1ce',
            indexName: 'nek-ui',
            inputSelector: selector,
            algoliaOptions: { facetFilters: ["version:" + version] }
          })
        })
        </script>

        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body)
        }, false)
        </script>
    </body>
</html>
