
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>快速上手 - nek-ui</title>
        <meta charset="utf-8">
        <meta http-equiv="x-dns-prefetch-control" content="on" />
        <meta name="description" content="nek-ui - UI components based on RegularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="og:type" content="article">
        <meta property="og:title" content="快速上手 - nek-ui">
        <meta property="og:description" content="nek-ui - UI components based on RegularJS">
        <meta property="og:image" content="https://nek-ui.kaolafed.com/images/logo.svg">

        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
        <link rel="dns-prefetch" href="//haitao.nos.netease.com" />
        <link rel="dns-prefetch" href="//at.alicdn.com" />

        

        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Dosis:500&text=nek-ui" rel='stylesheet' type='text/css'>
        <link href="//at.alicdn.com/t/font_393438_fji5kllvfft21emi.css" rel="stylesheet" type="text/css" />
        <!--  nek-ui -->
        <link href="/css/nek-ui.default.css" rel='stylesheet' type='text/css'>
        <!-- main page styles -->
        <link rel="stylesheet" href="/css/page.css?v2">
        <script>window.PAGE_TYPE = "components"</script>
    </head>
    <body class="docs" >        
            <script src="/js/common.js"></script>
            <script src="/vendor/regular.js"></script>
            <script src="/js/nek-ui.js"></script>
            <script src="/demo.wrap/index.js"></script>
        
        <div id="mobile-bar" >
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <div id="header" class="">    <a id="logo" href="/">
        
            <span class="u-logo u-logo-grey u-logo-sm"></span>
        
    </a>
    <ul id="nav">
        <li><a href="/" class="nav-link">首页</a></li>
<li><a href="/components/" class="nav-link current">组件</a></li>
<li class="nav-dropdown-container">
  <a class="nav-link">资源</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/kaola-fed/dionysus" target="_blank">Snippets</a></li>
    <li><a href="https://github.com/kaola-fed/NEK" target="_blank">NEK</a></li>
    <li><a href="https://github.com/regularjs/regular" target="_blank">RegularJS</a></li>
    <li><a href="/v0.5/index.html" target="_blank">V0.5文档</a></li>
    <li><a href="/v0.6/index.html" target="_blank">V0.6文档</a></li>
  </ul>
</li>

<li>
    <input id="search-query-nav" class="search-query" placeholder="搜索组件..." type="text" value="">
</li>

    </ul>
</div>

        
            <div id="main" class="fix-sidebar">
                
    <div class="sidebar">
    <ul class="main-menu">
        <li><a href="/" class="nav-link">首页</a></li>
<li><a href="/components/" class="nav-link current">组件</a></li>
<li class="nav-dropdown-container">
  <a class="nav-link">资源</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/kaola-fed/dionysus" target="_blank">Snippets</a></li>
    <li><a href="https://github.com/kaola-fed/NEK" target="_blank">NEK</a></li>
    <li><a href="https://github.com/regularjs/regular" target="_blank">RegularJS</a></li>
    <li><a href="/v0.5/index.html" target="_blank">V0.5文档</a></li>
    <li><a href="/v0.6/index.html" target="_blank">V0.6文档</a></li>
  </ul>
</li>

<li>
    <input id="search-query-nav" class="search-query" placeholder="搜索组件..." type="text" value="">
</li>

    </ul>
    <div class="list">
        <ul class="menu-root">
            
            
            

            
                <li class="current">
                    <div class="submenu-title">
                        
                            <a href="/components/index.html" class="current">
                                快速上手
                            </a>
                        
                    </div>
                    
                </li>
            
                <li class="">
                    <div class="submenu-title">
                        
                            <span class="kl-icon kl-icon-angle-down"></span>布局
                        
                    </div>
                    
                        <ul class="submenu">
                            
                               <li>
                                   <a href="/components/layout_KLCard_.html" class=" ">
                                       卡片 <span>KLCard</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/layout_KLLayout_.html" class=" new">
                                       布局容器 <span>KLLayout</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/layout_KLRow_.html" class=" ">
                                       栅格布局 <span>KLRow</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/layout_KLSearch_.html" class=" ">
                                       筛选区 <span>KLSearch</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/layout_KLTable_.html" class=" ">
                                       表格 <span>KLTable</span>
                                   </a>
                               </li>
                            
                        </ul>
                    
                </li>
            
                <li class="">
                    <div class="submenu-title">
                        
                            <span class="kl-icon kl-icon-angle-down"></span>表单
                        
                    </div>
                    
                        <ul class="submenu">
                            
                               <li>
                                   <a href="/components/form_KLButton_.html" class=" ">
                                       按钮 <span>KLButton</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLCheck_.html" class=" ">
                                       复选框 <span>KLCheck</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLCheckGroup_.html" class=" ">
                                       复选组 <span>KLCheckGroup</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLDate_.html" class=" new">
                                       新日期选择 <span>KLDate</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLDatePicker_.html" class=" ">
                                       日期选择 <span>KLDatePicker</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLGroup_.html" class=" ">
                                       Group <span>KLGroup</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLInput_.html" class=" ">
                                       输入框 <span>KLInput</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLMultiSelect_.html" class=" ">
                                       多级选择 <span>KLMultiSelect</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLRadioGroup_.html" class=" ">
                                       单选组 <span>KLRadioGroup</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLSelect_.html" class=" ">
                                       下拉选择 <span>KLSelect</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLSwitch_.html" class=" new">
                                       开关 <span>KLSwitch</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLText_.html" class=" ">
                                       文本展示 <span>KLText</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLTextArea_.html" class=" ">
                                       文本输入 <span>KLTextArea</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLTime_.html" class=" new">
                                       时间选择 <span>KLTime</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLTreeView_.html" class=" new">
                                       树型视图 <span>KLTreeView</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLUpload_.html" class=" ">
                                       上传文件 <span>KLUpload</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLForm_.html" class=" ">
                                       表单 <span>KLForm</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/form_KLTag_.html" class=" ">
                                       标签 <span>KLTag</span>
                                   </a>
                               </li>
                            
                        </ul>
                    
                </li>
            
                <li class="">
                    <div class="submenu-title">
                        
                            <span class="kl-icon kl-icon-angle-down"></span>通知
                        
                    </div>
                    
                        <ul class="submenu">
                            
                               <li>
                                   <a href="/components/notice_KLMessage_.html" class=" new">
                                       消息 <span>KLMessage</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/notice_KLModal_.html" class=" ">
                                       模态框 <span>KLModal</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/notice_KLNotify_.html" class=" ">
                                       通知 <span>KLNotify</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/notice_KLPopConfirm_.html" class=" ">
                                       确认提示 <span>KLPopConfirm</span>
                                   </a>
                               </li>
                            
                        </ul>
                    
                </li>
            
                <li class="">
                    <div class="submenu-title">
                        
                            <span class="kl-icon kl-icon-angle-down"></span>导航
                        
                    </div>
                    
                        <ul class="submenu">
                            
                               <li>
                                   <a href="/components/navigation_KLCrumb_.html" class=" ">
                                       面包屑 <span>KLCrumb</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/navigation_KLMenu_.html" class=" ">
                                       导航菜单 <span>KLMenu</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/navigation_KLPager_.html" class=" ">
                                       分页 <span>KLPager</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/navigation_KLSidebar_.html" class=" ">
                                       菜单栏 <span>KLSidebar</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/navigation_KLSteps_.html" class=" ">
                                       步骤 <span>KLSteps</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/navigation_KLTabs_.html" class=" ">
                                       选项卡 <span>KLTabs</span>
                                   </a>
                               </li>
                            
                        </ul>
                    
                </li>
            
                <li class="">
                    <div class="submenu-title">
                        
                            <span class="kl-icon kl-icon-angle-down"></span>其它
                        
                    </div>
                    
                        <ul class="submenu">
                            
                               <li>
                                   <a href="/components/widget_KLBadge_.html" class=" ">
                                       徽标 <span>KLBadge</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLDraggable_.html" class=" ">
                                       拖拽 <span>KLDraggable</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLIcon_.html" class=" ">
                                       图标 <span>KLIcon</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLImagePreview_.html" class=" ">
                                       图片预览 <span>KLImagePreview</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLLoading_.html" class=" ">
                                       加载 <span>KLLoading</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLLocaleProvider_.html" class=" ">
                                       国际化 <span>KLLocaleProvider</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLProgress_.html" class=" ">
                                       进度条 <span>KLProgress</span>
                                   </a>
                               </li>
                            
                               <li>
                                   <a href="/components/widget_KLTooltip_.html" class=" ">
                                       文字提示 <span>KLTooltip</span>
                                   </a>
                               </li>
                            
                        </ul>
                    
                </li>
            
        </ul>
    </div>
</div>


<div class="content components with-sidebar ">
    

    <h2 id="pageName">快速上手 <span></span> </h2>
    <h2 id="nek-ui"><a href="#nek-ui" class="headerlink" title="nek-ui"></a>nek-ui</h2><p>nek-ui 是一个基于 Regularjs 的组件库，主要用于中后台系统</p>
<h3 id="引入-nek-ui"><a href="#引入-nek-ui" class="headerlink" title="引入 nek-ui"></a>引入 nek-ui</h3><figure class="highlight plain"><table><tr><td class="code"><pre><div class="line">npm i regularjs@0.4.3 nek-ui -S</div></pre></td></tr></table></figure>
<figure class="highlight javascript"><table><tr><td class="code"><pre><div class="line"><span class="keyword">import</span> NEKUI <span class="keyword">from</span> <span class="string">'nek-ui'</span></div><div class="line"><span class="keyword">import</span> <span class="string">'node_modules/nek-ui/dist/css/nek-ui.default.min.css'</span></div></pre></td></tr></table></figure>
<h3 id="使用-nek-ui"><a href="#使用-nek-ui" class="headerlink" title="使用 nek-ui"></a>使用 nek-ui</h3><p>由于使用 NEKUI 的组件需要先注册，我们可以在工程里面的 BaseComponent 里面使用 NEKUI 暴露出来的一个 install 方法来将组件注册到 BaseComponent 上，这样继承自 BaseComponent 的组件就可以直接在模板里面使用组件了</p>
<figure class="highlight javascript"><table><tr><td class="code"><pre><div class="line"><span class="keyword">import</span> &#123; install &#125; <span class="keyword">from</span> <span class="string">'nek-ui'</span>;</div><div class="line"><span class="keyword">import</span> Regular <span class="keyword">from</span> <span class="string">'regularjs'</span>;</div><div class="line"></div><div class="line"><span class="keyword">const</span> BaseComponent = Regular.extend(&#123;</div><div class="line">    <span class="comment">//</span></div><div class="line">&#125;);</div><div class="line">install(BaseComponent);</div></pre></td></tr></table></figure>
<p>如果不想将 NEKUI 的组件全部注册到全局上，或者是自己已有的组件和 NEKUI 里面的组件命名冲突，也可以手动的注册想要使用的组件</p>
<figure class="highlight plain"><table><tr><td class="code"><pre><div class="line">var Component = BaseComponent.extend(&#123;&#125;).component(&apos;kl-tooltip&apos;, NEKUI.KLTooltip)</div></pre></td></tr></table></figure>

    <div class="guide-links">
      
        <span class="placeholder"></span>
      
    </div>
    <div class="footer">
      想让文档更完善？
      <a href="https://github.com/kaola-fed/nek-ui" target="_blank">
        来 GitHub 提个 PR 吧！
      </a>
    </div>
      
     
</div>

            </div>
        

        
        <!-- main custom script for sidebars, version selects etc. -->
        <script src="/js/smooth-scroll.min.js"></script>
        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script src="/js/scrollIntoView.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);

                scrollIntoView(document.querySelector('.sidebar .submenu a.current'), {
                    validTarget: function(target, parentsScrolled){
                        return parentsScrolled < 2 && target !== window && target.matches('.sidebar');
                    },
                });
            }, false)
        </script>
        

        <!-- Hotjar Tracking Code for http://nek-ui.kaolafed.com/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:608636,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

        <!-- ga -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-46698359-3', 'nek-ui.kaolafed.com');
            ga('send', 'pageview');
        </script>

        <!-- search -->
        <link href="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/search.css">
        <script src="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
        <script>
            docsearch({
                apiKey: 'e5880dd54c730e68c9fcc610adb30f33',
                indexName: 'nek_ui',
                inputSelector: '#search-query-nav',
                debug: false
            })
        </script>
    </body>
</html>
