<div class="m-image-preview" on-mouseup={this.onMouseUp($event)}>
    <div class="m-panel-wrapper">
        <div class="m-panel-close" on-click={this.onClose()}></div>
        <div class="m-full-panel" on-mousewheel={this.onMouseWheel($event)}>
            <span class="u-pre-btn" on-click={this.onPrev()}><i class="u-icon"></i></span>
            <ul class="m-image-list">
                {#list imgList as img}
                    <li class="m-image-item" ref="full-{img_index}" r-class={{current: img_index === curIndex}} r-hide={showVirtual} r-style={{opacity: img_index === curIndex ? 1 : 0}}>
                        <img ref="full-img-{img_index}" src={img.src} alt={img.name} draggable={false}/>
                    </li>
                {/list}
            </ul>
            <span class="u-next-btn" on-click={this.onNext()}><i class="u-icon"></i></span>
            <ul class="m-btn-group">
                {#list opList as op}
                    <li class="m-btn-item" r-style={{"margin-right": op.name === 'zoomIn' ? '30px' : 0}}>
                        {#if imgList[curIndex].status === 'uploaded' && op.name === 'remove'}
                            <a class="u-download" href={imgList[curIndex].src} download={imgList[curIndex].name}><i class="u-icon u-icon-export"></i></a>
                        {#elseif op.name === 'zoomIn'}
                            <i class="u-icon u-icon-{op.icon}" on-click={this[op.fnName].bind(this)(curIndex)}></i>
                            <span class="u-scale">{parseInt(virtualInfo.scale * 100)}%</span>
                        {#else}
                            <i class="u-icon u-icon-{op.icon}" on-click={this[op.fnName].bind(this)(curIndex)}></i>
                        {/if}
                    </li>
                {/list}
            </ul>
            <ul class="m-virtual-zone" ref="virtualzone" r-hide={!showVirtual} r-style={{opacity: showVirtual ? 1 : 0}}>
                <li ref="virtualimage" class="m-image-wrapper" on-mousedown={this.onMouseDown($event)} on-mousemove={this.onMouseMove($event)} on-mouseup={this.onMouseUp($event)}>
                    <img src={imgList[curIndex].src} alt={imgList[curIndex].name} draggable={false}/>
                </li>
            </ul>
        </div>
        <div class="m-thumbnail-panel">
            <div class="u-image-name" title={imgList[curIndex].name}>{imgList[curIndex].name}</div>
            <ul class="m-image-list">
                {#list imgList as img}
                    <li class="m-image-item" r-class={{current: img_index === curIndex}} on-click={this.setCurrentTo(img_index)}>
                        <img src={img.src} alt={img.name} draggable={false}/>
                    </li>
                {/list}
            </ul>
        </div>
    </div>
</div>