@include b(btn) {
    -webkit-appearance: none; // - 移除浏览器中的margin。| Remove margins in Chrome, Safari and Opera.
    margin: 0; // - 移除浏览器中的默认border。| Remove borders for `button`.
    overflow: visible; // - 让字体继承父节点的。| Correct `font` properties not being inherited for `button`.
    font: inherit; // - Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE.
    text-transform: none; // - 为了`a`标签。| Required for `a`.
    text-decoration: none; // - 统一用`pointer`，在`a`标签没有`href`的时候鼠标指针不是pointer。 | Use pointer cursor at any time.
    cursor: pointer; // - 统一box-sizing，a标签默认的box-sizing是content-box，而button标签默认的box-sizing是border-box。
    box-sizing: border-box; // - Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    background: none; // - Others
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: $--height-base;
    min-width: $--size-base * 10;
    padding: 0 $--size-base * 2;
    background: $--background-color-base;
    border: 1px solid $--border-color-base;
    border-radius: 2px;
    line-height: $--height-base - 2;
    font-size: 12px;
    color: $--text-color-default;
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease;
    white-space: nowrap;

    &:hover,
    &:focus {
        // - Remove default focus style
        outline: none;
        // - Required for `a` elements
        text-decoration: none;
        background: $--background-color-base;
        border-color: #bbb;
    }
    &:active {
        background: $--background-color-base;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .5;
        box-shadow: none;
    }
    @include m(clicked) {
        transform: translateY(2px);
    }
    @include m(sm) {
        @include btn-size(0px 8px, $--height-sm, $--font-size-base);
    }
    @include m(lg) {
        @include btn-size(0px 16px, $--height-lg, $--font-size-lg);
    }
    .kl-icon {
        vertical-align: bottom;
        color: #999;
        margin-right: 4px;
        font-size: 15px;
    }
}

// // btn with icon Extends:
// // ========================================================================
// $u-btn-extend_icon = ($name, $bg_color, $color, $bd_color, $ico_color, $hover_font_color, $hover_bg_color, $bd_hover_color)  {
//     .u-btn-#{$name} {
//         padding: 0 10px;
//         background: $bg_color;
//         color: $color;
//         $border: $bd_color;
//         .u-icon {
//             font-size: 15px;
//             vertical-align: top;
//             color: $ico_color;
//         }
//     }

//     /* Hover */
//     .u-btn-#{$name}:hover,
//     .u-btn-#{$name}:focus {
//         color: $hover_font_color;
//         background: $hover_bg_color;
//         border-color: $bd_hover_color;
//     }
// }

// // Size Extends:
// // ========================================================================
// $u-btn-extend_size = ($name, $padding-horizontal, $height, $font-size = null, $border-radius_ = null) {
//     .u-btn-#{$name} {
//         padding: 0 $padding-horizontal;
//         line-height: $height-base - 2;
//         .u-icon {
//             @if($font-size) {font-size: $font-size;}
//         }
//         @if($name == sm) { min-width: $size-base*7; height: $size-base*3; line-height: $size-base*3 - 2;}
//         @if($font-size) {font-size: $font-size;}
//         @if($border-radius_) {$border-radius: $border-radius_;}
//     }
// }


// // Shape Extends:
// // ========================================================================
// $u-btn-extend_shape = ($name, $size, $height,$line-height, $font-size = null, $border-radius_ = null) {
//     .u-btn-#{$name}.u-btn-#{$size} {
//         padding:0;
//         width:$height; height:$height; line-height:$line-height;
//         min-width: inherit;
//         @if($name == 'icon') {border: none;}
//         @if($font-size) {font-size: $font-size;}
//         @if($border-radius_) {$border-radius: $border-radius_;}

//         .u-icon {
//             margin-right: 0;
//             margin-left: 2px;
//         }
//     }
// }


// // Color Extends:
// // ========================================================================
// $u-btn-extend_color = ($name, $bd_color, $bd_hover_color, $bg_color, $hover_bg_color, $font_color, $hover_font_color) {
//     .u-btn-#{$name} {
//         color: $font_color;
//         background: $bg_color;
//         border: 1px solid $bd_color;
//         .u-icon {
//             color: $font_color;
//         }
//     }

//     /* Hover */
//     .u-btn-#{$name}:hover,
//     .u-btn-#{$name}:focus {
//         color: $hover_font_color;
//         background: $hover_bg_color;
//         border-color:$bd_hover_color;
//     }

//     /* Active */
//     .u-btn-#{$name}:active,
//     .u-btn-#{$name}.z-act {
//         color: $hover_font_color;
//         background: $hover_bg_color;
//         border-color:$bd_hover_color;
//     }
// }


// // Size Extends:
// // ========================================================================
// $u-btn-extend_size(xs, 5px, $height-xs, $font-size-xs);
// $u-btn-extend_size(sm, $size-base, 1, $font-size-sm);
// $u-btn-extend_size(lg, 16px, $height-lg, $font-size-lg);
// $u-btn-extend_size(xl, 20px, $height-xl, $font-size-xl);


// // Shape Extends:
// // ========================================================================
// $u-btn-extend_shape(circle, xs, $height-xs, $height-xs - 2, $font-size-xs, 100%);
// $u-btn-extend_shape(circle, sm, $height-sm, $height-sm - 2, $font-size-sm, 100%);
// $u-btn-extend_shape(circle, normal, 34px, 30px, 12px, 100%);
// $u-btn-extend_shape(circle, lg, $height-lg, $height-lg - 2, $font-size-lg, 100%);
// $u-btn-extend_shape(circle, xl, $height-xl, $height-xl - 2, $font-size-xl, 100%);

// $u-btn-extend_shape(icon, xs, $height-xs, $height-xs - 2, $font-size-xs, 100%);
// $u-btn-extend_shape(icon, sm, $height-sm, $height-sm - 2, $font-size-sm, 100%);
// $u-btn-extend_shape(icon, normal, 34px, 30px, 12px, 100%);
// $u-btn-extend_shape(icon, lg, $height-lg, $height-lg - 2, $font-size-lg, 100%);
// $u-btn-extend_shape(icon, xl, $height-xl, $height-xl - 2, $font-size-xl, 100%);


// // Color Extends:
// //$u-btn-extend_color = ($name, $bd_color, $bd_hover_color, $bg_color, $hover_bg_color, $font_color, $hover_font_color)
// // ========================================================================
// $u-btn-extend_color(primary, $brand-primary, $brand-primary-darker, $brand-primary, $brand-primary-darker, white, white);
// $u-btn-extend_color(secondary, $brand-secondary, $brand-secondary-darker, white, white, $brand-secondary, $brand-secondary-darker);
// $u-btn-extend_color(tertiary, #ddd, #bbb, white, white, #333, #333);
// $u-btn-extend_color(info, $brand-info, $brand-info-darker, $brand-info, $brand-info-darker, white, white);
// $u-btn-extend_color(success, $brand-success, $brand-success-darker, $brand-success, $brand-success-darker, white, white);
// $u-btn-extend_color(warning, $brand-error, $brand-error-darker, $brand-error, $brand-error-darker, white, white);
// $u-btn-extend_color(error, $brand-error, $brand-error-darker, $brand-error, $brand-error-darker, white, white);

// // btn with icon Extends: $u-btn-extend_icon = ($name, $bg_color, $color, $bd_color, $ico_color, $hover_font_color, $hover_bg_color, $bd_hover_color)
// // ========================================================================
// $u-btn-extend_icon(success, #ffffff, $brand-success, #A3E37E, #9FE385, $brand-success-darker, #fff, #a9e691);
// $u-btn-extend_icon(warning, #ffffff, #F86B6B, $brand-error, #F78081, #f97a7a, #fff, #f88d8e);
// $u-btn-extend_icon(add, #ffffff, $brand-primary, $brand-primary, $brand-primary, $brand-primary-darker, #fff, $brand-primary-darker);
