{#if link}
<a href={link || 'javascript:;'} target={target} class="kl-btn kl-btn--{type} kl-btn--{size} {class}"
    on-mouseup={this.onMouseUp($event)}
    on-click={this.onClick($event)}>
    {#if icon && !loading}<kl-icon type={icon} />{/if}
    {#if loading}<kl-icon type="loading" />{/if}
    {title}
</a>
{#else}
<button class="kl-btn kl-btn--{type} kl-btn--{size} {class}"
    on-mouseup={this.onMouseUp($event)}
    on-click={this.onClick($event)} {#if loading || disabled}disabled{/if} type="button">
    {#if icon && !loading}<kl-icon type={icon} />{/if}
    {#if loading}<kl-icon type="loading" />{/if}
    {title}
</button>
{/if}

