{#if link}
<a href={link || 'javascript:;'} target={target} class="kl-btn kl-btn--{type} kl-btn--{size} kl-btn--{shape} {class}"
    r-animation="on: click; class: kl-btn--clicked;" on-mouseup={this.onMouseUp($event)}
    on-click={this.onClick($event)}>
    {#if icon && !loading}<kl-icon type={icon} />{/if}
    {#if action && actionIcons[action] && !loading}<kl-icon type={actionIcons[action]} />{/if}
    {#if loading}<kl-icon type="spinner" class="kl-icon-pulse" />{/if}
    {#if !shape}{title}{/if}
</a>
{#else}
<button class="kl-btn kl-btn--{type} kl-btn--{size} kl-btn--{shape} {class}"
    r-animation="on: click; class: kl-btn--clicked;" on-mouseup={this.onMouseUp($event)}
    on-click={this.onClick($event)} {#if loading || disabled}disabled{/if} type="button">
    {#if icon && !loading}<kl-icon type={icon} />{/if}
    {#if action && actionIcons[action] && !loading}<kl-icon type={actionIcons[action]} />{/if}
    {#if loading}<kl-icon type="spinner" class="kl-icon-pulse" />{/if}
    {#if !shape}{title}{/if}
</button>
{/if}

