$unit-length: 50;

@include b(upload-unit) {
  display: inline-block;
  width: $unit-length + px;
  margin-bottom: 10px;
  vertical-align: top;
  background: #fefefe;

  @include e(content) {
    position: relative;
    width: $unit-length + px;
    height: $unit-length + px;
    border: 1px solid #EEF1F4;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;

    &:hover {
      .kl-upload-unit__remove {
        display: inline-block;
        cursor: pointer;
      }
      .kl-upload-unit-uploaded {
        display: inline-block;
      }
    }

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  @include e(txt) {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: $unit-length + px;
    font-size: 12px;
    text-align: center;
    cursor: default;
  }

  @include e(remove) {
    display: none;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 17px;
    height: 17px;
    font-size: 17px;
    line-height: 17px;
    color: #333;
    background: #fff;
    border-radius: 100px;
    z-index: 5;
  }

  @include e(name) {
    margin-top: 8px;
    padding: 1px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.4;
    font-size: 12px;
    color: #333;
  }

  @include e(info) {
    margin-top: 4px;
    font-size: 12px;
    color: #F86B6B;
  }
}

@include b(upload-unit-imgwrap) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: zoom-in;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  @include e(img) {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

@mixin statusMixin {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@include b(upload-unit-failed) {
  @include statusMixin;
  cursor: pointer;

  @include e(info) {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 1.2;
  }

  .kl-icon {
    display: inline-block;
    width: 100%;
    height: 20px;
    font-size: 16px;
  }
}

@include b(upload-unit-uploading) {
  @include statusMixin;

  @include e(wrap) {
    display: inline-block;
    width: 40px;
    line-height: 0.85;
    vertical-align: middle;
  }

  @include e(txt) {
    display: inline-block;
    width: 100%;
  }
}

@include b(upload-unit-uploaded) {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 17px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  @include e(zone) {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    .kl-icon {
      margin-left: 2px;
    }
  }
}