<div class="m-file-unit">
    <div class="m-content">
        {#if type === 'image'}
            <div class="m-img-wrapper" on-click={this.onPreview($event)}>
                <img class="u-img" src={url}/>
            </div>
        {#elseif type === 'unknown'}
            <span class="u-txt" on-click={this.onPreview($event)}>{this.$trans('UNKNOWN')}</span>
        {#elseif type === 'pdf'}
            <span class="u-txt" on-click={this.onPreview($event)}>{type.toUpperCase()}</span>
        {#else}<!-- TEXT, DOC, JS, HTML, AUDIO, VIDEO -->
            <span class="u-txt" on-click={this.onPreview($event)}>{type.toUpperCase()}</span>
        {/if}
        <div class="m-remove" r-hide={readonly} on-click={this.onRemove($event)}><i class="u-icon u-icon-error"></i></div>
        <div class="m-status">
            {#if status === 'fail'}
                <span class="u-failed" on-click={this.uploadFile(file)}>
                    <span class="u-failed-info"><i class="u-icon u-icon-retry"></i>{this.$trans('RETRY')}</span>
                </span>
            {#elseif status === 'uploading'}
                <span class="u-uploading">
                    <span class="u-progress-wrapper">
                        <span class="u-progress-txt">{progress || '0%'}</span>
                        <span class="u-progress">
                            <span class="u-progress-bar" style="width: {progress || '0%'};"></span>
                        </span>
                    </span>
                </span>
            {#elseif status === 'success'}
                <span class="u-uploaded" on-click={this.downloadFile()}>
                    <a class="u-uploaded-zone">{this.$trans('DOWNLOAD_FILE')}<i class="u-icon u-icon-export"></i></a>
                </span>
            {/if}
        </div>
    </div>
    <div class="m-name" title={filename}>{filename}</div>
    <div class="m-info">{info}</div>
</div>