<div class="kl-upload-unit {file.class}">
    <div class="kl-upload-unit__content">
        {#if type === 'image'}
            <div class="kl-upload-unit-imgwrap" on-click={this.onPreview($event)}>
                <img class="kl-upload-unit-imgwrap__img" src={url} />
            </div>
        {#elseif type === 'unknown'}
            <span class="kl-upload-unit__txt" on-click={this.onPreview($event)}>{this.$trans('UNKNOWN')}</span>
        {#elseif type === 'pdf'}
            <span class="kl-upload-unit__txt" on-click={this.onPreview($event)}>{type.toUpperCase()}</span>
        {#else}<!-- TEXT, DOC, JS, HTML, AUDIO, VIDEO -->
            <span class="kl-upload-unit__txt" on-click={this.onPreview($event)}>{type.toUpperCase()}</span>
        {/if}
        <div class="kl-upload-unit__remove" r-hide={readonly} on-click={this.onRemove($event)}><kl-icon type="error" /></div>
        <div>
            {#if status === 'fail'}
                <span class="kl-upload-unit-failed" on-click={this.uploadFile(file)}>
                    <span class="kl-upload-unit-failed__info"><kl-icon type="refresh" />{this.$trans('RETRY')}</span>
                </span>
            {#elseif status === 'uploading'}
                <span class="kl-upload-unit-uploading">
                    <span class="kl-upload-unit-uploading__wrap">
                      <span class="kl-upload-unit-uploading__txt">{progress || '0%'}</span>
                      <kl-progress percent={progress || 0} size="sm" class="kl-upload-unit-uploading__progress" />
                    </span>
                </span>
            {#elseif status === 'success'}
                <span class="kl-upload-unit-uploaded">
                    <a class="kl-upload-unit-uploaded__zone" href={url} download={filename} target="_blank"><kl-icon type="download" />{this.$trans('DOWNLOAD_FILE')}</a>
                </span>
            {/if}
        </div>
    </div>
    <div class="kl-upload-unit__name" title={filename}>{filename}</div>
    <div class="kl-upload-unit__info">{info}</div>
</div>
