<div class="m-file-unit">
    <div class="m-content">
        {#if type === 'IMAGE'}
            <div class="m-img-wrapper" on-click={this.onPreview()}>
                <img class="u-img" src={src}/>
            </div>
        {#elseif type === 'ZIP'}
            <span class="u-txt">ZIP</span>
        {#elseif type === 'UNKNOWN'}
            <span class="u-txt">{this.$trans('UNKNOWN')}</span>
        {#else} <!-- TEXT, DOC, JS, HTML, AUDIO, VIDEO -->
            <span class="u-txt">{type}</span>
        {/if}
        <div class="m-delete" r-hide={readonly} on-click={this.onDelete()}><i class="u-icon u-icon-error"></i></div>
        <div class="m-status">
            {#if status === 'failed'}
                <span class="u-failed" on-click={this.uploadFile(file)}>
                    <span class="u-failed-info"><i class="u-icon u-icon-retry"></i>{this.$trans('RETRY')}</span>
                </span>
            {#elseif status === 'uploading'}
                <span class="u-uploading">
                    <span class="u-progress-wrapper">
                        <span class="u-progress-txt">{progress || '0%'}</span>
                        <span class="u-progress">
                            <span class="u-progress-bar" style="width: {progress || '0%'};"></span>
                        </span>
                    </span>
                </span>
            {#elseif status === 'uploaded'}
                <span class="u-uploaded">
                    <a class="u-uploaded-zone" href={src} download={name}>{this.$trans('DOWNLOAD_FILE')}<i class="u-icon u-icon-export"></i></a>
                </span>
            {/if}
        </div>
    </div>
    <div class="m-name" title={name}>{name}</div>
    <div class="m-info">{info}</div>
</div>