@include b(numberinput) {
  display: inline-block;
  position: relative;
  width: 100%;
  user-select: none;

  .kl-input {
    display: inline-block;
  }

  .kl-btn {
    position: absolute;
    border: 1px solid #fff;
    right: 7px;
    top: 2px;
    min-width: 0;
    height: $--height-base / 2 - $--border-width-base * 2 - 1px;
    line-height: $--height-base / 2 - $--border-width-base * 2 - 1px;
    padding: 0 4px;
    color: #333;
    .kl-icon {
        margin-right: 0;
    }
    & + .kl-btn {
      top: auto;
      bottom: 2px;
    }

    &:focus, &:hover {
      outline: 0;
      border: 1px solid #adadad;
    }
  }
}

