@include b(layout) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;

    @include when(vertical) {
        flex-direction: column;
    }

    @include when(master) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 200px;
    }
}
