<div id="header" class="<%-isIndex ? 'header header-1': '' -%>">
    <a id="logo" href="/">
        <% if (isIndex) { %>
            <span class="u-logo u-logo-white"></span>
        <% } else { %>
            <span class="u-logo u-logo-grey u-logo-sm"></span>
        <% } %>
    </a>
    <ul id="nav">
        <%- partial('partials/main_menu', { context: 'nav', isIndex: isIndex }) %>
    </ul>
</div>
