<div id="header">
  <a id="logo" href="/">
    <img src="/images/logo.svg">
    <span>考拉后台交互规范</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
