<li><a href="/" class="nav-link<%- isIndex ? ' current' : ''%>">首页</a></li>
<li><a href="/ux/" class="nav-link<%- page.path.match(/ux/) ? ' current' : '' %>">交互设计</a></li>
<li><a href="/components/" class="nav-link<%- page.path.match(/components/) ? ' current' : '' %>">组件</a></li>
<%- partial('partials/resources') %>
<li>
    <input id="search-query-nav" class="search-query" placeholder="搜索组件..." type="text" value="">
</li>
