<li class="nav-dropdown-container">
  <a class="nav-link">资源</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/kaola-fed/dionysus" target="_blank">Snippets</a></li>
    <li><a href="https://github.com/kaola-fed/NEK" target="_blank">NEK</a></li>
    <li><a href="https://github.com/regularjs/regular" target="_blank">RegularJS</a></li>
    <li><a href="/v0.5/index.html" target="_blank">V0.5文档</a></li>
    <li><a href="/v0.6/index.html" target="_blank">V0.6文档</a></li>
  </ul>
</li>
