<li class="nav-dropdown-container">
  <a class="nav-link">资源</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/kaola-fed/dionysus" class="nav-link" target="_blank">Snippets</a></li>
    <li><a href="https://github.com/kaola-fed/NEK" class="nav-link" target="_blank">NEK</a></li>
    <li><a href="https://github.com/regularjs/regular" class="nav-link" target="_blank">RegularJS</a></li>
  </ul>
</li>
