@include b(picker-confirm) {
    border-top: 1px solid #e9eaec;
    text-align: right;
    padding: 8px;
    clear: both;

    @include e(time) {
        float: left;
        height: 24px;
        line-height: 22px;

        :hover {
            text-decoration: none;
        }

        @include when(dis) {
            color: #999;
            cursor: not-allowed;
        }
    }
}
