
$--notify_z-index: 1040;
$--notify_position: 10px;
$--notify_width: 260px;
$--media-sm-max-width: 768px - 1;
@include b(notify) {
    box-sizing: border-box;
    position: fixed;
    z-index: $--notify_z-index;
    top: $--notify_position;
    left: $--notify_position;
    min-width: $--notify_width;
    max-width: 350px;
    font-size: 12px;

    @include m(topright) {
        left: auto;
        right: $--notify_position;
    }

    @include m(bottomright) {
        left: auto;
        right: $--notify_position;
    }

    @include m(topcenter) {
        left: 50%;
        margin-left: ($--notify_width / -2);
    }

    @include m(bottomcenter) {
        left: 50%;
        margin-left: ($--notify_width / -2);
    }

    @include m(bottomleft) {
        top: auto;
        bottom: $--notify_position;
    }

    @include m(bottomright) {
        top: auto;
        bottom: $--notify_position;
    }

    @include m(bottomcenter) {
        top: auto;
        bottom: $--notify_position;
    }

    @include m(static) {
        position: static;
        width: auto;
    }


}

@include b(notify-message) {
    @extend .kl-message;

    margin-bottom: 10px;
    padding: 11px 35px 11px 20px;
    background: $--background-color-white;
    border: 1px solid #E3E3E3;

    @include e(content) {
        @extend .kl-message__content;
        margin-right: 0px;
    }

    @include e(close) {
        display: none;
        position: absolute;
        right: 16px;
        font-size: 0px;
        color: rgba(0,0,0,0.45);
        .kl-icon {
            font-size: 12px;
        }
    }

    @include m(info) {
        @extend .kl-message--info;
    }

    @include m(success) {
        @extend .kl-message--success;
    }

    @include m(warning) {
        @extend .kl-message--warning;
    }

    @include m(error) {
        @extend .kl-message--error;
    }
    
    &:hover .kl-notify-message__close {
        display: block;
    }
}
/* Responsive */
@media (max-width: $--media-sm-max-width) {
    // - Fit in small screen
    @include b(notify) {
        left: $--notify_position;
        right: $--notify_position;
        width: auto;
        margin: 0;
    }
}
