$brand-primary: #00C4C0;
$brand-primary-lighter: $--primary-color-hover;

.kl-calendar {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    box-sizing: border-box;
    .calendar_header {
        position: relative;
        line-height: 34px;
        text-align: center;
        .calendar_header_preyear, .calendar_header_premonth, .calendar_header_nextmonth, .calendar_header_nextyear {
            position: absolute;
            font-size: 14px;
            color: #aaa;
            cursor: pointer;
        }
        .calendar_header_preyear:hover,
        .calendar_header_premonth:hover,
        .calendar_header_nextmonth:hover,
        .calendar_header_nextyear:hover,
        .calendar_header_month:hover,
        .calendar_header_year:hover {
            color: #108EE9;
            cursor: pointer;
        }
        .calendar_header_preyear {
            left: 8px;
        }
        .calendar_header_premonth {
            left: 24px;
        }
        .calendar_header_nextmonth {
            right: 24px;
        }
        .calendar_header_nextyear {
            right: 8px;
        }
    }
    .calendar_body {
        width: 231px;
        padding: 4px 8px;
        border-top: 1px solid #eee;
        .calendar_table {
            height: 212px;
        }
    }
    .calendar_week_item ,.calendar_cell {
        line-height: 18px;
        width: 33px;
        padding: 6px 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
    }
    .calendar_cell {
        cursor: pointer;
    }
    .calendar_cell:hover {
        background: #f8c4cd;
    }
    .calendar_cell_today {
        border: 1px solid $brand-primary;
    }
    .calendar_cell_selected {
        background: $brand-primary;
        color: #fff;
    }
    .calendar_cell_ranged {
        background: #fbdce1;
    }
    .calendar_cell_lastmonth, .calendar_cell_nextmonth {
        color: #ddd;
        background: #fff;
    }
    .calendar_cell_disabled {
        background: #eee;
        cursor: not-allowed;
    }
    .calendar_footer {
        border-top: 1px solid #eee;
        line-height: 34px;
    }
}


.kl-year {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 247px;
    box-sizing: border-box;
    .year_header {
        position: relative;
        line-height: 34px;
        text-align: center;
        .year_header_preyear, .year_header_premonth, .year_header_nextmonth, .year_header_nextyear {
            position: absolute;
            font-size: 14px;
            color: #aaa;
            cursor: pointer;
        }
        .year_header_preyear:hover,
        .year_header_premonth:hover,
        .year_header_nextmonth:hover,
        .year_header_nextyear:hover,
        .year_header_month:hover,
        .year_header_year:hover {
            color: #108EE9;
            cursor: pointer;
        }
        .year_header_preyear {
            left: 8px;
        }
        .year_header_premonth {
            left: 24px;
        }
        .year_header_nextmonth {
            right: 24px;
        }
        .year_header_nextyear {
            right: 8px;
        }
    }
    .year_body {
        padding: 4px 8px;
        border-top: 1px solid #eee;
        .year_table{
            width: 100%;
            height: 212px;
        }
        .year_cell {
            text-align: center;
        }
        .year_cell_other {
            color: #eee;
            .year_cell_item {
                color: #ddd;
            }
        }
        .year_cell_item {
            display: inline-block;
            margin: 0 auto;
            color: rgba(0,0,0,.65);
            background: transparent;
            text-align: center;
            height: 24px;
            line-height: 24px;
            padding: 0 6px;
            border-radius: 4px;
        }
        .year_cell_item:hover {
            background: $brand-primary-lighter;
            color: #fff;
            text-decoration: none;
        }
        .year_cell_disabled {
            .year_item{
                background: #eee;
                color: #aaa;
            }
        }
        .year_now {
            background: $brand-primary;
            color: #fff;
        }
    }
    .year_footer {
        border-top: 1px solid #eee;
        line-height: 34px;
    }
}


.kl-month {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 247px;
    box-sizing: border-box;
    .month_header {
        position: relative;
        line-height: 34px;
        text-align: center;
    }
    .month_body {
        padding: 4px 8px;
        border-top: 1px solid #eee;
        .month_table{
            width: 100%;
            height: 212px;
        }
        .month_cell {
            text-align: center;
        }
        .month_cell_item {
            display: inline-block;
            margin: 0 auto;
            color: rgba(0,0,0,.65);
            background: transparent;
            text-align: center;
            height: 24px;
            line-height: 24px;
            padding: 0 6px;
            border-radius: 4px;
        }
        .month_cell_item:hover {
            background: $brand-primary-lighter;
            color: #fff;
            text-decoration: none;
        }
        .month_cell_disabled {
            .month_item{
                background: #eee;
                color: #aaa;
            }
        }
        .month_now {
            background: $brand-primary;
            color: #fff;
        }
    }
    .month_footer {
        border-top: 1px solid #eee;
        line-height: 34px;
    }
}


.kl-time {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 247px;
    font-size: 0;
    box-sizing: border-box;
    .time_cells {
        width: 33.33%;
        display: inline-block;
        font-size: 12px;
        height: 255px;
        overflow: hidden;
        border-right: 1px solid #eee;
        box-sizing: border-box;
        padding-bottom: 231px;
    }
    .time_cells:hover {
        overflow-y: auto;
    }
    .time_cells_ct {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .time_cells_cell {
        width: 100%;
        height: 24px;
        line-height: 24px;
        margin: 0;
        padding: 0 0 0 16px;
        box-sizing: content-box;
        text-align: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        list-style: none;
        transition: background .2s ease-in-out;
    }
    .time_cells_cell:hover {
        background: #f8c4cd;
    }
    .time_cells_cell_selected {
        background: $brand-primary;
        color: #fff;
    }
    .time_footer {
        border-top: 1px solid #eee;
        line-height: 34px;
    }
}




