{{#if scope}} 
    {{#if (equal kind "event") ~}}
    <span class="tag tag-event">Event</span>
    {{else~}}
        {{#if (equal scope "static") ~}}
            <span class="tag tag-static">Static {{kindInThisContext}}</span>
        {{/if}} 
    {{/if~}} 

{{/if~}}