<div class="kl-card {class}" r-class="{{'m-card--indent' : isIndent === true,'kl-card--show-border': bordered == true,'kl-card--dishover': disHover == true}}">
    {#if title || this.$tools}
        <div class="kl-card-header">
            <!--{#if isShowLine}-->
            <!--<span class="kl-card-header__line"></span>-->
            <!--{/if}-->
            <span class="kl-card-header__title">{#inc title}</span>
            {#if this.$tools}
            <div class="kl-card-header__operate">
                {#inc this.$tools.$body}
            </div>
            {/if}
        </div>
        {#if isShowBtLine}
        <div class="kl-card__btLine"></div>
        {/if}
    {/if}
    <div class="kl-card__body">
        {#inc this.$body}
    </div>
</div>
