<div class="m-tabs {class}" is-dis={disabled} r-hide={!visible}>
    <div class="tabs-scroll {scrollable ? 'scrollable' : ''}">
        {#if scrollable}
        <span class="nav-prev {scrollable.prev ? '' : 'disabled'}" on-click={this.prev()}>
            <i class="u-icon u-icon-chevron-left"></i>
        </span>
        <span class="nav-next {scrollable.next ? '' : 'disabled'}" on-click={this.next()}>
            <i class="u-icon u-icon-chevron-right"></i>
        </span>
        {/if}
        <div ref="wrap" class="nav-scroll">
            <ul ref="nav" class="tabs_hd" r-style={navStyle}>
                {#list tabs as item}
                <li is-crt={item == selected} is-dis={item.data.disabled} on-click={this.select(item)}>{#if @(titleTemplate)}{#inc @(titleTemplate)}{#else}{item.data.title}{/if}</li>
                {/list}
            </ul>
        </div>
    </div>
    <div class="tabs_bd">
        {#inc this.$body}
    </div>
</div>