<div class="kl-tabs {class}" is-dis={disabled} r-hide={!visible}>
    <div class="kl-tabs-scroll {scrollable ? 'is-scrollable' : ''}">
        {#if scrollable}
        <span class="kl-tabs-scroll__nav kl-tabs-scroll__nav--prev" is-dis={!scrollable.prev} on-click={this.prev()}>
            <kl-icon type="chevron-left" />
        </span>
        <span class="kl-tabs-scroll__nav kl-tabs-scroll__nav--next" is-dis={!scrollable.next} on-click={this.next()}>
            <kl-icon type="chevron-right" />
        </span>
        {/if}
        <div ref="wrap" class="f-oh">
            <ul ref="nav" class="kl-tabs__hd" r-style={navStyle}>
                {#list tabs as item}
                <li class="kl-tabs__tab" is-crt={item == selected} is-dis={item.data.disabled} on-click={this.select(item)}>
                  {#if @(titleTemplate)}
                    {#inc @(titleTemplate)}
                  {#else}
                    {item.data.title}
                  {/if}
                </li>
                {/list}
            </ul>
        </div>
    </div>
    <div class="kl-tabs__bd">
        {#inc this.$body}
    </div>
</div>