{#if title}
<div class="u-formitem {class}" cols="{cols}" offset="{offset}" row="{row}">
	<label class="formitem_tt" {#if labelCols != 0} cols="{labelCols}" {/if}>
		<span class="formitem_rqr" r-hide="{!required}">&#42;</span>
		{title}
		{#if tip}
		<tooltip tip="{tip}">
			<i class="u-icon u-icon-info-circle"></i>
		</tooltip>
		{/if}:
	</label>
	<span class="formitem_ct">
		{#inc this.$body}
	</span>
</div>

{#else}
<div class="{class}" cols="{cols}" offset="{offset}" row="{row}">
	{#inc this.$body}
</div>
{/if}
