.kl-uploader {
    display: inline-block;
    position: relative;
    overflow: hidden;

    form, iframe {
        display: none;
    }

    form {
        display: block;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        right: -5px;
        font-size: 100px;
        opacity: 0;
        cursor: pointer;
    }
}
