.kl-old-group {
    position:relative;
    display:table;
    border-collapse: separate;
    border-spacing:0;
    width:100%;

    > * {
        display:inline-block;
        border-radius:0!important;
        border-right-width:0!important;
        vertical-align:middle;
    }

    * {
        border-radius:0px;
    }

    .kl-col  { margin:0; padding:0; }

    > *:first-child > * {
        border-top-left-radius:4px!important;
        border-bottom-left-radius:4px!important;
        border-top-right-radius:0!important;
        border-bottom-right-radius:0!important;
        border-left-width:1px!important;
        border-right-width:0px!important;
    }

    > *:last-child > * {
        border-top-right-radius:4px!important;
        border-bottom-right-radius:4px!important;
        border-top-left-radius:0!important;
        border-bottom-left-radius:0!important;
        border-right-width:1px!important;
    }
}
