<div ref="m-upload">
    {#if listType === 'list'}
        <upload-list ref="upload"
            action={action}
            name={name}
            data={data}
            multiple={multiple}
            drag={drag}
            accept={accept}
            listType={listType}
            fileList={fileList}
            numMin={numMin}
            numMax={numMax}
            numPerline={numPerline}
            maxSize={maxSize}
            readonly={readonly}
            imageWidth={imageWidth}
            imageHeight={imageHeight}
            imageScale={imageScale}
            data={data}
            encType={encType}/>
    {#elseif listType === 'card'}
        <upload-card ref="upload"
            action={action}
            name={name}
            data={data}
            multiple={multiple}
            drag={drag}
            accept={accept}
            listType={listType}
            fileList={fileList}
            numMin={numMin}
            numMax={numMax}
            numPerline={numPerline}
            maxSize={maxSize}
            readonly={readonly}
            imageWidth={imageWidth}
            imageHeight={imageHeight}
            imageScale={imageScale}
            data={data}
            encType={encType}/>
    {/if}
</div>
