@import "_common"
@import "_header"
@import '_sidebar'

$width = 900px
$space = 50px


#logo
    span
        font-size 1.2em

.sidebar
    display none

#mobile-bar
    &.top
        background-color transparent
        box-shadow none
        .logo
            display none
#footer
    padding $space 0
    color #fff
    text-align center
    a
        font-weight 700
        color #fff

.page-wrap
    background: transparent;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 600px;
    position: relative;
    .text-left 
        .page-text-wrap
            left: 9%;
        .page-pic
            margin-right: 7%;
    .text-right 
        .page-text-wrap
            right: 9%;
        .page-pic
            margin-left: 2%;
.page
    min-height: 500px;
    height: 100vh;
    .page-text-wrap
        position: absolute;
        width: 40%;
        top: 50%;
        transform: translate(0px, -50%);
        color: #fff;
        text-align: left;
        font-family: Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
        .logo
            img
                height:60px;
        .title
            margin: 0px;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            transform: translate(0px, -100px);
            opacity: 0;
            transition: transform .8s .4s, opacity .8s .4s;
        .description
            color: #fff;
            font-size: 1.3rem;
            transform: translate(0px, -100px);
            opacity: 0;
            transition: transform .8s .3s, opacity .8s .3s;
        .action
            transform: translate(0px, -100px);
            opacity: 0;
            transition: transform .8s .2s, opacity .8s .2s;
    .text-white
        .title
            color: #666;
        .description
            color: #888;
    .normal-button
        display: inline-block;
        width: 94px;
        height: 40px;
        border: 1px solid #F31919;
        color: #fff;
        background-color: #F31919;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    .white-button
        border: 1px solid #fff;
        background: none;
    .page-pic
        position: relative;
        margin: auto;
        top: 50%;
        width: 35%;
        transform: translate(0px, -40%);
        opacity: 0;
        transition: transform .8s .2s, opacity .8s .2s;
        img 
            width 100%;
    .next-step
        position: absolute;
        width: 100%;
        bottom: 16px;
        text-align: center;
        animation: slideDown 1s linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
#mianView 
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url(../images/mainview.jpg) no-repeat 50%/cover;
    .title
        transform: translate(0px, 0px);
        opacity: 1;
    .description
        transform: translate(0px, 0px);
        opacity: 1;
    .page-pic
        transform: translate(0px, -50%);
        opacity: 1;
.active
    #pic2,#pic3
        transform: translate(0px, -50%); 
        opacity: 1;
    #title2,#description2,#action2,#title3,#description3,#action3
        transform: translate(0px, 0px); 
        opacity: 1;
#page2 
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url(../images/page2.jpg) no-repeat 50%/cover;
#page3 
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #3CA9F2;
@keyframes winkle {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
#page4 
    position: relative;
    width: 100%;
    overflow: hidden;
    .content-block
        position: relative;
        height: calc(100% - 180px);
        background: url(../images/page4.jpg) no-repeat 50%/cover;
        .page-text-wrap
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            .description
                color: #A0DFFF;
                transform: translate(0px, 0px);
                opacity: 1;
            .winkle
                animation: winkle 0.4s linear;
                animation-direction: alternate-reverse;
                animation-iteration-count: infinite;
    .footer-wrap
        background-color: #1A2E46;
        border-top: 1px solid #263950;
        height: 180px;
        .footer-block
            width: 80%;
            height: 100%;
            margin: 20px auto 0px;
            display: flex;
            justify-content: space-between;
            div 
                width: 300px;
                .title
                    font-size: 1rem;
                    color: #FFFFFF;
                    line-height: 30px;
                    margin: 0px;
                .detail 
                    font-size: 0.8rem;
                    color: #667A92;
                    line-height: 20px;
                    margin: 10px 0px;
                    a
                        color: #667A92;
@keyframes slideDown 
    0% 
        bottom 16px;
    100%
        bottom 6px;
.choose-bar
    position: fixed;
    padding: 0px 40px;
    top: 50%;
    right: 0px;
    z-index: 2;
    .step
        display: block;
        width: 8px;
        height: 8px;
        background-color: #3276C7;
        margin: 10px 5px;
    .active
        background: #F31919;
#animateText
    height: 38px;
@media screen and (max-width: $width)
    html
        font-size 14px
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block