@import "_common"
@import "_header"
@import '_sidebar'

$width = 900px
$space = 50px


#logo
    span
        font-size 1.2em

.sidebar
    display none

#mobile-bar
    &.top
        background-color transparent
        box-shadow none
        .logo
            display none
#footer
    padding $space 0
    color #fff
    text-align center
    a
        font-weight 700
        color #fff

.page-wrap
    background: transparent;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 600px;
    position: relative;
    .text-left 
        .page-text-wrap
            left: 9%;
        .page-pic
            margin-right: 7%;
    .text-right 
        .page-text-wrap
            right: 9%;
        .page-pic
            margin-left: 2%;
.page
    min-height: 700px;
    height: 100vh;
    .page-text-wrap
        position: absolute;
        width: 500px;
        top: 50%;
        color: #fff;
        text-align: left;
        font-family: Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
        .logo
            img
                height:60px;
        .title
            margin: 0px;
            color: #fff;
            font-size: 48px;
            font-weight: bold;
        .description
            color: #fff;
            font-size: 24px;
    .text-white
        .title
            color: #666;
        .description
            color: #888;
    .normal-button
        display: inline-block;
        width: 94px;
        height: 40px;
        border: 1px solid #F31919;
        color: #fff;
        background-color: #F31919;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    .white-button
        border: 1px solid #fff;
        background: none;
    .page-pic
        position: relative;
        margin: auto;
        top: 35%;
        width: 740px;
        height: 500px;
    .next-step
        position: absolute;
        width: 100%;
        bottom: 16px;
        text-align: center;
        animation: slideDown 1s linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    .choose-bar
        position: absolute;
        padding: 0px 40px;
        top: 50%;
        right: 0px;
        .step
            display: block;
            width: 8px;
            height: 8px;
            background-color: #3276C7;
            margin: 10px 5px;
        .current
            background: #F31919;
#mianView 
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url(../images/mainview.jpg) no-repeat 50%/cover;
    .page-pic
        background: url(../images/float1.png) no-repeat 50% 50%;
#page2 
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url(../images/page2.jpg) no-repeat 50%/cover;
    .page-pic
        background: url(../images/float2.png) no-repeat 50% 50%;
#page3 
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #3CA9F2;
    .page-pic
        background: url(../images/float3.png) no-repeat 50% 50%;
#page4 
    position: relative;
    width: 100%;
    overflow: hidden;
    .content-block
        position: relative;
        height: 70vh;
        background: url(../images/page4.jpg) no-repeat 50%/cover;
        .page-text-wrap
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            .description
                color: #A0DFFF;
    .footer-wrap
        background-color: #1A2E46;
        border-top: 1px solid #263950;
        height: 30vh;
        .footer-block
            width: 80%;
            height: 100%;
            margin: 20px auto 0px;
            display: flex;
            justify-content: space-between;
            div 
                width: 300px;
                .title
                    font-size: 1.2em;
                    color: #FFFFFF;
                    line-height: 40px;
                .detail 
                    font-size: 1em;
                    color: #667A92;
                    line-height: 20px;
@keyframes slideDown 
    0% 
        bottom 16px;
    100%
        bottom 10px;
@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px
    .sidebar
        display block
    #header
        display none
    #mobile-bar
        display block