@import "_common"
@import "_header"
@import '_sidebar'


html, body { width: 100%; height: 100%; overflow: hidden; }
body { font-family: sans-serif, 'Arial'; }
#fullpage { height: 100%; }
.m-section { height: 100%; }
.m-section .section_wrap { position: relative; height: 100%; margin: auto; overflow: hidden; }
.m-section .section_desc { font-size: 24px; line-height: 24px; color: #fff; margin-bottom: 30px; }
.m-section .section_desc-1 { color: #888; line-height: 36px; }
.m-section .section_desc-2 { line-height: 36px; margin-top: 21px; margin-bottom: 43px; color: #888; }
.m-section .section_desc-3 { color:#E1F5FF; line-height: 36px; }
.m-section .section_btns { margin-top: 8px; }
.m-section .section_btn { display: inline-block; width: 94px; height: 38px; line-height: 38px; font-size: 14px; text-align:center; color: #fff; background: #F31919; border:1px solid #F31919; border-radius: 4px; }
.m-section .section_btn-white { background: none; border: 1px solid #fff; margin-left: 10px; }
.m-section .section_tt { font-size: 48px; color: #666; line-height: 48px; }
.m-section .section_tt-white { color: #fff; }

.m-section1 { background:#1D2E45 url(//haitao.nos.netease.com/056f5787-daa5-4a46-8eb4-d662eb6c7618.jpg) no-repeat scroll right bottom; background-size: 66%; }
.m-section1 .section1_logo { width: 189px; height: 60px; margin-bottom: 6px; }
.m-section1 .section1_left { position: absolute; left: 8.2%; top: calc(27.7% + 12%); z-index: 2; }
.m-section1 .section1_divider { display: inline-block; width: 1px; height: 24px; margin:0 12px; vertical-align:bottom; background: #939393; }
.m-section1 .section1_right { position: absolute; width: 100%; height: 100%; background: url(//haitao.nos.netease.com/64daa6f4-aeb7-41ce-a57b-c582b258a49e.png) no-repeat scroll 89% calc(50% + 12%); background-size: 46%; }
.m-section1 .section1_arrow { position: absolute; bottom: 16px; left: 0; right: 0; margin: auto; width:24px; height: 12px; background: url(//haitao.nos.netease.com/94b0dfad-7d35-4903-a781-2809d5d26f64.png); background-size: cover;  animation: bounce 1.5s ease-in-out infinite alternate; }
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


.m-section2 { background: #fff url(//haitao.nos.netease.com/0eff8981-f60c-4e70-a0b5-e0e0d86573ed.jpg) no-repeat; background-size: cover; }
.m-section2 .section2_right { position: absolute; width: 500px; left: 60.6%; top: calc(26.8% + 12%);  }
.m-section2 .section2_left { position: absolute; width: 100%; height: 100%; background: url(//haitao.nos.netease.com/1335d2b1-0d35-4943-819a-ff65d9602c16.png) no-repeat scroll 20% calc(42% + 15%); background-size: 36.8%;  }

.m-section3 { background-image: linear-gradient(-144deg, #3CA9F2 0%, #3F80DF 100%); }
.m-section3 .section3_left { position: absolute; width: 410px; left: 10%; top: calc(27.4% + 12%); z-index: 2; }
.m-section3 .section3_right { position: absolute; width: 100%; height: 100%; background: url(//haitao.nos.netease.com/51e3a64c-f220-4aa6-a30f-b0fbafd16d97.png) no-repeat scroll 87% calc(39% + 12%); background-size: 43.7%;  }

.m-section4 { background: #1a2e46 url(//haitao.nos.netease.com/250b92a1-47a8-4383-af2a-8dc6573d0af9.png) no-repeat; background-size: 100%; }
.m-section4 .section4_inner { position: absolute; width: 260px; height: 184px; top: 50%; left: 50%; margin-top: -172px; margin-left: -130px; text-align:center;  }
.m-section4 .section4_logo { display: inline-block; width: 148px; height: 46px; background-size: 100%; }
.m-section4 .section4_subtt { color: #A0DFFF; font-size: 24px; line-height: 24px; margin: 32px 0;  }
.m-section4 .section4_subtt:after { content: ' '; display: inline-block; width: 3px; height: 24px; vertical-align:bottom; margin-left:5px; background: #a0dfff; opacity:1; animation: blink 1.2s ease-in-out infinite; }
@keyframes blink {
  to{opacity: .0;}
}

.m-anchors { position: fixed; right: 40px; top: 50%; height: 62px; margin-top: -31px; list-style: none; padding: 0;  }
.m-anchors .anchors_item { width: 8px; height: 8px; background: #3276c7; margin-bottom: 10px; transition:all .5s ease-out;  }
.m-anchors .anchors_item.current { background: #f31919; }

.m-ft { position: absolute; bottom: 0; left: 0; right: 0; padding: 41px 0; border-top: 1px solid #263950; }
.m-ft .ft_wrap { width: 900px; margin: 0 auto; }
.m-ft .ft_links { float: left; width: 225px; padding-left: 50px; list-style: none; font-size: 12px; color: #667A92; line-height: 28px; box-sizing: border-box; }
.m-ft .ft_links a { color: #667a92; }
.m-ft .ft_tt { margin-bottom: 8px; font-size: 14px; color: #fff;  }

/* transitions */
.m-section2 .section_tt, .m-section3 .section_tt { transition: all 1s 0.4s; }
.m-section2 .section_desc, .m-section3 .section_desc { transition: all 1s 0.3s; }
.m-section2 .section_btns, .m-section3 .section_btns { transition: all 1s 0.2s; }

.m-section2 .section_tt, .m-section2 .section_desc, .m-section2 .section_btns,
.m-section3 .section_tt, .m-section3 .section_desc, .m-section3 .section_btns { transform: translate(0, -100px); opacity: 0; }

.m-section2.active .section_tt, .m-section2.active .section_desc, .m-section2.active .section_btns,
.m-section3.active .section_tt, .m-section3.active .section_desc, .m-section3.active .section_btns { transform: translate(0, 0); opacity: 1; }

.m-section2 .section2_left, .m-section3 .section3_right { transform: translate(0px, 100px); opacity: 0; transition: transform 1s 0.2s, opacity 1s 0.2s; }
.m-section2.active .section2_left, .m-section3.active .section3_right { transform: translate(0, 0); opacity: 1; }

.m-section1 .section1_right { transform: translate(0px, 100px); opacity: 0; transition: all .8s ease-in-out; }
.m-section1.loaded.active .section1_right { opacity: 1; transform: translate(0, 0); }

.m-section4 .section4_logo { transform: translate(0, -100px); opacity: 0;  transition: transform 1s 0.2s, opacity 1s 0.2s;  }
.m-section4.active .section4_logo { transform: translate(0, 0); opacity: 1; }
