@import "_common"
@import "_header"
@import "_sidebar"

#header
    border-bottom 1px $border-color solid
    transition background-color .3s ease-in-out

.content
    position relative
    padding 2.2em 0
    max-width 1400px
    margin 0 auto
    font-size 12px
    &.api
        > a:first-of-type > h2
            margin-top 0
            padding-top: 0
    a.button
        font-size .9em
        color #fff
        margin .2em 0
        width 180px
        text-align center
        padding 12px 24px
        display inline-block
        vertical-align middle
    img
        max-width 100%
    span.light
        color $light
    span.info
        font-size .85em
        display inline-block
        vertical-align middle
        width 280px
        margin-left 20px
    h1
        margin 0 0 1em
    > h1
        font-size: 20px;
        color: #333;
        border-bottom: 1px solid #E1E6EC;
        margin: 40px 0px;
    h2, h3
        &:before
            content ''
            display block
            margin-top -1 * $heading-link-padding-top
            height $heading-link-padding-top
            visibility hidden
    a>h2
        &:before
            margin-top: 0px;
            height: 0px;
        z-index: -1;
        font-size: 16px;
        color: #333333;
        line-height: 22px;
        height: 22px;
        border-left: 3px solid #333;
        border-bottom: none;
        padding: 0px 8px;
        margin: 23px 0px;
    h2
        font-size: 16px;
        color: #333333;
        padding: 0px 8px;
        border-left: 3px solid #333;
        height: 16px;
        line-height: 16px;
        z-index: -1;
        display: flex;
        &:before
            margin-top 0px
            height 0px
        span
            color #CCCCCC
            font-weight normal
            padding 0px 8px
    h3
        position relative
        z-index: -1
        font-size: 12px;
        margin: 0px 22px;
        &:before
            height: 100px;
        &:after
            content " "
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background: #0398ff;
            position absolute
            left -0.9em
            bottom 9px;
    figure
        margin 1.2em 0
    blockquote
        margin 2em 0
        padding-left 20px
        border-left 4px solid $theme
        p
            font-weight 600
            margin-left 0
    iframe
        margin 1em 0
    > table
        margin 10px
        border 2px solid $white
        width 100%
        td, th
            line-height 1.6em
            padding .5em 1.4em
            border none
        tr
            &:nth-child(2n-1)
                background: #fff;
            &:nth-child(2n)
                background: #f6f9fc;
        td
            border-bottom: 1px solid #ecf2f9;
        th
            background-color: #eef1f4
            border-bottom: 1px solid #ecf2f9;
            color: #666666
            text-align left
    > p
        margin: 0px 22px;
    > dl
        margin: 0px 22px;
    p.tip
        padding 12px 24px 12px 30px
        margin 2em 0
        border-left 4px solid $red
        background-color $codebg
        position relative
        border-bottom-right-radius $radius
        border-top-right-radius $radius

        &:before
            position absolute
            top 14px
            left -12px
            background-color $red
            color #fff
            content "!"
            width 20px
            height 20px
            border-radius 100%
            text-align center
            line-height 20px
            font-weight bold
            font-family $logo-font
            font-size 14px

        code
            background-color #efefef

        em
            color $medium
    > .m-example
        padding 0px 22px

.guide-links
    margin-top 2em
    border-top 1px solid #e5e5e5
    display flex
    font-size 14px

    .placeholder
        flex: 1

    .pager
        margin 2em 0

        span
            display inline-block
            vertical-align middle

        .icon
            width 18px
            height 18px
            border-radius 50%
            border 1px solid #ccc
            background-position center center
            background-repeat no-repeat
            background-size 10px

        .icon-left
            background-image url(../images/arrow-left.png)
            margin-right 5px

        .icon-right
            background-image url(../images/arrow-right.png)
            margin-left 5px

.footer
    color $light
    padding-top 2em
    font-size .9em

#main.fix-sidebar
    .sidebar
        position fixed

@media screen and (min-width: 1590px)
    #header
        background-color rgba(255,255,255,.4)
@media screen and (min-width: 1500px)
    .content.with-sidebar
        margin-left 270px
@media screen and (max-width: 1500px)
    .content.with-sidebar
        margin-left 250px
    #ad
        z-index 7
        position relative
        padding 0
        bottom 0
        right 0
        float right
        padding 0 0 20px 30px

@media screen and (max-width: 900px)
    body
        -webkit-text-size-adjust none
        font-size 14px
    #header
        display none
    #logo
        display none
    .nav-link
        padding-bottom 1px
        &:hover, &.current
            border-bottom 2px solid $theme
    #mobile-bar
        display block
    #main
        padding 2em 1.4em 0
    .highlight pre
        padding 1.2em 1em
    .content
        &.with-sidebar
            margin auto
        h2, h3
            &:before
                content ''
                display block
                margin-top -1 * $mobile-heading-link-padding-top
                height $mobile-heading-link-padding-top
                visibility hidden
    .footer
        margin-left 0
        text-align center

@media screen and (max-width: 560px)
    #downloads
        text-align center
        margin-bottom 25px
        .info
            margin-top 5px
            margin-left 0
    iframe
        margin: 0 !important

.grid-item
        transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        width: auto;
        border: 1px solid #e1e6ec;
        margin: 0px 0px 20px 22px;
        border-radius: 4px;
        padding: 16px 24px 0 24px;
        font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
        font-size: 12px;
        color: #666;
        word-wrap: break-word;
        h3
            margin: 0;
        //em
        //    padding-bottom: 8px;
        //    color: #333;
        //    display: block;
        //    font-size: 14px;
        //    line-height: 17px;
        //    font-weight: bold;
        &:hover
            box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
            -moz-box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
            -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
            .m-iconOuter, .m-iconTitle
                transform: translateX(-30px);
                -ms-transform: translateX(-30px);
                -webkit-transform: translateX(-30px);
                -o-transform: translateX(-30px);
                -moz-transform: translateX(-30px);
            .m-iconOuter.revert
                transform: translateX(-30px) rotate(180deg);
                -ms-transform: translateX(-30px) rotate(180deg);
                -webkit-transform: translateX(-30px) rotate(180deg);
                -o-transform: translateX(-30px) rotate(180deg);
                -moz-transform: translateX(-30px) rotate(180deg);
            .revertBtn
                display: inline-block;
            .m-iconTitle
                opacity: 1;
            .m-onlineRun
                opacity: 1;
                transform: translateX(-10px);
                -ms-transform: translateX(-10px);
                -webkit-transform: translateX(-10px);
                -o-transform: translateX(-10px);
                -moz-transform: translateX(-10px);

.type-tag
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 10px;
    &-event
      border-left: 1px solid #54a8f7;
      color: #54a8f7;
    &-static
      border-left: 1px solid #54a8f7;
      color: #54a8f7;
.param-title
    color: #666!important;

.m-example
    padding: 8px 0px 20px;
.m-code
    margin: 0px -24px;
    .highlight
        background-color: #fff;
    figure
        margin: 0px;
        padding: 0em 0.8em;
.m-onlineRun
    border: none;
    color: #0398ff;
    height: 41px;
    &:hover
        color: #0398ff;
.m-copyCode
    margin-top: 18px;
.m-demowrap
    border-top: 1px solid #e1e6ec;
    .m-iconLine, .m-iconTitle, .m-onlineRun, .revertBtn, .m-iconOuter
        transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
    .m-iconLine
        position: relative;
        text-align: center;
        color: #B2BFCF;
        .revert
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            color: #b2bfcf;
        .m-iconBtn
            display: inline-block;
        &:hover
            .m-iconTitle
                color: #0398ff;
            .m-iconOuter
                color: #0398ff;
    .m-iconBtn
        width: 120px;
    .m-onlineRun
        display: inline-block;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 0px;
    .m-iconTitle
        cursor: pointer;
        color: #b2bfcf;
        height: 41px;
        line-height: 41px;
        display: inline-block;
        opacity: 0;
        width: 80px;
        position: relative;
        left: 10px;
    .m-operate-ctn
        position:absolute;
        top: 0px;
        right: 20px;
        z-index: 1;
    .m-iconOuter
        position: relative;
        left: 40px;
        display: inline-block;
        width: 17px;
        height: 41px;
        font-size: 14px;
        line-height: 41px;
        border-radius: 9px;
        background-color: #fff;
        cursor: pointer;
    .m-codeBlock
        border-bottom: 1px solid #e1e6ec;
        overflow: hidden;
        position: relative;
        .figure-outer
            margin-top: 10px;
            .highlight
                background-color #fff
            code, pre
                background-color #fff
    .wrap
        height: 0px;
        border-bottom: none;

.s-bg-dark
    background: black;
