@include b(col) {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 0 10px;
}

@for $i from 1 through $--col-size {
  .kl-col-#{$i} {
    width: 100% * $i / $--col-size;
  }

  .kl-col-offset-#{$i} {
    box-sizing: border-box;
    margin-left: 100% * $i / $--col-size;
  }
}

@media (max-width: 768px) {
  @for $i from 1 through $--col-size {
    .kl-col-xs-#{$i} {
      width: 100% * $i / $--col-size;
    }

    .kl-col-xs-offset-#{$i} {
      box-sizing: border-box;
      margin-left: 100% * $i / $--col-size;
    }

    .kl-col-xs-pull-#{$i} {
      position: relative;
      right: 100% * $i / $--col-size;
    }
    .kl-col-xs-push-#{$i} {
      position: relative;
      left: 100% * $i / $--col-size;
    }
  }
}

@media (min-width: 992px) {
  @for $i from 1 through $--col-size {
    .kl-col-md-#{$i} {
      width: 100% * $i / $--col-size;
    }

    .kl-col-md-offset-#{$i} {
      box-sizing: border-box;
      margin-left: 100% * $i / $--col-size;
    }

    .kl-col-md-pull-#{$i} {
      position: relative;
      right: 100% * $i / $--col-size;
    }
    .kl-col-md-push-#{$i} {
      position: relative;
      left: 100% * $i / $--col-size;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 1 through $--col-size {
    .kl-col-lg-#{$i} {
      width: 100% * $i / $--col-size;
    }

    .kl-col-lg-offset-#{$i} {
      box-sizing: border-box;
      margin-left: 100% * $i / $--col-size;
    }

    .kl-col-lg-pull-#{$i} {
      position: relative;
      right: 100% * $i / $--col-size;
    }
    .kl-col-lg-push-#{$i} {
      position: relative;
      left: 100% * $i / $--col-size;
    }
  }
}