@include b(dropdown) {
    position: relative;
    vertical-align: top;
    @include e(bd) {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 100%;
        line-height:normal;
        .kl-listview {
            > li > a {
                display: block;
            }
        }
        .kl-check,
        .kl-check_box{
            margin-bottom: 0;
        }
    }
    @include e(hd) {
        &.is-dis {
            background: #eee;
            color: #999;
            border: 1px solid #d2d6de;
            cursor: not-allowed;
        }
    }
    &.is-dis {
        .kl-dropdown__hd > .kl-btn {
            cursor: not-allowed;
            opacity: .5;
            box-shadow: none;
        }
    }
}
