<table
    class="table_tb"
    r-style={{
        'width': width == undefined ? 'auto' : width + 'px',
        'text-align': config.textAlign || 'center',
        'margin-left': fixedCol === 'right' ? '-'+marginLeft+'px' : ''
    }}>
    <colgroup>
        {#list _dataColumns as _dataColumn by _dataColumn_index}
            <col width={_dataColumn._width}>
        {/list}
        <!-- 当固定表头时，内容区出现垂直滚动条则需要占位 -->
        {#if scrollYBar}
            <col name="gutter" width={scrollYBar}>
        {/if}
    </colgroup>

    <thead class="tb_hd">
        {#list headers as headerTr by headerTr_index}
            <tr class="tb_hd_tr">
                {#list headerTr as header by header_index}
                    <th ref="table_th_{headerTr_index}_{header_index}"
                        class="tb_hd_th {header.thClass}"
                        r-class={{
                            'f-visibility-hidden': (fixedCol && !header.fixed) || (!fixedCol && !!header.fixed),
                        }}
                        colspan="{header.headerColSpan}"
                        rowspan="{headers.length - headerTr_index - header.childrenDepth}"
                        on-mousedown={this._onMouseDown($event, header, header_index, headerTr_index)}
                        on-mousemove={this._onMouseMove($event, header, header_index, headerTr_index)}
                        on-mouseout={this._onMouseOut($event, header, header_index, headerTr_index)}>
                        <div class="th_content f-flex-{header.align || align || 'center'}"
                            title={header.name}
                            on-click={this._onHeaderClick(header, header_index)}>
                            {#include this._getTHElement(header, headers)}
                        </div>
                    </th>
                {/list}

                {#if scrollYBar}
                    <th class="th_hd_gutter" />
                {/if}
            </tr>
        {/list}
    </thead>
</table>
