<table class="kl-table-tbody"
    r-style={{
        'width': width == undefined ? 'auto' : width - scrollYBarWidth + 'px',
        'text-align': config.textAlign || 'center',
        'margin-left': fixedCol === 'right' ? '-'+marginLeft+'px' : ''
    }}>
    <colgroup>
        {#list _dataColumns as _dataColumn by _dataColumn_index}
            <col width={_dataColumn._width}>
        {/list}
    </colgroup>

    <tbody class="kl-table-tbody-body">
        <!-- 加载中 -->
        {#if loading}
        <tr class="kl-table-tbody-body__tr">
            <td class="kl-table-tbody-body__td" colspan={_dataColumns.length}>
                <kl-loading visible={loading} static>
                  <p>{this.$trans('LOADING')}</p>
                </kl-loading>
            </td>
        </tr>

        <!-- 内容 -->
        {#elseif source.length > 0}
        {#list source as item by item_index}
        <tr ref="row{item_index}"
            class="kl-table-tbody-body__tr {item.rowClass || item.trClass}"
            style="{item.rowStyle || item.trStyle}"
            r-class={{
                'is-hover': item._hover
            }}
            on-click={this._onRowClick($event, item, item_index)}
            on-mouseover={this._onRowHover($event, item)}
            on-mouseout={this._onRowBlur($event, item)} >
            {#list _dataColumns as column by column_index}
            <td class="kl-table-tbody-body-td kl-table-tbody-body__td {item.unitClass && item.unitStyle[item_index] || column.columnClass || column.tdClass}"
                style="{(item.unitStyle && item.unitStyle[item_index]) || column.columnStyle || column.tdStyle}"
                on-click={this._onUnitClick($event, item, item_index, column, column_index)}
                r-style={{
                    'text-align': column.align || align
                }}
            >
                <div class="kl-table-tbody-body-td__div">
                    {#if column.template}
                        {#include column.template}
                    {#elseif column.formatter}
                        {#include this._getFormatter(column, item)}
                    {#elseif column.format}
                        {#include this._getFormat(column)}
                    {#elseif column.type}
                        {#include this._getTypeTemplate(column)}
                    {#else}
                    <!-- deafult template -->
                        <span class="f-ellipsis {column.lineClamp || lineClamp ? 'f-line-clamp-' + (column.lineClamp || lineClamp) : 'f-line-clamp-3'}" title={this._filter(column, item[column.key], item, item_index)}>{this._filter(column, item[column.key], item, item_index) | placeholder: column, this}</span>
                    {/if}
                    {#if column.expandable}
                    <span class="u-expand-sign f-cursor-pointer"
                        on-click={this._onExpand(item, item_index, column)}>
                        {item | expandSign}
                    </span>
                    {/if}
                </div>
            </td>
            {/list}
        </tr>

        <!-- 下钻内容 -->
        {#if item.expand}
        <tr class="kl-table-tbody-body__tr kl-table-tbody-body--trExpand"
            r-style={{
                height: item._expandHeight + 'px'
            }}
        >
            <td
                class="{column.tdClass}"
                colspan={_dataColumns.length}>
                <!-- {#if !fixedCol} -->
                    <!-- {#include item._expanddingColumn.expandTemplate} -->
                <!-- {/if} -->
            </td>
        </tr>
        {/if}
        {/list}

        <!-- 空内容 -->
        {#else}
        <tr class="kl-table-tbody-body__tr">
            <td class="kl-table-tbody-body__td" colspan={_dataColumns.length}>
                <span class="kl-table-tbody-body__td--empty">{this.$trans('NO_DATA')}</span>
            </td>
        </tr>
        {/if}
    </tbody>
</table>
