<table class="table_tb"
    r-style={{
        'width': width == undefined ? 'auto' : width - scrollYBarWidth + 'px',
        'text-align': config.textAlign || 'center',
        'margin-left': fixedCol === 'right' ? '-'+marginLeft+'px' : ''
    }}>
    <colgroup>
        {#list _dataColumns as _dataColumn by _dataColumn_index}
            <col width={_dataColumn._width}>
        {/list}
    </colgroup>

    <tbody class="tb_bd">
        <!-- 加载中 -->
        {#if loading}
        <tr class="tb_bd_tr">
            <td class="tb_bd_td" colspan={_dataColumns.length}>
                <kl-loading visible={loading} static />&nbsp;{this.$trans('LOADING')}...
            </td>
        </tr>

        <!-- 内容 -->
        {#elseif source.length > 0}
        {#list source as item by item_index}
        <tr class="tb_bd_tr {item.rowClass || item.trClass}"
            style="{item.rowStyle || item.trStyle}"
            r-class={{
                'z-hover': item._hover
            }}
            on-mouseover={this._onTrHover($event, item)}
            on-mouseout={this._onTrBlur($event, item)} >
            {#list _dataColumns as column by column_index}
            <td class="tb_bd_td {item.unitClass || column.columnClass}"
                style="{item.unitStyle || column.columnStyle}"
                r-style={{
                    'text-align': column.align || align
                }}
            >
                <div class="tb_bd_td_div ">
                    {#if column.template}
                        {#include @(column.template)}
                    {#elseif column.formatter}
                        {#include this._getFormatter(column, item)}
                    {#elseif column.format}
                        {#include this._getFormat(column)}
                    {#elseif column.type}
                        {#include this._getTypeTemplate(column)}
                    {#else}
                    <!-- deafult template -->
                        <span class="f-ellipsis {column.lineClamp || lineClamp ? 'f-line-clamp-' + (column.lineClamp || lineClamp) : 'f-line-clamp-3'}" title={this._filter(column, item[column.key], item, item_index)}>{this._filter(column, item[column.key], item, item_index) | placeholder: column, this}</span>
                    {/if}
                    {#if column.expandable}
                    <span class="u-expand-sign f-cursor-pointer"
                        on-click={this._onExpand(item, item_index, column)}>
                        {item | expandSign}
                    </span>
                    {/if}
                </div>
            </td>
            {/list}
        </tr>

        <!-- 下钻内容 -->
        {#if item.expand}
        <tr class="tb_bd_tr td_bd_tr_nohover">
            <td ref="td{item_index}"
                r-style={{
                    height: item._expandHeight && fixedCol ? item._expandHeight + 'px' : 'auto'
                }}
                class="m-sub-protable-td {column.tdClass}"
                colspan={_dataColumns.length}>
                {#include item._expanddingColumn.expandTemplate}
            </td>
        </tr>
        {/if}
        {/list}

        <!-- 空内容 -->
        {#else}
        <tr class="tb_bd_tr">
            <td class="tb_bd_td" colspan={_dataColumns.length}>
                <span class="td-empty">{this.$trans('NO_DATA')}</span>
            </td>
        </tr>
        {/if}
    </tbody>
</table>
