<div class="m-popconfirmMd" style="{offSetStyle}" ref="element">
    <div class="popconfirm_bd">
        {#if contentTemplate}
            {#inc @(contentTemplate)}
        {#else}
            <span class="u-icon u-icon-info-circle" style="color:red"></span>
            {content}
        {/if}
    </div>
    <div class="popconfirm_ft">
        {#if cancelButton}
        <button class="u-btn u-btn-xs" on-click={this.cancel()}>{cancelButton === true ? '取消' : cancelButton}</button>
        {/if}
        {#if okButton}
        <button class="u-btn u-btn-xs u-btn-primary" on-click={this.ok()} r-autofocus>{okButton === true ? '确定' : okButton}</button>
        {/if}
    </div>
    <div class="{arrow}-border"></div>
    <div class="{arrow}"></div>
</div>
