<div class="m-popconfirm {placement}" r-hide="{!isShow}">
	<div class="arrow"></div>
	<div class="inner">
		<div class="body">
			{#if contentTemplate}
			{#inc @(contentTemplate)}
			{#else}
			<span class="u-icon u-icon-info-circle u-text u-text-warning"></span>
			{content}
			{/if}
		</div>
		<div class="foot">
			<button class="u-btn u-btn-xs" on-click={this.cancel()}>{cancelText ? cancelText : '取消'}</button>
			<button class="u-btn u-btn-xs u-btn-primary" on-click={this.ok()} r-autofocus>{okText ? okText : '确定'}</button>
		</div>
	</div>
</div>