<!--<div :class="classes" @mousedown.prevent>-->
    <!--<div :class="[prefixCls + '-sidebar']" v-if="shortcuts.length">-->
        <!--<div-->
            <!--:class="[prefixCls + '-shortcut']"-->
            <!--v-for="shortcut in shortcuts"-->
            <!--@click="handleShortcutClick(shortcut)">{{ shortcut.text }}</div>-->
    <!--</div>-->
    <!--<div :class="panelBodyClasses">-->
        <!--<div :class="[prefixCls + '-content', prefixCls + '-content-left']" v-show="!isTime">-->
            <!--<div :class="[datePrefixCls + '-header']" v-show="currentView !== 'time'">-->
                <!--<span-->
                    <!--:class="iconBtnCls('prev', '-double')"-->
                    <!--@click="prevYear('left')"><Icon type="ios-arrow-back"></Icon></span>-->
                <!--<span-->
                    <!--v-if="leftPickerTable === 'date-table'"-->
                    <!--:class="iconBtnCls('prev')"-->
                    <!--@click="prevMonth('left')"-->
                    <!--v-show="currentView === 'date'"><Icon type="ios-arrow-back"></Icon></span>-->
                <!--<date-panel-label-->
                    <!--:date-panel-label="leftDatePanelLabel"-->
                    <!--:current-view="leftDatePanelView"-->
                    <!--:date-prefix-cls="datePrefixCls"></date-panel-label>-->
                <!--<span-->
                    <!--v-if="splitPanels || leftPickerTable !== 'date-table'"-->
                    <!--:class="iconBtnCls('next', '-double')"-->
                    <!--@click="nextYear('left')"><Icon type="ios-arrow-forward"></Icon></span>-->
                <!--<span-->
                    <!--v-if="splitPanels && leftPickerTable === 'date-table'"-->
                    <!--:class="iconBtnCls('next')"-->
                    <!--@click="nextMonth('left')"-->
                    <!--v-show="currentView === 'date'"><Icon type="ios-arrow-forward"></Icon></span>-->
            <!--</div>-->
            <!--<component-->
                <!--:is="leftPickerTable"-->
                <!--ref="leftYearTable"-->
                <!--v-if="currentView !== 'time'"-->
                <!--:table-date="leftPanelDate"-->
                <!--selection-mode="range"-->
                <!--:disabled-date="disabledDate"-->
                <!--:range-state="rangeState"-->
                <!--:show-week-numbers="showWeekNumbers"-->
                <!--:value="preSelecting.left ? [dates[0]] : dates"-->
                <!--:focused-date="focusedDate"-->

                <!--@on-change-range="handleChangeRange"-->
                <!--@on-pick="panelPickerHandlers.left"-->
                <!--@on-pick-click="handlePickClick"-->
            <!--&gt;</component>-->
        <!--</div>-->
        <!--<div :class="[prefixCls + '-content', prefixCls + '-content-right']" v-show="!isTime">-->
            <!--<div :class="[datePrefixCls + '-header']" v-show="currentView !== 'time'">-->
                <!--<span-->
                    <!--v-if="splitPanels || rightPickerTable !== 'date-table'"-->
                    <!--:class="iconBtnCls('prev', '-double')"-->
                    <!--@click="prevYear('right')"><Icon type="ios-arrow-back"></Icon></span>-->
                <!--<span-->
                    <!--v-if="splitPanels && rightPickerTable === 'date-table'"-->
                    <!--:class="iconBtnCls('prev')"-->
                    <!--@click="prevMonth('right')"-->
                    <!--v-show="currentView === 'date'"><Icon type="ios-arrow-back"></Icon></span>-->
                <!--<date-panel-label-->
                    <!--:date-panel-label="rightDatePanelLabel"-->
                    <!--:current-view="rightDatePanelView"-->
                    <!--:date-prefix-cls="datePrefixCls"></date-panel-label>-->
                <!--<span-->
                    <!--:class="iconBtnCls('next', '-double')"-->
                    <!--@click="nextYear('right')"><Icon type="ios-arrow-forward"></Icon></span>-->
                <!--<span-->
                    <!--v-if="rightPickerTable === 'date-table'"-->
                    <!--:class="iconBtnCls('next')"-->
                    <!--@click="nextMonth('right')"-->
                    <!--v-show="currentView === 'date'"><Icon type="ios-arrow-forward"></Icon></span>-->
            <!--</div>-->
            <!--<component-->
                <!--:is="rightPickerTable"-->
                <!--ref="rightYearTable"-->
                <!--v-if="currentView !== 'time'"-->
                <!--:table-date="rightPanelDate"-->
                <!--selection-mode="range"-->
                <!--:range-state="rangeState"-->
                <!--:disabled-date="disabledDate"-->
                <!--:show-week-numbers="showWeekNumbers"-->
                <!--:value="preSelecting.right ? [dates[dates.length - 1]] : dates"-->
                <!--:focused-date="focusedDate"-->

                <!--@on-change-range="handleChangeRange"-->
                <!--@on-pick="panelPickerHandlers.right"-->
                <!--@on-pick-click="handlePickClick"></component>-->
        <!--</div>-->
        <!--<div :class="[prefixCls + '-content']" v-show="isTime">-->
            <!--<time-picker-->
                <!--ref="timePicker"-->
                <!--v-if="currentView === 'time'"-->
                <!--:value="dates"-->
                <!--:format="format"-->
                <!--:time-disabled="timeDisabled"-->
                <!--v-bind="timePickerOptions"-->
                <!--@on-pick="handleRangePick"-->
                <!--@on-pick-click="handlePickClick"-->
                <!--@on-pick-clear="handlePickClear"-->
                <!--@on-pick-success="handlePickSuccess"-->
                <!--@on-pick-toggle-time="handleToggleTime"-->
            <!--&gt;</time-picker>-->
        <!--</div>-->
        <!--<Confirm-->
            <!--v-if="confirm"-->
            <!--:show-time="showTime"-->
            <!--:is-time="isTime"-->
            <!--:time-disabled="timeDisabled"-->
            <!--@on-pick-toggle-time="handleToggleTime"-->
            <!--@on-pick-clear="handlePickClear"-->
            <!--@on-pick-success="handlePickSuccess"></Confirm>-->
    <!--</div>-->
<!--</div>-->
