<div class="kl-upload-card" ref="element">
    <div class="kl-upload-card-files" ref="fileszone">
        <div class="kl-upload-card-entry-wrap" ref="entrywrapper" r-hide={fileUnitList.length === 0} on-click={this.toggle(undefined, $event)}>
            <div ref="filesentry" class="kl-upload-card-entry-wrap__entry">
                {#if entryFileInfo.type === 'image'}
                    <div class="kl-upload-card-imgwrap">
                        <img class="kl-upload-card-imgwrap__img" src={entryFileInfo.src} alt={entryFileInfo.name}/>
                    </div>
                {#elseif entryFileInfo.type === 'unknown'}
                    <span class="kl-upload-card__txt">{this.$trans('UNKNOWN')}</span>
                {#else} <!-- TEXT, DOC, JS, HTML -->
                    <span class="kl-upload-card__txt">{entryFileInfo.type.toUpperCase()}</span>
                {/if}
                <div>
                    {#if status === 'fail'}
                        <span class="kl-upload-unit-failed" on-click={this.uploadFiles()}>
                            <span class="kl-upload-unit-failed__info"><kl-icon type="retry" />{this.$trans('RETRY')}</span>
                        </span>
                    {#elseif status === 'uploading'}
                        <span class="kl-upload-unit-uploading">
                            <span class="kl-upload-unit-uploading__wrap">
                                <span class="kl-upload-unit-uploading__txt">{progress || '0%'}</span>
                                <kl-progress percent={progress || 0} />
                            </span>
                        </span>
                    {/if}
                </div>
                <span class="kl-upload-card__info">{fileUnitList.length}</span>
                <span ref="filesbanner" class="kl-upload-card__banner" r-class={{'is-top': isTopBanner}}></span>
                <ul ref="fileswrapper" class="kl-upload-list-filelist" on-click={this.toggle(true, $event)}
                    r-hide={fileUnitList.length === 0} r-style={{width: fileUnitListWidth + 'px'}}>
                    {#list fileUnitList as fileunit}
                        <li class="kl-upload-list-filelist__item"
                            r-style={{
                                "margin-left": fileunit_index && fileunit_index % numPerline ? fileUnitMargin + "px" : "auto"
                            }}>
                            <file-unit ref="fileunit{fileunit_index}"
                                file={fileunit}
                                action={action}
                                url={fileunit.url}
                                name={name}
                                status={fileunit.status}
                                readonly={readonly}
                                headers={headers}
                                withCredentials={withCredentials}
                                data={data}
                                onLoadInterceptor={onLoadInterceptor}
                                onErrorInterceptor={onErrorInterceptor}
                                beforeRemove={beforeRemove}
                                on-preview={this.onPreview($event)}
                                on-progress={this.onProgress($event)}
                                on-success={this.onSuccess($event)}
                                on-error={this.onError($event)}
                                on-remove={this.onRemove($event)}/>
                        </li>
                    {/list}
                </ul>
            </div>
            <div class="kl-upload-card-entry-wrap__info">{info}</div>
        </div>
        <div ref="inputwrapper" class="kl-upload-list-input-wrap" r-hide={readonly || fileUnitList.length >= numMax} on-click={this.fileDialogOpen()}>
            {#if this.$body}
                {#inc this.$body}
            {#else}
                <div class="kl-upload-list-input-wrap__btn"
                     r-class={{dragover: dragover}}
                     on-drop={this.onDrop($event)}
                     on-dragenter={this.onDragEnter($event)}
                     on-dragleave={this.onDragLeave($event)}
                     on-dragover={this.onDragOver($event)}>
                    <span class="kl-upload-list-input-wrap__cnt"><kl-icon type="plus" />{this.$trans('UPLOAD_FILE')}</span>
                </div>
                <div class="kl-upload-list-input-wrap__info">{preCheckInfo}</div>
            {/if}
        </div>
    </div>
    <form method="POST" action={url} target="iframe{_id}" enctype={contentType} ref="form">
        <input type="file" name={name} ref="file" multiple={multiple ? 'multiple' : ''} accept={accept} r-hide={true} on-change={this.fileSelect()}>
        {#list Object.keys(data) as key}
            <input type="hidden" name={key} value={data[key]}>
        {/list}
    </form>
    <div ref="imagepreview"></div>
</div>
