<div class="kl-popconfirm kl-popconfirm--{placement}">
	<div class="kl-popconfirm__arrow"></div>
	<div class="kl-popconfirm__inner">
		<div class="kl-popconfirm__body">
			{#if contentTemplate}
			{#inc @(contentTemplate)}
			{#else}
			<kl-icon type="info-circle" class="kl-text kl-text--warning"/>
			{content}
			{/if}
		</div>
		<div class="kl-popconfirm__foot">
          	<kl-button size="sm" on-click={this.cancel()} title={cancelText ? cancelText : this.$trans('CANCEL')} />
          	<kl-button size="sm" type="primary" on-click={this.ok()} r-autofocus title={okText ? okText : this.$trans('CONFIRM')} />
		</div>
	</div>
</div>