<div class="u-select u-select-{state} u-select-{size} {class}" r-width="{width}">
	<div class="u-dropdown" r-class={{isMultiple:multiple}}
	     z-dis={disabled} r-hide={!visible} ref="element">
	    {#if !multiple}
	        <div class="dropdown_hd"
				 z-dis={disabled}
	             title={selected?selected[nameKey]:placeholder}
	             on-click={this.toggle(!open, $event)}>
	            <i class="u-icon u-icon-angle_down"></i>
	            {#if open && canSearch}
	                <input disabled={disabled} type="text" class="u-search-input" r-autofocus
	                       placeholder={selected?selected[nameKey]:placeholder} r-model={searchValue}/>
	            {#else}
	                <span>{selected?selected[nameKey]:placeholder}</span>
	            {/if}
	        </div>
	    {#else}
	        <div class="dropdown_hd"
	             on-click={this.toggle(!open, $event)}>
	            {#list selected as item}
	                <span class="selected-tag">
	                    {item[nameKey]}
	                    <i class="u-icon u-icon-remove" on-click={this.removeSelected(selected,item_index,$event)}></i>
	                </span>
	            {/list}
	            {#if open && canSearch}
	            <input disabled={disabled} type="text" class="u-search-input" ref="input"
	                   on-keydown={this.backSearchValue($event,selected,searchValue)}
	                   computedTextWidth={searchValue} r-autofocus r-model={searchValue}/>
	            {/if}
	        </div>
	    {/if}
	    {#if open}
	    <div class="dropdown_bd"
	         r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
	        <ul class="m-listview">
	            {#if placeholder}
	                <li z-sel={multiple?!selected.length:!selected} on-click={this.select(undefined)}>
	                    {placeholder}
	                </li>
	            {/if}

	            {#list this.filterArray(source) as item}
	                {#if canSelectAll && multiple && item_index == 0 && (canSearch && !searchValue)}
	                    <li on-click={this.selectAll(selected.length!==this.filterData(source).length)}>
	                        <check disabled={disabled} checked={selected.length===this.filterData(source).length} />
	                        {this.$trans('ALL')}
	                    </li>
	                {/if}
	                {#if item.disabled && item.tip}
	                <tooltip tip={item.tip} placement={item.placement||'top'}>
	                    <li z-dis={item.disabled} z-divider={item.divider} z-sel={multiple?false:selected===item}
	                        title={item[nameKey]} on-click={this.select(item)}>
	                        {#if multiple && !item.divider}
	                            <check disabled={item.disabled} checked={multiple?this.indexOf(selected,item)!==-1:selected===item} />
	                        {/if}
	                        {#if @(itemTemplate)}
	                            {#inc @(itemTemplate)}
	                        {#else}
	                            {item[nameKey]}
	                        {/if}
	                    </li>
	                </tooltip>
	                {#else}
	                <li z-dis={item.disabled} z-divider={item.divider} z-sel={multiple?false:selected===item}
	                    title={item[nameKey]} on-click={this.select(item)}>
	                    {#if multiple && !item.divider}
	                        <check disabled={item.disabled} checked={multiple?this.indexOf(selected,item)!==-1:selected===item} />
	                    {/if}
	                    {#if @(itemTemplate)}
	                        {#inc @(itemTemplate)}
	                    {#else}
	                        {item[nameKey]}
	                    {/if}
	                </li>
	                {/if}
	            {#else}
	                {#if searchValue}
	                <li>
	                    {noMatchText}
	                </li>
	                {/if}
	            {/list}
	        </ul>
	    </div>
	    {/if}
	</div>
	{#if tip}<span class="u-tip u-tip-{state}"><i class="u-icon u-icon-{state}"></i>{tip}</span>{/if}
</div>
