@include b(textarea) {
    display: inline-block;
    position: relative;
    width: 100%;
    @include m(sm) {
        .kl-textarea__inner {
            @include form-item-size($--padding-sm, $--height-sm, $--font-size-xs);
            line-height: 2;
        }
    }
    @include m(lg) {
        .kl-textarea__inner {
            @include form-item-size($--padding-lg, $--height-lg, $--font-size-lg);
            line-height: 1.3;
        }
    }
    @include m(smw) {
        @include form-item-width($--width-sm);
    }
    @include m(mdw) {
        @include form-item-width($--width-md);
    }
    @include m(lgw) {
        @include form-item-width($--width-lg);
    }
    @include e(inner) {
        @include form-item-input;
        padding: $--padding-base;
        color: $--text-color-default;
        background: $--background-color-base;
        border-radius: $--border-radius-base;
        border: 1px solid #EEEEEE;
        font-size: $--font-size-base;
        width: 100%;
        height: 120px;
        &:hover {
            @include form-item-hover;
        }
        &:focus {
            @include form-item-focus;
        }
        &:disabled {
            @include form-item-disabled;
        }
        @include m(error) {
            @include form-item-error;
        }
        @include form-item-transition;
    }
    @include e(placeholder) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: $--text-color-placeholder;
        padding: $--padding-base;
        border-left: 1px solid transparent;
    }
    @include e(length) {
        font-size: 12px;
        color: #999;
    }
}
