<div class="u-dropdown u-suggest {class}" z-dis={disabled} r-hide={!visible} ref="element">
    <div class="dropdown_hd">
        <label class="u-input">
            <input class="input" placeholder={placeholder} maxlength={maxlength} autofocus={autofocus} r-model={value} on-focus={this._onInput($event)} on-keyup={this._onInput($event)} on-blur={this._onBlur($event)} ref="input" readonly={readonly} disabled={disabled}>
        </label>
    </div>
    {#if open}
    <div class="dropdown_bd" r-animation="on: enter; class: animated fadeInY fast; on: leave; class: animated fadeOutY fast;">
        <ul class="m-listview">
            {#list source as item}
            {#if this.filter(item)}
                <li z-dis={item.disabled} z-divider={item.divider} title={item[nameKey]} on-click={this.select(item)}>{#if @(itemTemplate)}{#inc @(itemTemplate)}{#else}{item[nameKey]}{/if}</li>
            {/if}
            {/list}
        </ul>
    </div>
    {/if}
</div>
{#if tip}<span class="u-tip u-tip-{state}"><i class="u-icon u-icon-{state}"></i>{tip}</span>{/if}